<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Reset Your Password</h1>
<h2>Reset Your Password</h2>

<div class="row">
    <div class="inputDiv">
        <div class="inputContent">
            <input type="password" class="input_dialog" placeholder="Enter Old Password:" id="password"
                   onkeypress="return handleEnter(this, event)"/>
        </div>
    </div>
    <div class="forgot">
        <img src="image/icon/question_icon.png"/>
        <a onclick="javascript:$('.mask,.dialog').remove();" href="#/passwordForget">Forgot your password</a>
    </div>
    <div class="clear">
    </div>
</div>
<div class="row">
    <div class="inputDiv">
        <div class="inputContent">
            <input type="password" class="input_dialog" placeholder="Enter new Password:" id="rePassword1"
                   onkeypress="return handleEnter(this, event)"/>
        </div>
    </div>
    <div class="inputDiv">
        <div class="inputContent">
            <input type="password" class="input_dialog" placeholder="Reenter new Password:" id="rePassword2"
                   onkeypress="return handleEnter(this, event)"/>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="button_container">
<button class="blue mr10p" onclick="resetPwd()">Submit</button>
<button class="blue_gray"   onclick="$('.mask,.dialog').remove();">Cancel</button>
</div>

</body>
</html>