<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
        <p class="visitor_title">Tips for stocking a healthy pantry that keep supermarket trips — and grocery bills — to a minimum.<p/>
        <div class="artical">Article By: Bruce Weinstein and Mark Scarbrough</div>
        <hr/>
        
        <p>
        <div class="item_content">
            With a family, it can be a neverending challenge to keep the fridge full without emptying your wallet. Fortunately, we've devised these 10 great tactics for stress-free shopping.
        </div>
        </p>
        
        <p><div class="item_title">1. Plan ahead</div>
        <div class="item_content">Use a calendar or your PointsPlus Tracker (available to subscribers only) to plan family menus in advance. Note which days you have 20 minutes to get dinner on the table and which days allow for a little more time. Devising a system will allow you to schedule more balanced meals because you can see at a glance how often you're serving vegetables vs. potatoes, beef vs. fish, or convenience foods vs. home cooking.
        </div>
        </p>
        
        <p><div class="item_title">2. Cook from recipes</div>
        <div class="item_content">Consider them your planning guides. Everything's there in a ready-made list: oregano, olive oil, bread crumbs, canned tomatoes. What's more, making a shopping list directly from a recipe means you'll have no last-minute "oops-we're-out-of-something" emergencies, and no time-wasting trips to the store when you'd rather be eating dinner.
        </div>
        </p>
        
        <p><div class="item_title">3. Shop while the kids are busy</div>
        <div class="item_content">Shopping is faster if you go alone. Plan grocery store forays when the kids are in school or at music lessons, or have your spouse mind them while you shop.
        </div>
        </p>
        
        <p><div class="item_title">4. Shop on a full stomach</div>
        <div class="item_content">If you shop when you're hungry, you're subject to spur-of-the-moment cravings and impulse buys. To manage the lifestyle you want, shop after lunch or dinner.
        </div>
        </p>
        
        <p><div class="item_title">5. Savings are under your nose</div>
        <div class="item_content">Most stores stock expensive brands at eye level; look on the highest and lowest shelves for lower-cost generics and in-store specials. Also, give yourself a moment to peruse the in-store flyer with its unadvertised specials.
        </div>
        </p>
        
        <p><div class="item_title">6. Use coupons judiciously</div>
        <div class="item_content">Be honest with yourself and cut only the coupons you need. Saving 50 cents on jelly isn't any good if you weren't going to buy jelly in the first place. And save those coupons for when they really count; for your store's double or triple coupon days.
        </div>
        </p>
        
        <p><div class="item_title">7. Buying in bulk doesn't mean automatic savings</div>
        <div class="item_content">Dry goods and some convenience products are good bets for bulk-buying: Paper products, cleaning products, flour, sugar, vinegars, peanut butter and grains. Never buy oils (which go rancid), spices (which lose flavor) or perishables in bulk. A 10-pound box of apricots won't have saved you anything when you throw half of it away.
        </div>
        </p>
        
        <p><div class="item_title">8. Produce: Fresh vs. frozen</div>
        <div class="item_content">Some fruits and vegetables are fine frozen; others don't translate well. Here's a guide for each:
            <table border=1 cellspacing=0 cellpadding=0 width="100%"
                style='width:99%;background:#EDEBE6;border:solid #D5D3C8 1.0pt; text-align:center;'>
                <tr style="background:#D5D3C8;height:25px;">
                    <td width="50%" style='width:50.0%;border:none;'>
                        <b><span style='font-size:9.0pt;'>Buy Fresh</span></b>
                    </td>
                    <td style="border:none;">
                        <b><span style='font-size:9.0pt;'>Consider Buying Frozen</span></b>
                    </td>
                </tr>
                <tr style="color:#333333;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Cucumbers</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Beans/peas</span>
                    </td>
                </tr>
                <tr style="background:white;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Ears of corn</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Bell pepper strips</span>
                    </td>
                </tr>
                <tr style="color:#333333;;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Greens</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Broccoli</span>
                    </td>
                </tr>
                <tr style="background:white;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Lettuce</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Carrots</span>
                    </td>
                </tr>
                <tr style="color:#333333;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Radishes</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Cauliflower</span>
                    </td>
                </tr>
                <tr style="background:white;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Zucchini/summer squash</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Chopped onions</span>
                    </td>
                </tr>
                <tr style="color:#333333;;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Apples/pears</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Corn kernels</span>
                    </td>
                </tr>
                <tr style="background:white;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Bananas</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Winter squash puree</span>
                    </td>
                </tr>
                <tr style="color:#333333;;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Citrus</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Berries</span>
                    </td>
                </tr>
                <tr style="background:white;height:25px;">
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Pineapple</span>
                    </td>
                    <td style='border:none;'>
                        <span style='font-size:9.0pt;'>Peaches/apricots</span>
                    </td>
                </tr>
            </table>
        </div>
        </p>
        
        <p><div class="item_title">9. Buy meat and fish once a month</div>
        <div class="item_content">Take advantage of discounts on meat and fish, and freeze ahead for the month. Wrap the pieces individually and tightly in plastic wrap, then bundle them in batches by meal in freezer bags or aluminum foil. Label each with the contents and date. For safety's sake, always thaw these in the refrigerator, never on the counter.
        </div>
        </p>

        <p><div class="item_title">10. Keep a cooler in your car</div>
        <div class="item_content">On a hot day, just getting your food home from the store can considerably reduce its shelf-life. A cooler in the trunk will help keep your dairy products cold, your meat and fish fresh, and your ice cream frozen.
        </div>
        </p>
</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/10shoppingTipsForFamilies.html'"></ng-include>
</div>