<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
        <p class="visitor_title">Try these tips for small changes that can lead to very big weight-loss results. <p/>
        <div class="artical">Article By: Leslie Fink, MS, RD</div>
        <hr/>
        
        <p>
        <div class="item_content">Beginning a weight-loss plan doesn't have to mean drastic changes. You don't need to live at the gym or subsist on crackers alone to get your eating and exercising on track.
        </div>
        </p>
        
        <p>
        <div class="item_content">Instead, think of more realistic, sustainable changes you can make to your lifestyle. Sometimes small, simple adjustments can produce the biggest results. Consider these suggestions, and think about what other small changes might work for you.
            <ul style="margin-top:0px;">
                <li><b>Trim back</b> your eating a bit here and there, not altogether. For example, sauté your broccoli with one teaspoon of oil instead of two.</li>
                <li>Make some <b>wise food substitutions</b>, like opting for low-fat cream cheese instead of regular.</li>
                <li><b>Kick it up a</b> notch in the activity department by taking the stairs instead of the escalator. </li>
            </ul>
        </div>
        </p>

        
        <p><div class="item_title">All or Nothing</div>
        <div class="item_content">"People put too much pressure on themselves to change everything in their diets, which sets them up for failure," believes New York-based registered dietitian Shari Mermelstein. Her advice? Set your sights on making several small dietary and lifestyle changes, and you'll lose weight without really missing out.
        </div>
        <div class="item_content">Need some incentive? Try this on for size: Cut back 100 calories on a daily basis and you could lose about 10 1/2 pounds in a year. One hundred calories equals:
            <ul style="margin-top:0px;">
                <li>1 cup of regular soda</li>
                <li>1 tablespoon of butter</li>
                <li>1 ounce of cheese </li>
            </ul>
        </div>
        </p>
        
        <p><div class="item_title">Skimming Off the Top</div>
        <div class="item_content">Here are seven simple slim-down ideas:
            <ul style="margin-top:0px;">
                <li><b>A spoonful of sugar</b> can add up over the course of a year. Add one less teaspoon of sugar (15 calories) to your cup of morning and afternoon coffee each day and you'll save about 10,000 calories—the equivalent of about 3 pounds per year.</li>
                <li><b>Slim down that bowl</b> of cereal: Switch from 1 cup regular whole milk to 1% milk (about 50 calories less per cup) every day. Once your taste buds adjust, you'll be thrilled! That's a tad more than 5 pounds lost by this time next year.</li>
                <li><b>Take the scenic route.</b> Park your car as far as possible from the entrance to your office, the shopping mall or a restaurant and get those legs pumping. Ten minutes of daily moderate paced walking (five minutes each way burns about 20 calories) can take off over 4 pounds a year.*</li>
                <li><b>Get your vitamin C boost</b> with a whole orange (60 calories) instead of a cup of juice (110 calories) each day. Your 12-month weight loss: 5 1/4 pounds.</li>
                <li><b>Go calorie-free</b> by switching from regular to diet soda (150 versus 0 calories per can). If you drink one can per day, that's nearly 16 pounds lost in a year.</li>
                <li><b>Flavor your sandwiches</b> with very low-cal condiments like mustard or vinegar instead of calorie-packed mayo. Leave off 1 tablespoon (100 calories) every day and you're looking at close to 10 1/2 pounds a year.</li>
                <li><b>Downsize, don't super-size, fast food meals.</b> Opt for a small McDonald's French fries (250 calories) instead of a large order (570 calories) at your weekly fast-food meal. You'll enjoy the same great taste all year long but with an added bonus: almost 5 pounds lost.</li>
            </ul>
        </div>
        </p>
        
        
        <p>
        <div class="item_content">*For a 155-pound person at 3 miles per hour. Based on calculations from Medicine and Science in Sports and Exercise, the official journal of the American College of Sports Medicine.</div> </p>
</div>
        <div ng-if="languageNGIf == 'pt_BR'" >
            <ng-include src="'views/visitor/pt_BR/7simpleChangesThatWillHelpYouLoseWeight.html'"></ng-include>
        </div>
