<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
        <p class="visitor_title">Ways that shopping smart and healthy can help you eat that way.<p/>
        <div class="artical">Article By: Bruce Weinstein and Mark Scarbrough </div>
        <hr/>

        <p>
        <div class="item_content">
        Food packages and recipes are often geared toward family-size households and budgets, which can leave singles wading in endless leftovers and spoiled food. To avoid overbuying, here are nine tips that will make solo shopping a more pleasant—and less expensive—proposition.
        </div>
        </p>
        
        <p><div class="item_title">1. Start with recipes designed for one or two people.</div>
        <div class="item_content">To get the benefits of home cooking without any waste, plan your meals with the right recipes; there are plenty designed for one or two. Or begin by cutting a recipe down to size, halving it to fit your lifestyle.
        </div>
        </p>
        
        <p><div class="item_title">2. Shop the salad bar.</div>
        <div class="item_content">Small-batch cooking calls for smaller amounts—one celery rib or half a green pepper. To avoid waste, look for these items at your market's fresh salad bar. If you only need 1/4 cup of chickpeas, there's no need to buy the whole can.
        </div>
        </p>
        
        <p><div class="item_title">3. Check expiration dates.</div>
        <div class="item_content">Supermarkets want to sell their oldest products first, so they put them at the front of the shelves. And these are the very products that will go bad before one person can finish them. Check the back of the case for milk, juice, cottage cheese and even eggs with later expiration dates.
        </div>
        </p>
        
        <p><div class="item_title">4. Avoid bulk purchases.</div>
        <div class="item_content">Yes, small packages of cheese, condiments and meat may cost a bit more per ounce, but you'll probably save in the long run. Throwing out half a jar of mayonnaise because it went bad is no savings in the end.
        </div>
        </p>
        
        <p><div class="item_title">5. Freezer bags can save you money.</div>
        <div class="item_content">Wrap meat and fish fillets individually in plastic wrap and store them in the freezer in high-quality freezer bags. Portion out jarred pasta sauce in freezer bags for quick meals later on. But even in the freezer, remember that food has a shelf life. Don't keep raw fish or meat more than three months or prepared food more than six months.
        </div>
        </p>
        
        <p><div class="item_title">6. Avoid convenience foods.</div>
        <div class="item_content">Most are designed for a crowd. A frozen pizza can feed six; a big jar of pasta sauce, eight. Instead, look for meats in the butcher case and pre-washed greens in the produce section in small bags. And if your store sells rotisserie chickens, they're likely to sell you a half or quarter if you ask.
        </div>
        </p>
        
        <p><div class="item_title">7. Talk to the butcher or fishmonger.</div>
        <div class="item_content">First off, shop at a market with these people on staff. Then, ask to have single chicken breasts, steaks or fish fillets wrapped up for you. A market with a proper meat and fish counter is designed to sell in the portions you need.
        </div>
        </p>
        
        <p><div class="item_title">8. Don't forget farmers' markets.</div>
        <div class="item_content">You're likely to find more flavorful fruits and vegetables here than at your local supermarket. Look for farm-fresh eggs, meat and breads. Most items are not packaged for bulk sales.
        </div>
        </p>
        
        <p><div class="item_title">9. Shop with friends.</div>
        <div class="item_content">Shopping can be boring—not just in the aisles, but in the car getting there. So keep a friend company in traffic and catch up on your week in the produce section.
        </div>
        </p>
    </div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/9tipsWhenYouAreShoppingForOne.html'"></ng-include>
</div>
        
