<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p>

    <div class="visitor_title">Does my job affect my metabolism?</div>
    <p/>

    <div class="artical">Article By: William Sukala, MS, CSCS</div>
    <hr class="hr_gray hr_article"/>
    <p>Q: Does sitting still at a desk for a long period affect my metabolism?</p>

    <p>
        A: Technically, sitting at a desk does not slow down your metabolism any more than sitting at home watching TV
        all day.
        If that's all you do, then yes, it will slow down your metabolism. Physical inactivity causes your muscles to
        atrophy (shrink).
        As a result, they burn fewer calories, thus facilitating body-fat accumulation.
    </p>

    <p>
        Even though work is a necessary evil to keep the bill collectors away,
        it's what you do in your off-time that really counts.
        You should maximize exercise time before or after work, or during your lunch break. For example,
        bring your workout clothes to the office. Try to log a half hour of walking time on your lunch break.
        This way, you eat less and you maximize calorie expenditure. Get out from behind that desk.
        Get up and move around during the day to stave off muscle stiffness. Read
        <a href="http://www.weightwatchers.com/util/art/index_art.aspx?art_id=639&tabnum=1&sc=0&subnav=Fitness+Ideas">A
            During-Work Workout</a> for more tips.
    </p>

    <p>

    <div class="end">
        In this Q&amp;A series, William Sukala, MS, CSCS, answers questions about fitness and exercise.
        Read more articles
        <a href="http://www.weightwatchers.com/search/categorygrid.aspx?cat=3&search=&qt=Ask%20the%20Personal%20Trainer">from
            our personal trainer</a>.
    </div>
    </p>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/askPersonalTrainer.html'"></ng-include>
</div>

