<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Sure, meditation can be relaxing. But can simply sitting and breathing actually help you lose lbs?

    <p/>

    <div class="artical">Article By: Valerie Reiss</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Meditation is a centuries-old method for clearing the mind and calming the body.
        A few decades ago, it was known only as an Eastern religious practice or as mysteriously bohemian
        (the Beatles, for example, were avid meditators). But in recent years, meditation has gone mainstream.
    </p>

    <p>
        Recommended as a stress-reducing technique by hospitals and doctors across the country,
        meditation&acute;s myriad benefits include reduced blood pressure, healthier arteries and an enhanced sense of
        well-being.
        With all these benefits going for it, meditation is an ideal tool for relaxation and self-discovery on the way
        to your weight goal.
    </p>

    <p>

    <p>

    <div class="item_title">Breathe Your Way to Peace &mdash; and Thinner Thighs?</div>
    <div class="item_content">
        &quot;The very core place to start is the breath,&quot; says Alison Shore Gaines,
        a holistic counselor at Kripalu Center for Yoga & Health in Lenox, Massachusetts. In her &quot;
        Conscious Eating for Sacred Nourishment&quot; workshops, Gaines teaches students to take five deep breaths
        before eating. &quot;
        A lot of times when we eat habitually,
        we get poised for action &ndash; we lean in and the tummy gets tight and we get ready to shovel,&quot; she says.
        Taking five breaths relaxes the body and clears the emotional palate. &quot;This way people enjoy their food,
        they really taste it, they really see it &ndash; and they eat less because they&acute;re enjoying more and going
        slower.&quot;Before you get too excited, though,
        remember: Meditation is not a quick fix. &quot;You can&acute;t just magically sit down and meditate and tomorrow
        have no weight on your body,&quot; says DeDe Lahman,
        a certified yoga instructor and body image lecturer in New York.
    </div>
    </p>
    <p>

    <div class="item_title">A Practice of Presence</div>
    <div class="item_content">
        Of course, a meditation practice involves more than a few deep breaths.
        But it is simple. &quot;Meditation is about stopping and being present, that is all,&quot; writes Jon
        Kabat-Zinn, PhD,
        inWherever You Go, There You Are; Mindfulness Meditation in Everyday Life. He adds, &quot;Mostly we run around
        doing.
        Are you able to come to a stop in your life, even for one moment? Could it be this moment? What would happen if
        you did?&quot;
        What happens on the physical level is what Herbert Benson, MD, the Harvard doctor who initiated meditation
        studies in the 1970s,
        calls the &quot;Relaxation Response.&quot; He discovered that during meditation,
        brain waves shift into a state similar to &ndash; and sometimes more relaxed than &ndash; sleep.
        This level of relaxation lowers the amount of stress hormones that can contribute to pain and illness.
        Meditation can also clear a foundation for healthier thinking and feeling. &quot;When you meditate,
        all the junk comes up, all the clutter,&quot; says Lahman. &quot;The negative body images come up,
        the desires for certain foods come up, and the emotions that are attached to those desires come up.
        The more they surface, the more you can put them in your mental recycle bin and start with a clean slate.&quot;
    </div>
    </p>
    <p>

    <div class="item_title">Meditation How&ndash;Tos</div>
    <div class="item_content">
        There are many types of meditation.
        Find one that resonates with your beliefs, and make sure your instructor has plenty of experience.
        In the meantime, you can try the following:
        <ul>
            <li>1. Sit straight in a comfortable, quiet place.</li>
            <li>2. Close your eyes.</li>
            <li>3. Relax your muscles.</li>
            <li>4. Pay attention to your slow and natural breathing.</li>
            <li>5. When distracting thoughts occur &ndash; and they will &ndash; simply notice them and gently bring your
                attention back to the breath.
                You may have to do this often at first.
            </li>
            <li>6. Continue for 10 to 20 minutes.</li>
            <li>7. Try to practice once or twice daily. With time, meditation will &quot;bring a sense of relaxation, of
                coming to peace,&quot; says Gaines. &quot;
                And from that place of peace we make better choices.&quot;</li>
        </ul>
    </div>
    </p>
    </p>

</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/canMeditationHelp.html'"></ng-include>
</div>
