<style>
    .sidebar-left {
        display: block !important;
    }

</style>
<div ng-controller="aboutUsController">
    <header class="logo logo_position">
        <div class="logo_title">Contact</div>
        <div class="btn-group pull-left btn_menu">
            <div ng-click="showLearnBar()" class="btn btn-navbar sidebar-toggle">
                <img src="image/icon/menu_bottom.png"/>
            </div>
        </div>
        <div class="clear"></div>
    </header>
    <div class="text_padding">

        <!--<a  href="</a>-->
        <a href="mailto:contato@vigilantesdopeso.com.br?subject=Vigilantes do Peso Mobile support request&body= Product:WW Mobile  Version:   Please enter you feed back below. Thank You!"></a>
    </div>
</div>
