<div class="visitor_article">
    <p class="visitor_title">
        As the weather cools, our wardrobes aren&acute;t the only things that need revamping.

    <p/>

    <div class="artical">Article By: Mary Elizabeth Hurn</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Nothing delivers a confidence boost faster than a pretty new polish or smooth, silky skin.
        On weeks that you&acute;ve lost weight, it feels like a treat&ndash;and on weeks when you haven&acute;t,
        getting an extra dose of &quot;I feel pretty&quot; will keep you motivated.
        This fall, as you swap your shorts for slacks and tank tops for trench coats,
        try our favorite tips for updating your beauty routine.
    </p>

    <p>

    <div class="item_title">Go bold with bright lips</div>
    <div class="item_content">
        As the temperature drops, keep a little sizzle in your life with darker lips.
        Add a burst of brightness with a juicy magenta, vivid crimson or deep wine lipstick or stain.
        A vibrant lip color is also a great way to glam up comfy jeans and a fitted tee. Smart idea: get one that stays
        put,
        since you&acute;ll probably be sipping more hot beverages this season.
    </div>
    <div class="item_href">
        Editors&acute; pick: <a href="http://www.butterlondon.com/Cosmetics/Lip/LIPPY-Tinted-Balm-Black-Cherry.html
">Butter London&acute;s Lippy Tinted Balm in Black Cherry</a>, $20
    </div>
    </p>


    <p>

    <div class="item_title">Repair your hair</div>
    <div class="item_content">
        Chlorine, UV rays and summery highlights can wreak havoc on your locks.
        Reverse the damage with a deep conditioner or hair mask to keep your hair shiny and flyaway-free.
        It doesn&acute;t hurt if it just happens to smell like a day spa....
    </div>
    <div class="item_href">
        Editors&acute; pick: <a href="http://www.johnmasters.com/hr.htm">John Masters Organics Honey & Hibiscus Hair
        Reconstructor</a>, $28
    </div>
    </p>

    <p>

    <div class="item_title">Opt for darker polish</div>
    <div class="item_content">
        Corals and neons are SO last season.
        Try swapping them out for a vampy eggplant, pewter grey or midnight blue. But remember,
        chips are much more noticeable with darker colors, so find a polish or top coat that really sticks.
    </div>
    <div class="item_href">
        Editors&acute; pick: <a href="http://www.cnd.com/find-salon">Treat yourself to a manicure with CND Vinylux
        Weekly Polish in Dark Dahlia,salons nationwide</a>.
    </div>
    </p>

    <p>

    <div class="item_title">Maximize your eyes</div>
    <div class="item_content">
        For most of the country, beach and poolside days are (sadly) behind us,
        which means (happily) you can reach for your blackest mascara starting... now!
    </div>
    <div class="item_href">Editors&acute; pick: <a
            href="http://www.covergirl.com/eye-makeup/mascara/clump-crusher-extensions-lashblast-mascara">CoverGirl&acute;s
        Clump Crusher Extensions LashBlast Mascara</a>, $7
    </div>
    </p>

    <p>

    <div class="item_title">Moisturize, moisturize, moisturize</div>
    <div class="item_content">
        Chilly winds and drying indoor heat can lead to dry, chapped skin &ndash; never a good look.
        Protect yourself by switching to a slightly thicker moisturizer or night cream.
    </div>
    <div class="item_href">
        Editors&acute; pick: <a href="http://www.rocskincare.com/multi-correxion/5-1-restoring-night-cream">RoC&acute;s
        Multi Correxion 5-in-1 Restoring Night Cream</a>, $29
    </div>
    </p>

    <p>

    <div class="item_title">Spruce up your scent</div>
    <div class="item_content">
        When you pack away your sundresses and pull out the leggings, that&acute;s the time to swap your scent.
        Trade lightweight, fruity summer fragrances for something more earthy, spicy or rich.
    </div>
    <div class="item_href">
        Editors&acute; Pick: <a href="http://usa.loccitane.com/rose-4-reines-eau-de-toilette,82,1,29383,263371.htm
">L&acute;Occitane&acute;s Rose 4 Reines Eau de Toilette</a>, $47
    </div>
    </p>

    <p>

    <div class="item_title">Exfoliate for smoothness</div>
    <div class="item_content">
        Sunburns and self-tanners can do a number on your face.
        Slough away unevenness with an exfoliator that buffs, smooths and moisturizes.
    </div>
    <div class="item_href">Editors&acute; Pick: <a href="http://www.olehenriksen.com/p-50-micromini-peel-system.aspx">Ole
        Henriksen&acute;s 3-step micro/mini peel system</a>, $95
    </div>
    </p>
</div>
