<div class="visitor_article">
    <p class="visitor_title">
        How do I account for cooking shrinkage when I&acute;m determining portion sizes?

    <p/>

    <div class="artical">
        Article By: Leslie Fink, MS, RD <a
            href="http://www.weightwatchers.com/util/art/index_art.aspx?tabnum=1&amp;art_id=10261&amp;sc=126#comments-anchor">COMMENTS
        (0)</a>
    </div>
    <hr class="hr_gray hr_article"/>

    <p>
        Need ideas for coping with restaurant buffets? Want some good snack ideas?
        In our Q&A series, WeightWatchers.com nutritionist and food editor Leslie Fink, MS, RD, answers questions about
        food,
        nutrition and weight loss.
    </p>

    <p>Q: Is there a standard way to account for shrinkage when determining portion sizes of beef, fish and poultry?</p>

    <p>
        A: In general, beef, poultry and fish shrink about 25 percent when cooked.
        Therefore, a 4-ounce skinless, boneless chicken breast will yield approximately 3 ounces of cooked meat.
        You should account for this shrinkage when purchasing meat. For example, if you want to end up with four,
        4-ounce cooked burgers (16 ounces total),
        you&acute;ll need to begin with about 20 ounces, or 1 1/4 pounds, of uncooked meat.
    </p>
</div>
