<div class="visitor_article">
    <p class="visitor_title">
        There's no need to struggle with food temptation anymore: Let your freezer do the work when it
        comes to portion control.

    <p/>

    <div class="artical">Article By: Leslie Fink, MS, RD</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Where there&acute;s a chill, there&acute;s a way &ndash; to control food portions, that is. Freezing foods in
        portion-controlled servings can help put the brakes on overeating. It&acute;s also an easy way to have the right
        amount of ingredients at your fingertips when you&acute;re cooking.
    </p>

    <p>Enjoy our tips for using your freezer to its full portion-control potential. </p>

    <p>

    <div class="item_title">Meat, poultry and fish</div>
    <div class="item_content">
        Remove items from their original wrappings. Wrap each piece (about 4 oz) in plastic wrap
        (or aluminum foil) and place two to four wrapped pieces in a large freezer bag; label and date it with a
        permanent marker. Press out the air, seal the bag and freeze it in a single layer. (Once frozen, you can fold
        bags over for easy stacking.) Or forget the plastic bags and try Glad? Press&acute;n Seal Freezer&reg; Wrap.
        Place your food on a sheet of the wrap; fold over the wrap and press along the edges to make a tight seal. (You
        can freeze burgers and extra tortillas like this, too.)
    </div>
    </p>
    <p>

    <div class="item_title">Sauces and spreads</div>
    <div class="item_content">
        Make a light version of a pesto or creamy tomato sauce and spoon the sauce into an ice
        cube tray. Once frozen, pop out the cubes into a sealable freezer bag or other airtight container (make sure to
        label and date the items). When you&acute;re ready to cook, defrost only as many cubes as you need.
    </div>
    </p>
    <p>

    <div class="item_title">Bagels, bread and muffins</div>
    <div class="item_content">
        Wrap each serving (two slices of light bread, a pre-sliced mini bagel or two mini muffins,
        for example) in plastic wrap and place them in freezer bags. Defrost only as much as you need; the items can go
        straight from freezer to toaster.
    </div>
    </p>
    <p>

    <div class="item_title">Soups, chilies and stews</div>
    <div class="item_content">
        Make a big pot of soup, chili or stew and freeze it in quart-size freezer bags. (Only fill
        the bags halfway and squeeze out any excess air.) When ready to eat, submerge a frozen bag in a pot of gently
        boiling water for a few minutes&ndash;just like boil-in-the-bag rice.
    </div>
    </p>
    <p>

    <div class="item_title">Homemade frozen dinners</div>
    <div class="item_content">
        Cook in large batches with the intention of freezing extras, freezing these in
        single-serve portions. Store them in airtight containers and enjoy them on too-busy-to-cook nights or as
        take-to-work lunches. Tupperware&acute;s&reg; Meal Solutions To Go Pack is perfect for the office. You get an
        insulated carrier case with four small storage containers that can go from freezer to microwave to dishwasher.
    </div>
    </p>
    <p>

    <div class="item_title">Cookie dough</div>
    <div class="item_content">
        Divide your dough into individual balls and place them on a cookie sheet lined with
        parchment or wax paper or a silicone baking mat. Pop the whole tray in the freezer and once frozen, place the
        balls in an airtight container or tightly-sealed freezer bag. Remove and bake only as many as cookies as you
        need (there&acute;s no need to defrost the dough first).
    </div>
    </p>
</div>
