<div class="visitor_article">
    <p class="visitor_title">
        Plantar fasciitis could be to blame. Check out the symptoms and treatment of this all-too-common
        condition.

    <p/>

    <div class="artical">Article By: Sheryl Kraft</div>
    <hr class="hr_gray hr_article"/>

    <p>
        &quot;It felt like the muscles on the bottoms of my feet were being ripped apart with each step,&quot; says
        Laura
        March, a Weight Watchers member in New York.
        She developed extreme heel pain from walking the streets of Florence in slip-on shoes during a semester abroad.
        What she was experiencing was plantar fasciitis (fa-shee-EYE-tiss), a foot condition that affects nearly 2.5
        million Americans each year and can come on gradually or start suddenly,
        sometimes for no apparent reason.
    </p>

    <p>
        &quot;We really can&acute;t predict who will get plantar fasciitis,&quot; says Lynn Millar, PhD, professor of
        physical therapy at Andrews University in Berrien Springs, MI.
        &quot;It occurs more with people who run and do lots of things on their feet, but can develop suddenly, too.&quot;
        The condition is one of the most common orthopedic complaints relating to the foot.
    </p>


    <p>
        The plantar fascia is a dense band of tissue that runs along the bottom of your foot, connecting the heel to the
        toes, cushioning the foot and helping to support the arch.
        When it is injured or irritated, it becomes inflamed, leading to sharp pain in your heel and arch.
    </p>

    <p>
        The true hallmark of plantar fasciitis (PF) says Millar, &quot;is feeling okay when you go to bed, but your
        first step out of bed in the morning is excruciating.&quot;
        The sharp, knife-like pain generally decreases once your foot limbers up.
    </p>

    <p>
    <table>
        <tr class="crosscolorTr">
            <td colspan="2"><b>What causes plantar fasciitis?</b></td>
        </tr>

        <tr class="crosscolorTr">
            <td width="25%"><b>Overuse</b></td>
            <td>Long-distance runners and heavy exercisers are more likely to develop PF, but jogging, walking,
                aerobics or even stair climbing can also stress the heel bone and the surrounding tissue.
            </td>
        </tr>

        <tr>
            <td><b>Flimsy Shoes</b></td>
            <td>Shoes that have thin soles or poor arch support cannot protect your feet properly.
                And high heels can be a culprit, too: They may cause your Achilles tendon, which is attached to your
                heel, to shorten and contract,
                leading to strain on the tissue around your heel.
            </td>
        </tr>

        <tr class="crosscolorTr">
            <td><b>Foot Mechanics</b></td>
            <td>If you are flat-footed or have a high arch, weight distribution can put more stress on the plantar
                fascia.
                In addition, having an incorrect gait (particularly pronation, where the foot turns out) can put added
                stress on the heel bone and tissue.
            </td>
        </tr>

        <tr>
            <td><b>Inflexibility</b></td>
            <td>Simple inflexibility can put you more at risk. Exercise is good for you, in that it creates strong
                muscles, but these muscles can also be inflexible,
                says David Davidson, MD, DPM and vice president of the American Academy of Podiatric Sports Medicine.
                &quot;The more one exercises, the more one needs to stretch,&quot; he cautions.
            </td>
        </tr>

        <tr class="crosscolorTr">
            <td><b>Other Factors</b></td>
            <td>Although overuse can result in PF, those with sedentary lifestyles are at risk, too, notes Bryan
                Markinson, MD,
                chief of Podiatric Medicine and Surgery at the Mt. Sinai School of Medicine in New York.
                Being overweight has also been found to increase the likelihood of PF in several recent studies. Age,
                pregnancy and some types of arthritis can affect the fascia, ligaments and tendons of the feet and lead
                to PF.
                And although doctors don&acute;t know the reason, people with diabetes are more prone to develop PF.
            </td>
        </tr>

    </table>
    </p>

    <p>

    <div>Steps to Prevent Plantar Fasciitis</div>
    <ul>
        <li>Wear shoes with shock-absorbing soles; heels should not exceed 3 inches</li>
        <li>Maintain a healthy weight.</li>
        <li>Replace athletic shoes often.</li>
        <li>Stretch your calves daily: Stand facing a wall and press your palms against it, with one foot in front of
            the other.
            Lean into the front leg, and straighten the back leg until your heel is on the floor, stretching the heel,
            Achilles tendon and calf. Switch legs and repeat.
        </li>
    </ul>
    </p>

    <p>

    <div><b>Do you need to stop exercising?</b></div>
    <div>
        Sandi Scrimgeour, an avid competitive cyclist and runner from Prescott, Ariz., wouldn&acute;t dream of it.
        &quot;I maintained my swimming and cycling schedule to stay fit,&quot; she says.
        Her doctor also advised her to try running in water with a float belt for a good non-impact workout.
        Millar says exercises that put more stress on the plantar fascia are running and walking.
        &quot;You may need to reduce the amount of stress by slowing your pace, or do something else like biking for a
        short term,&quot; she advises.
    </div>
    </p>

    <p>

    <div><b>Treatments</b></div>

    <p>
        Millar says it&acute;s imperative to take care of PF pronto. &quot;Don&acute;t put it off,&quot; she cautions,
        &quot;or it can become chronic and much harder to treat. &quot;
        Stretching your calf muscles in the morning and after sitting for long periods of time is a good habit to
        practice.
    </p>

    <p>
        When March returned home from her semester abroad, she visited an orthopedic doctor who taped up her foot,
        fitted her for orthotics and referred her to a physical therapist. The therapist taught March a simple exercise:
        rolling a golf ball under her foot while sitting down. &quot;It released the tension in the right spots while
        allowing me to control the pressure,&quot; she says. March&acute;s doctor advised her to cut back on physical
        activity and the pain dissipated after five months. She now relies on sturdy sneakers for walking the city
        streets.
        Other at-home measures:
    <ul>
        <li>Over-the-counter arch supports</li>
        <li>Anti-inflammatory medications</li>
        <li>Non-impact activity</li>
        <li>Massage</li>
        <li>Ice (for first 24 hours)</li>
    </ul>
    </p>


    <p>
        If you have pain for more than a month, the American Podiatric Medical Association (APMA) suggests you visit a
        podiatrist. Your doctor may suggest:
    <ul>
        <li>Custom-made orthotics (shoe inserts)</li>
        <li>Cortisone injections</li>
        <li>A night splint (to keep your foot from bending downward while you sleep, also providing a mild stretch for
            the calf muscles and the plantar fascia).
            Taping the foot (for added support)
        </li>
        <li>Endoscopic surgery to lengthen the ligament (for most resistant cases)</li>
    </ul>
    </p>

    <p>
        If you have PF, don&acute;t lose hope: Davidson notes that almost 95 percent of people respond positively to a
        combination of treatments.
        For most people, this condition will improve within one year or beginning conservative treatment.
    </p>

    </p>
</div>
