<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Eating right and exercising are the major ways to achieve your goals.
        But your makeup bag holds the secret to a few sculpting tricks as well.

    <p/>

    <div class="artical">Article By: Sheryl Kraft</div>
    <hr class="hr_gray hr_article"/>

    <p>
        The whole point of makeup is to enhance your natural beauty,
        so it makes sense that makeup artists have taken that a step further,
        using makeup to create the illusion of prominent cheekbones, a narrower jawline, a fuller mouth.
        We asked two New York City makeup artists to open their makeup bag of tricks
        and share their real-life techniques for how to slim a face, instantly.
    </p>


    <p>

    <div class="item_title">Arch Your Brows</div>

    <div class="item_content">
        <p>
            &quot;There are many tricks for making the face appear slimmer,&quot; says eyebrow expert Amy Kernahan.
            Eyebrows can make an especially big impact.
            Here are some easy-to-follow tips for shaping yours.
        </p>

        <p>
            <b>Rule #1: Full brows, slim face.</b> &quot;A skinny brow can make a face appear too full,&quot; explains
            Kernahan.
            Pluck only strays, following the natural curve of your brow. (And never pluck above the browline;
            if you can&acute;t resist, at least leave it to the professionals).
            Kernahan recommends using tweezers with a slanted tip for easier hair removal.
            Tweezerman is one of her favorites.
        </p>

        <p>
            <b>Rule #2: Find your angle.</b> Straight, sharp edges, rather than rounded ones,
            will give a slimming illusion to a round or full face.
            The highest point of your arch should be just past the outside of your iris.
        </p>

        <p>
            <b>Rule #3: Call in reinforcements.</b>
            If your brows are uneven or sparse, use a brow powder or pencil to fill them in.
            Try to match brow powder or pencil to your hair color as much as possible;
            go a shade lighter if you need to, rather than darker.
        </p>


    </div>
    </p>


    <p>

    <div class="item_title">Sculpt cheekbones</div>

    <div class="item_content">
        <p>
            &quot;Dark colors create a receding effect,&quot; says Laura Geller, owner and creator of Laura Geller
            Makeup
            Studio.
            &quot;By enhancing with a light dusting of powder, any area that is fuller can be changed.&quot;
            Geller, known as &quot;The Queen of Contours,&quot; suggest using a sculpting powder – a specially tinted
            powder whose color mimics the natural shadows of the face.
            Her lightweight product, Shade-n-Sculpt, features two hues: a soft-brown sculpting shade and a complementary
            highlighting shade in a soft nude-beige shimmer.
            Geller offers these pointers:
        </p>

        <p>
            Geller says a foundation a couple of shades darker than your normal foundation or a bronzer normally used
            all
            over your face
            can be used just to highlight or minimize your problem areas.
        </p>

        <p>
            <b>Rule #1: Focus on fuller areas. </b>
            Rather than use contour powder as your cheek color or as an all-over bronzer,
            Geller advises using it only in specific areas where your bone structure needs to be enhanced,
            like the cheekbones, jaw, chin and the sides of your nose.
        </p>


        <p>
            <b>Rule #2: Choose your tools. </b>
            For the most natural, even results, use a fluffy powder or shading brush &quot;no more than half an inch
            wide and preferably with natural rather than synthetic bristles,&quot; say Gellar. Creating stronger
            cheekbones? Gently place the powder at the height your cheekbone, almost as far back as the center of your
            ear.
        </p>


        <p>
            <b>Rule #3: Blend, baby, blend.</b>
            Add your blush right on top of the contour powder – a soft stroke will make it look like the contour and
            blush are one, says Geller.
            Suck in your lips like a fish, feel for the hollow of your cheekbone, and gently swipe the color right under
            the bone.
            Check your reflection in the mirror, and smile!
        </p>

    </div>
    </p>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/makeUpTips.html'"></ng-include>
</div>
