<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Why not try a farmer&acute;s market-inspired spa day?

    <p/>

    <div class="artical">Article By:Bunny Wong</div>
    <hr class="hr_gray hr_article"/>

    <p>
        An apple a day may keep not only the doctor away, but the dermatologist, too.
        That&acute;s because the nutrients that make fruits and vegetables good for your health are also excellent for
        skin and hair.
        Take a peek inside your fridge, and you&acute;ll find the ingredients for a bevy of beauty treatments.
    </p>

    <p>
        Consider these creative masks a budget-wise splurge:
        They&acute;re a great way to use up fruits and veggies that lurk in your refrigerator&acute;s produce drawer at
        the end of the week.
    </p>

    <p>

    <div class="item_title">No time for homemade? Try these:</div>
    <ul>
        <li><b>Body Shop Pink Grapefruit Body Scrub,</b> $17.50. Boost circulation and exfoliate dull skin with this
            bright, fruity scrub.
        </li>
        <li><b>Burt&acute;s Bees Beeswax &amp; Banana Hand Creme,</b> $8. Potassium-rich bananas are gentle on sensitive
            skin.
        </li>
        <li><b>Marc Jacobs Splash in Cucumber,</b> $65. The veggie&acute;s astringent qualities imbue this perfume with
            a summery, refreshing scent.
        </li>
        <li><b>Juice Beauty SPF 15 Tinted Lip Moisturizer in Joyful,</b> $15. This lightly-colored lip balm is made with
            peach and guava extracts.
        </li>
    </ul>

    </p>


    <p>

    <div><b>Tone skin with apples...</b></div>
    <div>
        &quot;Apples are well-suited for rough, dry skin,&quot; says natural-beauty expert Janice Cox, author of
        Natural Beauty at Home.
        Cox explains that the fruit may soften and deep-clean skin without over-drying.
        Whip up a toner by mixing 1/4 cup no-sugar-added fresh apple juice (fresh pear juice works equally well) and 4
        tablespoons witch hazel.
        Refrigerate in an air-tight container, and apply with a cotton ball.
    </div>
    </p>


    <p>

    <div><b>...then deep-cleanse with a carrot mask.</b></div>
    <div>
        &quot;Carrots are rich in vitamin A, which is often referred to as the &acute;beauty&acute; vitamin because of
        its importance in maintaining healthy skin,&quot; says Cox,
        who adds that this mask helps skin retain moisture. Mix 2 tablespoons each of fresh carrot juice and white clay
        (sold at natural-food stores or the health-food section of some supermarkets).
        Then spread the smooth paste on your face; let rest for 15 minutes. Rinse with warm water, followed by a splash
        of cold.
    </div>
    </p>

    <p>

    <div><b>Use avocadoes to moisturize hair.</b></div>
    <div>
        If you&acute;re suffering from dry, frizzy hair, reach for an avocado. Day-spa owner Laura du Priest,
        author of Natural Beauty: Pamper Yourself with Salon Secrets at Home, recommends a simple, oil-rich blend of one
        avocado and two tablespoons mayonnaise (or some mashed ripe banana).
        Massage this concoction through clean, dry hair, and don a shower cap. Let sit for 10 to 20 minutes, and then
        wash out with warm water and a light shampoo.
    </div>
    </p>

    <p>

    <div><b>Whiten teeth with strawberries.</b></div>
    <div>
        Rich in salicylic acid, these pretty red berries are a great astringent on their own.
        If you have oily skin, cut a strawberry in half, rub it gently on your face and rinse;
        if your skin is more sensitive, mash with a fork, apply for a minute or so and rinse.
        Strawberries are also incredibly easy-to-use tooth-whiteners. &quot;Just eating a few helps brighten a dull
        smile,&quot; says Cox.
    </div>
    </p>

    <p>

    <div><b>Get beach-ready with pineapples.</b></div>
    <div>
        These tropical fruits contain be used to cleanse and freshen the skin. Cox&acute;s pineapple body seltzer is
        great for vacationers with oily skin or acne.
        Mix 1 cup of fresh pineapple juice (or purée a pineapple in a food processor until smooth) with 2 cups seltzer
        or sparkling mineral water.
        Place in a spray bottle and spritz on post-shower.
    </div>
    </p>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/pamper.html'"></ng-include>
</div>
