<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Helena</li>
        <li><strong>Age:</strong> 52</li>
        <li><strong>Height:</strong> 1.58m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 124.0kg</li>
        <li><strong>Lost:</strong> 62.5kg*</li>
        <li><strong>Weight:</strong> 61.5kg</li>
        <li><strong>As of:</strong> 31/01/2014</li>
    </ul>
</div>
</div>

<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Helena</li>
            <li><strong>Idade:</strong> 52</li>
            <li><strong>Altura:</strong> 1.58m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 124.0kg</li>
            <li><strong>Eliminou:</strong> 62.5kg*</li>
            <li><strong>Peso atual:</strong> 61.5kg</li>
            <li><strong>Pesagem:</strong> 31/01/2014</li>
        </ul>
    </div>
</div>
