<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Fernando</li>
        <li><strong>Age:</strong> 45</li>
        <li><strong>Height:</strong> 1.86m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 115.2kg</li>
        <li><strong>Lost:</strong> 29.3kg*</li>
        <li><strong>Weight:</strong> 85.9kg</li>
        <li><strong>As of:</strong> 16/09/2013</li>
    </ul>
</div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Fernando Henrique</li>
            <li><strong>Idade:</strong> 45</li>
            <li><strong>Altura:</strong> 1.86m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 115.2kg</li>
            <li><strong>Eliminou:</strong> 29.3kg*</li>
            <li><strong>Peso atual:</strong> 85.9kg</li>
            <li><strong>Pesagem:</strong> 16/09/2013</li>
        </ul>
    </div>
</div>
