<div ng-if="languageNGIf == 'eng_BR'">
    <div>
        <ul>
            <li><strong>Name:</strong> Natália</li>
            <li><strong>Age:</strong> 30</li>
            <li><strong>Height:</strong> 1.58m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Was:</strong> 75.9kg</li>
            <li><strong>Lost:</strong> 17.9kg*</li>
            <li><strong>Weight:</strong> 58.0kg</li>
            <li><strong>As of:</strong> 31/08/2013</li>
        </ul>
    </div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Natália</li>
            <li><strong>Idade:</strong> 30</li>
            <li><strong>Altura:</strong> 1.58m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 75.9kg</li>
            <li><strong>Eliminou:</strong> 17.9kg*</li>
            <li><strong>Peso atual:</strong> 58.0kg</li>
            <li><strong>Pesagem:</strong> 31/08/2013</li>
        </ul>
    </div>
</div>
