<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Bianca</li>
        <li><strong>Age:</strong> 30</li>
        <li><strong>Height:</strong> 1.65m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 97.2kg</li>
        <li><strong>Lost:</strong> 33.6kg*</li>
        <li><strong>Weight:</strong> 63.6kg</li>
        <li><strong>As of:</strong> 02/03/2011</li>
    </ul>
</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Bianca</li>
            <li><strong>Idade:</strong> 30</li>
            <li><strong>Altura:</strong> 1,65m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 97.2kg</li>
            <li><strong>Eliminou:</strong> 33.6kg*</li>
            <li><strong>Peso atual:</strong> 63.6kg</li>
            <li><strong>Pesagem:</strong> 02/03/2011</li>
        </ul>
    </div>
    </div>