<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Flávia</li>
        <li><strong>Age:</strong> 37</li>
        <li><strong>Height:</strong> 1.54m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 73.2kg</li>
        <li><strong>Lost:</strong> 16.7kg*</li>
        <li><strong>Weight:</strong> 56.5kg</li>
        <li><strong>As of:</strong> 26/03/2011</li>
    </ul>
</div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Flávia</li>
            <li><strong>Idade:</strong> 37</li>
            <li><strong>Altura:</strong> 1.54m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 73.2kg</li>
            <li><strong>Eliminou:</strong> 16.7kg*</li>
            <li><strong>Peso atual:</strong> 56.5kg</li>
            <li><strong>Pesagem:</strong> 26/03/2011</li>
        </ul>
    </div>
</div>
