<div ng-if="languageNGIf == 'eng_BR'">
    <div>
    <ul>
        <li><strong>Name:</strong> Roberta</li>
        <li><strong>Age:</strong> 31</li>
        <li><strong>Height:</strong> 1.59m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 66.6kg</li>
        <li><strong>Lost:</strong> 9.6kg*</li>
        <li><strong>Weight:</strong> 57.0kg</li>
        <li><strong>As of:</strong> 01/04/2011</li>
    </ul>
</div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Roberta</li>
            <li><strong>Idade:</strong> 31</li>
            <li><strong>Altura:</strong> 1.59m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 66.6kg</li>
            <li><strong>Eliminou:</strong> 9.6kg*</li>
            <li><strong>Peso atual:</strong> 57.0kg</li>
            <li><strong>Pesagem:</strong> 01/04/2011</li>
        </ul>
    </div>
</div>
