<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Eliana Gonçalves</li>
        <li><strong>Age:</strong> 55</li>
        <li><strong>Height:</strong> 1.58m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 80.0kg</li>
        <li><strong>Lost:</strong> 17.0kg*</li>
        <li><strong>Weight:</strong> 63.0kg</li>
        <li><strong>As of:</strong> 29/10/2012</li>
    </ul>
</div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Eliana Gonçalves</li>
            <li><strong>Idade:</strong> 55</li>
            <li><strong>Altura:</strong> 1.58m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 80.0kg</li>
            <li><strong>Eliminou:</strong> 17.0kg*</li>
            <li><strong>Peso atual:</strong> 63.0kg</li>
            <li><strong>Pesagem:</strong> 29/10/2012</li>
        </ul>
    </div>
</div>
