<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Antonio</li>
        <li><strong>Age:</strong> 28</li>
        <li><strong>Height:</strong> 1.78m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 112.0kg</li>
        <li><strong>Lost:</strong> 25.4kg*</li>
        <li><strong>Weight:</strong> 86.6kg</li>
        <li><strong>As of:</strong> 01/03/2014</li>
    </ul>
</div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Douglas</li>
            <li><strong>Idade:</strong> 21</li>
            <li><strong>Altura:</strong> 1.86m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 112.0kg</li>
            <li><strong>Eliminou:</strong> 25.4kg*</li>
            <li><strong>Peso atual:</strong> 86.6kg</li>
            <li><strong>Pesagem:</strong> 01/03/2014</li>
        </ul>
    </div>
</div>

