<div class="instruction_content hide">

    <div class="recipe_ingredient">
        <ul class="font_recipe">
            <li><strong>Ingredientes</strong></li>
            <li>1 aipim ou mandioca média descascada sem fios em pedaços (300 g)</li>
            <li>1 sachê de caldo de legumes 0% de gordura</li>
            <li>2 xíc. de água</li>
            <li>1 cebola média picada</li>
            <li>2 dentes de alho amassados</li>
            <li>1 C.S. de azeite</li>
            <li> 4 tomates sem pele sem sementes batidos</li>
            <li>1/2 c.c. de sal</li>
            <li>450 g de camarões médios limpos descascados</li>
            <li>1/2 xíc. de leite de coco light</li>
            <li>salsa e cebolinha a gosto</li>
            <li>pimenta-do-reino a gosto</li>
        </ul>
    </div>
</div>
<div class="ingredient_content hide">
    <p class="font_recipe">
        <strong>Modo de Preparo</strong>
        <br/>
        <br/>
        Numa caçarola média, junte mandioca, o caldo de legumes e a água e cozinhe em fogo médio por 10-12 minutos ou até amaciar. Espere ficar morno e bata tudo no liquidificador.
        <br/>
        <br/>
        Na mesma caçarola, cozinhe a cebola e o alho no azeite por 1-2 minutos até começar a dourar. Acrescente os tomates, tempere com o sal, tampe e cozinhe por 10 minutos. Adicione os camarões, tampe e cozinhe mais 5 minutos. Acrescente o leite de coco, a salsa, a cebolinha, a pimenta e o creme de mandioca. Aguarde levantar fervura, mexendo para não grudar no fundo. Salpique mais salsa ou coentro e sirva.
        <br/>
        <br/>
        Para limpar o camarão, use uma tesoura fina de cozinha. Corte a casca na parte de trás e retire a casca junto com as patas e a veia escura. Lave rapidamente em água corrente, seque em papel e mantenha na geladeira, até usar.
        <br/>
        <br/>
        Informações Nutricionais (1 xíc.): 296 Calorias, 18 g de Proteínas, 37 g de Carboidratos, 8 g de Gorduras Totais, 3,7 g de Gorduras Saturadas, 0 g de Gorduras Trans, 141 mg de Colesterol, 667 mg de Sódio,  3,2 g de Fibra, 91 mg de Cálcio.
        <br/>
        <br/>
    </p>


</div>
