<div class="instruction_content hide">

    <div class="recipe_ingredient">
        <ul class="font_recipe">
            <li><strong>Ingredientes</strong></li>
            <li>1/2 peito de frango sem pele, sem gordura e sem osso (300 g)</li>
            <li>1 cebola-roxa picada</li>
            <li>2 C.S. de purê de tomate</li>
            <li>sal a gosto</li>
            <li>1 xíc. de água</li>
            <li>1 xíc. de alface picada</li>
            <li>Pasta de cenoura</li>
            <li>1 cenoura grande cozida</li>
            <li>2 C.S. de requeijão light</li>
            <li>1 C.S. de salsa picada</li>
            <li>4 fatias de pão de forma integral torrado (100 g) </li>

        </ul>
    </div>
</div>
<div class="ingredient_content hide">
    <p class="font_recipe">
        <strong>Modo de Preparo</strong>
        <br/>
        <br/>
        Junte o peito de frango em uma panela com a cebola, o purê de tomate, o sal e a água. Tampe e deixe cozinhar em fogo baixo por 15-20 minutos, até que o frango amacie e o líquido evapore. Deixe amornar e desfie. No liquidificador, bata a cenoura com o requeijão e misture com a salsa. Misture com o frango desfiado.
        <br/>
        <br/>
        Corte as fatias de pão ao meio. Forre os pães com a alface e distribua a pasta de frango com cenoura por cima. Enfeite com salsa picada. Sirva em seguida.

        <br/>
        <br/>
    </p>

    <p class="font_recipe">
        <strong>Informações Nutricionais (2 metades de pão com recheio): </strong>

        195 Calorias, 20 g de Proteínas,<br />
        19 g de Carboidratos, 4 g de Gorduras Totais, 1 g de Gorduras Saturadas, 0 g de Gorduras Trans, 57 mg de Colesterol, 293 mg de Sódio, 3 g de Fibra, 45 mg de Cálcio.
        <br />
    </p>
</div>

