<div ng-if="languageNGIf == 'eng_BR'" ng-controller="successStoriesController">
<div class="instruction_title">
    “Food won't solve my problems.”
</div>
<div class="section1">
    <p class="section_head">
        A healthy mind in a healthy body</p>

    <p>
        After having her health conditions improved, and having lost 18,2 kg, member Andressa
        Alencar celebrates her achievements and shares the experiences of a new lifestyle.</p>

    <p class="section_title">
        Changing to the best</p>

    <p>
        Weighing 73 kg, Andressa decided it was time to lose weight and recover her self-esteem.
        “One day I got tired. I got tired of being overweight. I got tired of buying ugly
        clothes – because they were the only ones that fitted me. I got tired of ‘avoiding’
        myself. I got tired of eating to feel better. I got tired of being avoided by the
        one who had been my husband so far. I realized I needed to love myself.”</p>

    <p>
        Andressa’s problems related to weight went beyond good looks. She was having health
        problems. “My knees hurt and, even though I live just on the second floor, climbing
        up the stairs was a sacrifice. I got home tired, my legs hurt and I was breathless.”
        So, she joined Vigilantes do Peso, put herself in first place, and changed her life.</p>

    <p class="section_title">
        Healthier eating habits</p>

    <p>
        At the weekly meetings, Andressa got the information she needed and got inspired
        to eat smarter by the hints, articles and recipes published in Vigilantes do Peso
        Weekly. “I jumped into the program. I started preparing lighter snacks and meals,
        full of fruits and veggies, and now I also drink plenty of water. My body just asks
        for healthy foods.”</p>

    <p>
        Gradually, Andressa also learnt how to control her portion sizes so that she wouldn’t
        overcome the Daily ProPoints target suggested by the program. “I cut down on the
        portions of almost everything I used to eat, and I was surprised to notice that
        I wasn’t hungry! I made smart choices to maintain a varied and flexible menu. By
        doing that, I managed to lose weight by eating small amounts of my favorite foods,
        such as pasta, sweets, risotto and red meat.”</p>

    <p class="section_title">
        Tracking to succeed</p>

    <p>
        As she was losing weight, Andressa had her Tracker as an ally to reach her goals.
        “My notes helped me to evaluate what I ate, the <span class="pro_font">ProPontos</span> values I used, and the
        emotions and attitudes that affected my weight-loss. This tool has showed me that
        food won’t solve my problems.”</p>

    <p class="section_title">
        Vida nova</p>

    <p>
        Now weighing 54,8 kg, Andressa celebrates both her physical and mental health. “Now
        that I have a lighter body, I have more energy, I got rid of my blood circulation
        problems and my legs don’t hurt anymore. The results of my clinical exams have never
        been so great. And, as a consequence of my healthy eating, my skin and my hair are
        shiny.”</p>

    <p>
        Andressa says that now she feels like she’s able to do anything she wants. “Every
        time I look at the mirror and I see myself in a [Brazilian] size 38 pair of pants,
        I feel happy and proud of myself for having followed the program and having lost
        weight without giving up on having a social life. Nowadays I date this special guy,
        I travel when I’m on holidays and I enjoy parties, weddings and birthdays while
        I maintain my weight without privation.”</p>
</div>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryAndressa.html'"></ng-include>
</div>
