<div ng-if="languageNGIf == 'eng_BR'">
    <div class="instruction_title">
    “It’s great to hear from people that said that I was overweight that I’m more beautiful
    now.”
</div>
<div class="section1">
    <p class="section_head">
        She surprised everyone!</p>

    <p class="bold">
        We have interviewed Roberta Simões, a member who’s lost more than 8 kg.</p>

    <p class="section_title">
        Vigilantes do Peso: Tell us, Roberta, why did you think that it was the time to
        join the program?</p>

    <p>
        <strong>Roberta Simões:</strong> There were varied, but two of them must to be highlighted.
        First one: My clothes didn’t fit anymore, which was news to me. Second one: some
        relatives were saying I was overweight and asking what had happened to me. We didn’t
        live in the same state, and because of that, my new weight called their attention
        in our family’s meetings.</p>

    <p class="section_title">
        V.P.: So they were happy to know that you had joined Vigilantes do Peso, weren’t
        they?</p>

    <p>
        <strong>R. S.:</strong> Yes (the ones that knew about it). I didn’t tell everybody
        because I didn’t want to create expectations, I wanted to see their reactions to
        my new weight.</p>

    <p class="section_title">
        V.P.: How was your first meeting?</p>

    <p>
        <strong>R. S.:</strong> I wasn’t sure the program really worked. There are too many
        misleading ads as far as weight loss is concerned, but I decided to give it a try.
        While weighing was being carried on, I talked to some of the members, who really
        motivated me. I decided to pay for one month in advance, not to run the risk of
        giving up.</p>

    <p class="section_title">
        V.P.: What did you learn while you followed the program?</p>

    <p>
        <strong>R. S.:</strong> I learned to prepare healthier meals. I started eating more
        vegetables, fruits and drinking more water. Now I can manage my environment and
        eat smarter. The best of all things is that I have a great life, I can go out and
        eat everything I want.</p>

    <p class="section_title">
        V.P.: You talked about the changes in eating habits. What about physical activities?</p>

    <p>
        <strong>R. S.:</strong> They changed a little bit, too. Nowadays, I try to do everything
        to move more and I also started walking every day.</p>

    <p class="section_title">
        V.P.: Did you ever thought about giving up? What made you change your mind?</p>

    <p>
        <strong>R. S.:</strong> Yes, sometimes. However, the wish of having a healthy weight,
        a good physical condition and my determination prevented me from giving up. So did
        the clothes I wanted to buy!</p>

    <p class="section_title">
        V.P.: When we face challenges it is important to have someone’s support. During
        your weight loss journey, could you count on someone?</p>

    <p>
        <strong>R. S.:</strong> I could count on my husband, who always encouraged me. It
        was funny because whenever I ate something, he asked: “Can you eat that? How many
        <strong>POINTS</strong> values is it worth? Do you still have <strong>POINTS</strong>
        values to spend? Have you already used your <strong>PontosFlex</strong>?” In the
        beginning, he didn’t believe the program worked, he even promised if it worked,
        he would pay for the meetings. But when he could see the results, he was surprised.
        We also started opting for restaurants which offered more choices. We prefer the
        so-called “self-service restaurants”.</p>

    <p class="section_title">
        V.P.: How do you feel after having achieved your weight goal?</p>

    <p>
        <strong>R. S.:</strong> It’s great to hear from people that said that I was overweight
        that I’m more beautiful now. They ask me what I have done to improve my looks. I’m
        very happy and excited. Looking back, I can’t believe I didn’t take care of myself
        and put on so much weight. I was always tired and couldn’t wear the clothes I wanted.</p>
</div>

</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryRoberta.html'"></ng-include>
</div>
