<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “My cholesterol level is normal, I no longer feel short of breath, my stress and
    anxiety levels are healthy, I sleep better, and I got total relief from arthritis
    pain.”
</div>
<div class="section1">
    <p class="section_head">
        She won the Healthy Life Prize!</p>

    <p>
        Imagine a 5,2-feet tall woman who weighs 273lb. Her job involves chocolates and
        gingerbread cookies. This woman is almost in her fifties and cannot exercise due
        to joint problems... Now imagine this woman becomes an example of healthy life.
        Well, this woman is real! And her name is Helena Pinheiro. This is her story.</p>

    <p class="section_title">
        Counting a thousand victories</p>

    <p>
        Helena was always out of energy to play with her own child; getting dressed was
        a hard task; and she could barely suppress her embarrassment when attending social
        events and having pictures taken. Now she celebrates her new family, career and
        social lives. And she also celebrates the prize she won for Vigilantes do Peso’s
        Helthy Life Award.</p>

    <p class="section_title">
        How it all began...</p>

    <p>
        Helena knew it was time to change on one of her visits to her gynecologist: “When
        I stepped on the scale, it showed 273lb. I freaked out, for I thought I would die
        for sure!” All the stress, emotional hunger, the sedentary life she led and her
        non-healthy diet had shortened her way to obesity.</p>

    <p>
        Joining Vigilantes do Peso have her a new hope. “I didn’t want to give up the pleasure
        I had in food, all I wanted was to learn a better and healthier way to eat”, she
        says. At the meetings and at home, she would have the support she needed to go on.
        “My mother, my brother and above all my son put all their faith in me. They would
        encourage me and cheer me up every success I made.”</p>

    <p class="section_title">
        Changing habits</p>

    <p>
        Over the months, Helena learned how to deal with her workplace, which was an invitation
        to excess weight: chocolates and baked goods all around! “I’ve been using all the
        tools I could find on Vigilantes. The Tracker was amazing, the recipes, the books,
        the <strong>PointsPlus</strong> Calculator... I’ve started keeping fresh fruits in the fridge, and
        also pre-washed greens and shredded carrots.”</p>

    <p>
        She also cut down her portion sizes and got rid of 50% − yes, half of her – her
        weight without feeling deprived. “I feel I have now taken control of what I eat,
        when it used to be the opposite: food controlled me.”</p>

    <p>
        Six months after joining Vigilantes and having dropped a good bunch of pounds, Helena
        was allowed by her physician to start walking in pool. “Now I can walk in the streets
        daily and play with my son”, she celebrates.</p>

    <p class="section_title">
        She can change the world!</p>

    <p>
        By following the plan, Helena got a silhouette she’s proud of and noted her health
        significantly better. “My cholesterol level is normal, I no longer feel short of
        breath, my stress and anxiety levels are healthy, I sleep better, and I got total
        relief from arthritis.” Who could have imagined that?</p>

    <p>
        Helena said she would do it — and she did! She lost 273lb! “If I managed to make
        it, imagine what more I can do? Now I feel more confident, happier and ready to
        change the world!”</p>
</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryHelena.html'"></ng-include>
</div>
