<div ng-if="languageNGIf == 'eng_BR'" ng-controller="successStoriesController">
<div class="instruction_title">
    “I couldn’t chose the clothes I wanted to wear, I had to buy the ones that fit”,
    said Bianca, who achieved the body shape she wanted after losing 31.2 kg with Vigilantes
    do Peso.
</div>
<div class="section1">
    <p class="section_head">
        Buy the clothes that I want? Yes, I can!</p>

    <p>
        Bianca said she has always enjoyed cooking and she “used to invite some friends
        to come over and have some snacks." Although they looked delicious, the snacks “were
        very greasy and served with a lot of beer." She adds that this menu "was weekend
        habit”. On the contrary, it had been her daily eating pattern for 15 years.</p>

    <p>
        Since she was 16, Bianca was living a "sedentary and totally unregulated lifestyle."
        When she was 30, she decided she had had enough of buying only clothes that fit
        her. She wanted to pick them according to her likes and dislikes.</p>

    <p>
        Going shopping one day was crucial for her decision to change. "I decided to buy
        a pair of shorts I had seen in a big sizes shop," says Bianca, but as I was overweight
        and the number I chose, Brazilian size 48, didn’t fit. She recalls: "I almost cried!
        I felt bad, as I had many other times before, but I was sick and tired of that situation”.
        So, she accepted the invitation of his sister and a friend to attend a Vigilantes
        do Peso’s meeting.</p>

    <p>
        When she got to her first meeting, she was excited to be welcomed by the group,
        who shared their experiences on weight loss. One of the members had lost 20 kg!
        After listening to the success stories, she was eager to join the Vigilantes do
        Peso’s lifestyle.</p>

    <p>
        "After the first week, 2.8 kg lighter, I was feeling confident about losing weight”,
        said Bianca. She focused on the program in as much as she could, and started exercising
        and choosing healthier foods. This change has gone through ups and downs, but every
        time the scale didn’t show any weight loss, Bianca reassessed how she was following
        the program.</p>

    <p>
        Week after week, her success was more visible, so. Having achieved her goal after
        seven months, Bianca believes that every day she achieves a “new life, new clothes,
        compliments and support", and leaves a message for everyone: <strong>"Having a healthy
        weight is possible, real and wonderful!"</strong></p>
</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryBianca.html'"></ng-include>
</div>
