<div ng-if="languageNGIf == 'eng_BR'">
    <div class="instruction_title">
    “In a thermal bag, I always kept some healthy snacks.”
</div>
<div class="section1">
    <p class="section_head">
        Health and quality of life at work</p>

    <p>
        Natalia Geara was already a Vigilantes to Peso member when she took the program
        to her workplace (Vigilantes do Peso At Work), acquired healthier habits and adapted
        the environment where she spent most of her time in order to eat healthily and lose
        weight successfully.</p>

    <p class="section_title">
        A new weight for a new life</p>

    <p>
        Natália was engaged and, weighing 75.9 kg, she found in her wedding the motivation
        she needed to lose weight and conquer a healthier lifestyle. “My initial goal was
        to lose 5 kg, because, just like every woman does, I wanted to be gorgeous in my
        wedding gown on the most special day of my life,” she recalls. So, Natalia decided
        to join Vigilantes do Peso.</p>

    <p>
        At the meetings, she counted on the group support to put the program into practice.
        “My Leader and the other member’s encouragement was crucial to the development of
        my new habits. From them, I learnt that it was possible to lose weight without feeling
        deprived.”</p>

    <p class="section_title">
        Meetings at her workplace</p>

    <p>
        As Natália lost weight, she was always praised by her coworkers and everybody wanted
        to know her secret. By searching Vigilantes do Peso website, she learnt that it
        was possible to take the meetings to her workplace by means of Vigilantes do Peso
        Empresas.</p>

    <p>
        Natália says that she carried out an informal research to know who would be interested
        in joining the program, and talked to her manager about the idea. The board approved
        the partnership with Vigilantes do peso and made a room available for the meetings.
        “With the At Work program, even the employees who didn’t have much available time
        were benefited, because the meetings happened during the work time,” she says.</p>

    <p class="section_title">
        Smart eating choices</p>

    <p>
        Natália started to attend the meetings in the company, and there she got more hints
        on how to keep the healthy habits she had already developed and how to make even
        smarter eating choices. “For lunch, I opted for lighter foods, such as salads and
        grilled fish, and I got used to eating fruits and other healthy snacks between the
        meals,” she says.</p>

    <p>
        At the meetings, she learnt how to plan ahead to eat smart when she traveled on
        business. “In a thermal bag, I always kept some healthy snacks, such as fruits,
        whole bread and white cheese,” she recalls. She also learnt to say “no” when her
        coworkers offered some food she hadn’t planned to eat.</p>

    <p>
        By controlling what and how much she ate, Natália noticed that she could eat her
        favorite treats and still lose weight. “I used to open a packet of cookies and eat
        it up all by myself, without savoring it. I ate compulsively and then I regretted
        having done that. Nowadays I chew slowly so that I can feel the flavor of what I’m
        eating, and I also pay attention to my body’s satisfaction signs not to overeat.”</p>

    <p class="section_title">
        Winning Results</p>

    <p>
        As she followed the program, Natália said good-bye to 18.7 kg. “The best sensation
        of my life was when I tried on a pair of [Brazilian] size 42 shorts (I used to wear
        46). I felt I was beautiful, powerful, able to control my life and my weight. I
        recommend the program to all that want to lose or maintain their weight.”</p>
</div>

</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryLuciana.html'"></ng-include>
</div>
