<style>
    .contain{
        min-height: 600px;;
    }
    @media only screen and (max-width: 768px) {
        .contain{
            min-height: 300px;;
        }
    }
</style>
<header ng-controller="visitorSimpleModeController">
    <img class="imgSmall" src="image/small/gettingStartedSimpleTitle.png"/>
    <img class="imgLarge" src="image/large/simple_title.png"/>
    <img src="image/icon_back.png" ng-click="prevPage('{{prevPage}}')" style="position: absolute;top: 2.6em;width: 2em;"/>

</header>
<form name="myForm" novalidate>
    <div class="main" ng-controller="visitorSimpleModeController">
        <div class="contain">
            <div class="prev_icon" onclick="prevPage()"><img src="image/arrow_blue_left.png"/></div>
            <div id="wrapper" class="space_margin">
                <!--<div class="introduce-circle simple" ng-show="!simpleModeFlag">-->
                <div class="introduce-circle simple">
                    <ul id="thelist">
                        <li>
                            <ng-include src="'views/gettingStarted/introduceSimplePageOne.html'"></ng-include>
                        </li>
                        <li>
                            <ng-include src="'views/gettingStarted/introduceSimplePageTwo.html'"></ng-include>
                        </li>
                        <li>
                            <ng-include src="'views/gettingStarted/introduceSimplePageThree.html'"></ng-include>
                        </li>
                        <li>
                            <ng-include src="'views/gettingStarted/introduceSimplePageFour.html'"></ng-include>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="next_icon"  onclick="nextPage()"><img src="image/arrow_blue_right.png"/></div>
            <div id="nav">
                <div class="pagefooter">
                    <ul id="indicator">
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer_simple_link">
            <div class="footer_fixed">
                <div class="express_gray">
                    <div>
                        <img src="image/small/logo_propontos_two.png">
                    </div>
                    <div class="btnLearnMorePro" ng-click="goToTrackMode()">
                        <img src="image/small/button_leam-more.png">
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>