<div  ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Pain can keep you from exercising, but these strategies will have you on the move in no time.

    <p/>

    <div class="artical">Article By: Christie Dang</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Still limping after that volleyball game a few weeks ago? Wondering why your shins hurt after a particularly
        brisk walk?
        It&acute;s not just professional athletes that get injured during sports and exercise.
        As many as 4 million Americans will visit an emergency room this year for an injury they received while playing
        sports.
        Millions more will hobble home to convalesce °™ gaining weight while nursing their injuries.
        But good exercise habits can lower your risk of injury, doctors say.
    </p>

    <p>
        If you do get injured, sometimes the best way to heal is to stay active by exercising in ways that don&acute;t
        stress your injury.
        Surprising, right? We went straight to the experts for smart stay-safe tips like this for the 5 most common
        sports-related injuries.
    </p>

    <p>

    <div>Recover with RICE</div>
    <div>
        If you&acute;re injured and in pain, call your doctor. He or she will probably recommend RICE,
        says Kevin Eerkes, MD, clinical assistant professor at NYU School of Medicine Internal Medicine.
        It&acute;s an acronym for the following:
        <ul>
            <li>Rest the injured area.</li>
        </ul>
        <ul>
            <li>Ice it regularly.</li>
        </ul>
        <ul>
            <li>Compress with an elastic bandage to diminish swelling.</li>
        </ul>
        <ul>
            <li>Elevate, raising the injury above heart level to decrease blood flow.</li>
        </ul>
    </div>
    <div>
        These steps will reduce swelling and speed recovery, says Eerkes.
        Ask your doctor whether over-the-counter anti-inflammatories, such as aspirin,
        ibuprofen and naproxen sodium (Aleve) will relieve pain.
    </div>
    </p>

    <p>

    <div>Ankle sprain</div>
    <div>What it is: A stretched or torn ligament in the lower leg, foot or ankle.</div>
    <div>What brings it on: Running, jumping (as in basketball), sliding (skiing or skating).</div>
    <div>
        Prevent it: If you&acute;re prone to sprains, protect vulnerable joints by taping them before participating in
        any sport,
        says Suraj Achar, MD, associate director of the Sports Training Program at University of California San Diego
        Medical Center.
        Stand on a balance board for three minutes three times a week to build strength and cut your risk of ankle
        sprains, he suggests.
    </div>
    <div>
        While you&acute;re healing: Be aware that your sprained ankle affects your balance, increasing your risk of
        another injury.
        Therefore, practice RICE therapy (see sidebar). Keep fit by lifting weights with your upper body,
        doing core work and strengthening your uninjured leg, says Achar. Strengthen the ankle before resuming your
        sport.
    </div>
    </p>

    <p>

    <div>Hamstring strain</div>
    <div>What it is: Strained (stretched or torn) hamstring muscle on the back of the thigh.</div>
    <div>
        What brings it on: Baseball; volleyball; stretching the hamstring beyond its limit. Sliding in baseball is a
        common cause.
    </div>
    <div>
        Prevent it: Strengthen the muscle by doing hamstring curls and other exercises,
        says Indianapolis physical therapist Bill Hartman, PT, CSCS.
    </div>
    <div>
        While you&acute;re healing: Practice RICE therapy (see sidebar). A doctor might prescribe a muscle relaxant if
        you have painful spasms,
        says Hartman. Switch to a low-impact sport that won&acute;t put an impact on the strained muscle:
        Your doctor may recommend deep water running, cycling or swimming.
    </div>
    </p>


    <p>

    <div>Anterior Cruciate Ligament (ACL) tear</div>
    <div>What it is: A tear of the ligament that stabilizes the knee joint.</div>
    <div>
        Prevent it: Build strong leg muscles with leg curls and stretches and the one-legged hop,
        says Achar. Simply hop lightly on one foot in a straight line for 1 minute.
    </div>
    <div>
        Prevent it: Strengthen the muscle by doing hamstring curls and other exercises,
        says Indianapolis physical therapist Bill Hartman, PT, CSCS.
    </div>
    <div>
        While yu&acute;re healing: Practice RICE therapy (see sidebar). Your doctor will probably prescribe a knee
        brace;
        taping may also keep your knee aligned properly, says Achar.
        Ask your doctor which upper-body and core exercises you can do safely and if you can ride a stationary bike.
    </div>
    </p>

    <p>

    <div>Wrist fracture</div>
    <div>What it is: A crack or break in the bones of the wrist or lower arm bones.</div>
    <div>
        What brings it on: Trying to break a fall with your hand, especially in inline skating, snowboarding and
        bicycling.
    </div>
    <div>
        Prevent it: Wear wrist guards in sports where you&acute;re likely to fall,
        says Kevin Eerkes, MD, Clinical Assistant Professor at NYU School of Medicine Internal Medicine.
    </div>
    <div>
        While you&acute;re healing: Practice RICE therapy (see sidebar). You may need a cast. While injured,
        exercise your core and lower body; options include walking, running and stationary cycling.
    </div>
    </p>

    <p>

    <div>Back pain (lower)</div>
    <div>What it is: Strained (stretched or torn) muscles in the lower back.</div>
    <div>
        What brings it on: Rotating your back instead of your hips in any sport, especially twisting sports such as
        golf and tennis.
    </div>
    <div>
        Prevent it: Learn proper form for serves and tee-offs, says Achar. Also, be aware of your posture throughout
        your day, he says.
        Be active daily and build overall body strength; push-ups especially will help by conditioning back muscles.
    </div>
    <div>
        While you&acute;re healing: Ask your doctor to suggest exercises you can do pain-free; even walking slowly is
        better than total rest.
        Inactivity will make you less flexible, says Achar.
    </div>
    </p>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/workoutInjuries.html'"></ng-include>
</div>
