

<style>
    body{
        font-size: 18px;
    }

    h1{
        color:#e94b40;
        font-weight: bold;
    }
    h2{
        color: #b4b4b4;
        font-size: 1.2em;
    }
    h3{
        color:#e94b40;
        font-size: 1em;
    }

    h3 .font_gray{
        margin-right: 10px;
    }

    .font_gray{
        color: #40535a;
    }
    p {
        font-size: 1em;
        color: #40535a;
        display: none;
        padding-left: 36px;

    }
    .border_bottom_gray{
        border-bottom:1px solid #B4B4B4;
        padding-bottom: 10px;
    }

    ul{
        padding-left: 23px;
    }

    ul li{
        font-size: 1em;
        color: #40535a;
    }

    h4{
        color: #40535a;
        border-top: 1px solid #B4B4B4;
        border-bottom: 1px solid #B4B4B4;
        line-height: 30px;
    }


</style>
<div ng-controller="howItWorksController" class="ng-scope faq">

    <div class="top_nav align_c">
        <a ng-click="back()">
            <img class="top_back" src="image/arrow_left_blue.png"/></a> <span class="font_red">
                Como funciona</span>
    </div>
    <div class="content_padding">
        <h3 class="border_bottom_gray" onclick="faq(this)">
            Qual a diferença entre acessar Express ou o Monitor Digital no aplicativo do Vigilantes do Peso?
        </h3>
        <p>Pense no Express como um plano de partida do Vigilantes do Peso. Ao seguir essa modalidade, você aprenderá o que comer para se sentir saciado apenas escolhendo os alimentos do cardápio de duas semanas composto por refeições que são deliciosas e fazem bem para você, e que foram elaboradas a partir de nossos Alimentos Plenos. Se você for novo no Vigilantes do Peso, este pode ser um grande começo.
           <br />
           <br />
            O aplicativo do Vigilantes do Peso é o plano alimentar do Vigilantes do Peso em um formato portátil. Inclui todas as nossas ferramentas de perda de peso, entre elas nosso Monitor <span class="pro_font">ProPontos</span> de alimentos e atividades físicas. (Não há monitoramento no Express.) Você pode fazer download do aplicativo a qualquer momento.

        </p>

        <h3 class="border_bottom_gray" onclick="faq(this)">
            Os vegetarianos podem aderir ao Express?
        </h3>
        <p>Sim! Há várias refeições vegetarianas e você poderá usar até mesmo aquelas que contêm carne e peixe se fizer uma das trocas indicadas. </p>

        <h3 class="border_bottom_gray" onclick="faq(this)">
            Como o Express funciona se eu estiver cozinhando para a minha família?
        </h3>

        <p>
            Escolha sua receita favorita e a duplique, ou triplique. Ela continuará deliciosa. (E há muitas opções perfeitas para se fazer para a família.)
        </p>

        <h3 class="border_bottom_gray" onclick="faq(this)">
            Como muito fora... ainda poderia seguir a modalidade Express?
        </h3>
        <p>
            Não queremos que você deixe de curtir sua vida enquanto segue a modalidade Express do Vigilantes do Peso: e isso inclui comer fora. Há dicas sobre o que pedir nos restaurantes em várias das refeições apresentadas, bem como em ocasiões especiais. Desde que escolha alimentos que constem na Lista de Alimentos, você ficará bem. (E certifique-se de dizer ao garçom que você deseja que seu prato seja preparado sem óleo ou manteiga.) </p>

        <h3 class="border_bottom_gray" onclick="faq(this)">
            Percebi que há muitos laticínios sem gordura na lista. E se eu não gostar?   </h3>
        <p>
            Escolher laticínios com 0% de gordura é uma ótima forma de alcançar sua cota diária de cálcio e de outros nutrientes. Mas você também pode usar seus <span class="pro_font">ProPontos</span> Extras semanais com tentações como os produtos comuns derivados do leite (queijo, sorvete etc.), se preferir seu sabor e textura. </p>
        <h3 class="border_bottom_gray" onclick="faq(this)">
            Estou tentando me manter longe do glúten... ainda posso aderir ao Express?
        </h3>
        <p>
            Mas é claro! Como você come menos alimentos processados, será mais fácil controlar as suas escolhas. Apenas evite qualquer alimento que você acredite que possa conter glúten e procure a orientação de um profissional de saúde conforme necessário.
        </p>
        <h3 class="border_bottom_gray" onclick="faq(this)">
            E se eu não seguir direito o plano do Express por um ou mais dias?
        </h3>
        <p>
            Você teve um daqueles dias em que comeu tudo que aparecia na frente? E agora? Isso acontece. Não enlouqueça tentando descobrir como consertar a situação; apenas levante-se daí, sacuda a poeira e deixe esse episódio enterrado no passado. Escolha a sua próxima refeição do Express e volte ao Plano A. </p>

        <h3 class="border_bottom_gray" onclick="faq(this)">
            E se eu quiser fazer o Express de novo?
        </h3>
        <p>
            Se você não teve o começo que deseja com o Express e deseja recomeçar, tudo bem. Apenas desinstale o aplicativo e faça um novo download. Isso lhe permitirá começar do zero.
        </p>

        <h3 class="border_bottom_gray" onclick="faq(this)">
            E se eu desejar mais opções de alimentos?
        </h3>

        <p>
            Se deseja variar, você pode mudar para a modalidade de monitoramento, utilizando sua Cota Diária de <span class="pro_font">ProPontos</span> personalizada como desejar. Você só precisa se manter dentro dessa Cota, lembrando que também há os <span class="pro_font">ProPontos</span> Extras semanais (ainda 49 por semana). Você precisará monitorar tudo o que come e prestar mais atenção aos tamanhos das porções, mas terá mais flexibilidade para fazer suas escolhas de alimentos.
            <br />
            <br />
            Mas veja bem: você achará muito mais fácil se manter dentro da sua Cota Diária de <span class="pro_font">ProPontos</span> – e não se sentir privado enquanto segue o programa – se escolher vários Alimentos Plenos do Vigilantes do Peso. É por isso que recomendamos que você comece pelo Express, para que experimente os benefícios desses alimentos.
        </p>


    </div>
</div>
