
    <style>
        body{
            font-size: 18px;
        }

        h1{
            color:#e94b40;
            font-weight: bold;
            font-size: 1.5em;
        }
        h2{
            color: #b4b4b4;
            font-size: 1.2em;
        }
        h3{
            color:#e94b40;
            font-size: 1em;
        }


        h3 .font_gray{
            margin-right: 10px;
        }

        .font_gray{
            color: #40535a;
        }
        p {
            font-size: 1em;
            color: #40535a;
            margin-left: 23px;
        }
        .border_bottom_gray{
        border-bottom:1px solid #B4B4B4;
            padding-bottom: 10px;
        }

        ul{
            padding-left: 23px;
        }

        ul li{
            font-size: 1em;
            color: #40535a;
        }

        h4{
            color: #40535a;
            border-top: 1px solid #B4B4B4;
            border-bottom: 1px solid #B4B4B4;
            line-height: 30px;
            margin-top: 30px;
        }

    </style>
    <div ng-controller="howItWorksController">
        <div class="top_nav align_c">
            <a ng-click="back()">
                <img class="top_back" src="image/arrow_left_blue.png"/></a> <span class="font_red">
                Como funciona</span>
        </div>
        <div class="content_padding">

<h1>Lista de alimentos do Express</h1>

<h2>Esta lista contém ingredientes para todas as refeições e lanches do Express: estes são os Alimentos Plenos (além de alguns outros óleos, temperos e condimentos que você pode comer). Pense nesta como uma lista de compras: abasteça sua geladeira, seu congelador e sua despensa com os alimentos de que gosta mais!</h2>
<h4>Laticínios e derivados desnatados</h4>
<h3>Vá em frente!</h3>
<ul>
    <li>
        Queijos: cottage comum ou light, queijo de minas frescal (com 0% de gordura) e queijo de soja natural (tofu)
    </li>
    <li>
        Leite: desnatado e semidesnatado ou suas preparações como café com leite ou cappuccino sem adição de açúcar
    </li>
    <li>
        Iogurte: desnatado, natural ou light (com 0% de gordura) e iogurte de soja sem adição de açúcar
    </li>

</ul>

<h3>Evite:</h3>

<ul>
    <li>
        Queijos e iogurtes comuns ou com baixo teor de gordura (não são 0% de gordura)
    </li>
</ul>

<h4>Frutas</h4>


<h3>Vá em frente!</h3>

<ul>
    <li>Todas as frutas frescas, congeladas, em conserva de água sem açúcar</li>
    <li>Frutas em conserva no próprio suco (escorrido)</li>
    <li>Salada de frutas sem adição de açúcar</li>

    </ul>
<h3>Evite:</h3>
<ul>

<li>Frutas secas</li>
<li>Sucos</li>
</ul>

<h4>Legumes</h4>
<h3>Vá em frente!</h3>
            <ul>
                <li>Legumes frescos, congelados ou enlatados sem adição de açúcar ou de óleo</li>
            </ul>

            <h3>Evite:</h3>
            <ul>
                <li>Sucos de legumes</li>
                <li>Picles</li>
                <li>Abacate</li>
                <li>Batata frita</li>
                <li>Azeitona</li>
                <li>Banana cozida</li>
            </ul>

<h4>Óleos saudáveis (Limite o consumo a 2 c.c. por dia.)</h4>
<h3>Vá em frente!</h3>
<ul>
    <li>Azeite de oliva</li>
    <li>Óleo de canola</li>
    <li>Girassol</li>
    <li>Soja</li>
    <li>Sementes de linhaça</li>
</ul>
<h4>Proteínas magras</h4>
<h3>Vá em frente!</h3>
<ul>
<li>Feijões e ervilhas, secos ou enlatados</li>
<li>Carnes, aves e peixes sem empanar em farinhas e sem adição de óleo</li>
<li>Lentilha</li>
<li>Todas as outras carnes magras, sem pele e sem gordura</li>
<li>Ovos: inteiros ou somente a clara</li>
<li>Substitutos da carne como tofu e hambúrgueres vegetarianos com menos de 2 g gordura</li>
<li>A maioria dos peixes, frutos do mar, crustáceos e moluscos</li>
<li>Miúdos: de boi, de cordeiro, de porco ou de vitela</li>
</ul>



<h3>Evite:</h3>
<ul>
    <li>Peixes ou mariscos em conserva de óleo ou azeite</li>
    <li>Carnes processadas, como salsichas</li>

</ul>

<h4>Cereais integrais</h4>
<h3>Vá em frente!</h3>
<ul>
    <li>Arroz integral e selvagem</li>
    <li>Cereais quentes prontos para comer (como aveia), sem adição de açúcar, de frutas secas ou de nozes</li>
    <li>Macarrão de trigo integral ou de outros grãos</li>
    <li>Cereais integrais (como flocos de milho) com mais de 4 g de fibras por porção (sem nozes, frutas secas e sem adição de açúcar)</li>
    <li>Grãos integrais (como cevadinha, quinoa e trigo-sarraceno)</li>

</ul>
<h4>E mais</h4>
<h3>Vá em frente!</h3>
<ul>
    <li>Pães de forma light (os integrais são a melhor escolha)</li>
    <li>Sopas de legumes, verduras e caldos sem gordura</li>
    <li>Gelatina preparada sem açúcar</li>
    <li>Batatas: branca, vermelha e doce</li>
</ul>

<h4>Temperos e condimentos</h4>
<h3>Vá em frente!</h3>
<ul>
    <li>Molhos prontos para salada light e maionese light</li>
    <li>Essências de baunilha e de amêndoas, especiarias como sal, pimenta, ervas frescas e secas, adoçantes substitutos do açúcar</li>
    <li>Molhos: de mostarda, de soja, de ketchup, de pimenta, teriyaki e inglês</li>
    <li>Óleo em spray, fermento em pó e bicarbonato de sódio para fins alimentícios</li>
    <li>Vinagre, alcaparras</li>

</ul>

            </div>
            </div>
