<div class="footer_fixed" id="simpleFoot">
    <div class="express_gray">
        <div>
            <img src="image/small/logo_propontos_two.png">
        </div>
        <div class="btnLearnMorePro" ng-click="goToTrackMode()">
            <img src="image/small/button_leam-more.png">
        </div>
    </div>
    <div class="express-propontos-gray" id="simpleModeFlag">
        <div>
            <img src="image/small/logo_express_two.png">
        </div>
        <!--<div class="btnLearnMorePro" ng-click="startSimpleMode()">-->
        <div class="btnLearnMorePro">
            <img src="image/small/button_start_express.png" onclick="quickMotivation()">
        </div>
    </div>
    <div class="clear"></div>
</div>