<div>

    <div class="simple-image">
        <img src="pic/simple_start_1.png">
    </div>

    <div class="simple-text">
        <p class="simple-title" ng-show="!gender">{{'label_introduce_welcome_expr' | translate}}</p>
        <p class="simple-title" ng-show="gender">{{'label_introduce_welcome_express' | translate}}</p>
        <p>
            {{'content_introduce_simple_1_1' | translate}}
            <span class="logo_font">{{'content_introduce_simple_1_2' | translate}}</span>
            {{'content_introduce_simple_1_3' | translate}}
        </p>
    </div>
</div>