
<header class="logo">
    <img class="imgSmall" src="image/small/title.png"/>
    <img class="imgLarge" src="image/large/logoLarge.png"/>
</header>
<form name="myForm" novalidate>
    <div class="main" ng-controller="retrievePasswordController">
        <div class="contain">
            <div class="contain">
                <div class="title">
                    <span>{{"label_login_forgot_password" | translate}}? </span>
                </div>
                <div class="forgotEmail">
                    <div class="inputDiv inputMiddle">
                        <img src="image/icon/CPF_icon.png"/>

                        <div class="inputContent">
                            <input type="text" placeholder="{{'placeholder_login_cpf' | translate}}" ng-model="cpf"
                                   ng-keyup="verifyCPFFormat(cpf,$event)"
                                   maxlength="14" onkeypress="return handleEnter(this, event)"/>
                        </div>
                    </div>
                    <div class="icon_go password_continue" ng-click="retrievePassword(cpf)"></div>

                    <div class="loginDiv">
                        <a class="button blue btnLarge bigRounded">
                            <div onclick="window.history.go(-1)" >
                                {{"button_back" | translate}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <ng-include src="'views/signUp/footer.html'"></ng-include>
        </div>
</form>
