
<header class="logo">
    <img class="imgSmall" src="image/small/title.png"/>
    <img class="imgLarge" src="image/large/logoLarge.png"/>
</header>
<form name="myForm" novalidate>
    <div class="main" ng-controller="createPasswordController">
        <div class="contain">
            <div class="boxStyle">
                <div class="registerTitle">
                    {{"title_password_create_1" | translate}} <span>{{"title_password_create_2" | translate}}</span>
                </div>
                <div class="registerInfo">
                    <div class="inRegister">
                        <div class="inputDiv bgReadOnly">
                            <img src="image/icon/CPF_icon_white.png">

                            <div class="inputContent">
                                <input type="text" id="cpf" class="bgReadOnly" ng-model="cpf" readonly/>
                            </div>
                        </div>
                        <div class="inputDiv">
                            <img src="image/icon/password_icon.png"/>

                            <div class="inputContent">
                                <input type="password" id="password" placeholder="{{'placeholder_password_enter' | translate}}" ng-model="password"
                                       maxlength="20" onkeypress="return handleEnter(this, event)"/>
                            </div>
                        </div>
                        <div class="inputDiv">
                            <img src="image/icon/password_icon.png"/>

                            <div class="inputContent">
                                <input type="password" id="rePassword" placeholder="{{'placeholder_password_reenter' | translate}}"
                                       ng-model="rePassword"
                                       maxlength="20" onkeypress="return handleEnter(this, event)"/>
                            </div>
                        </div>
                        <div class="noticeInfo">
                            <img src="image/icon/password_notice_icon.png"/>
                            <span>{{"label_password_validation" | translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="loginDiv">
                            <a class="button blue btnLarge bigRounded">
                                <div ng-click="goToPersonal()">
                                    {{'button_continue' | translate}}
                                    <img src="image/icon/button_arrows.png"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
