<style>
    .app {
        background: #eef3f7;
        overflow: hidden;
    }
</style>
<form name="myForm" novalidate>
<div class="main" ng-controller="foodTrackerController">
<div id="head">
    <div class="navbar navbar-app navbar-absolute-top bg-blue border_bottom_devide">
        <div class="navbar-brand navbar-brand-center">
            <select ng-model="meal" id="" ng-options="m.id as m.name for m in mealModel"
                    class="navSelect"></select>
        </div>
        <div class="btn-group pull-left">
            <div ng-click="back()" class="btn btn-navbar sidebar-toggle">
                <img src="image/back_button.png"/>
            </div>
        </div>
        <div class="btn-group pull-right">
            <div onclick="showQuickMenu()" class="btn btn-navbar sidebar-toggle add">
                <img src="image/add_button.png"/>
            </div>
        </div>
    </div>
    <div class="search_box">
        <div class="inputDiv searchDiv">
            <div class="inputContent">
                <input type="text" placeholder="{{'placeholder_point_search' | translate}}"
                        ng-model="searchName" ng-keydown="extendSearch($event.keyCode)"
                       />
            </div>
            <div ng-click="searchAllFood(searchName)" class="btn_search" id="btnSearch">
                <img class="btn_search_1" ng-show="showSearchBtn" src="image/icon/button_search2.png"/>
                <img class="btn_search_2" ng-show="!showSearchBtn" src="image/icon/button_search3.png"/>
            </div>
        </div>

    </div>
</div>

<div id="bodyData" class="myProgress_body">
    <!--<div class="search_box">-->
    <!--<div class="inputDiv searchDiv">-->
    <!--<div class="inputContent">-->
    <!--<input type="text" placeholder="{{'placeholder_point_search' | translate}}"-->
    <!--ng-readonly="isReadOnly" ng-model="searchName" ng-keyup="searchGenFood(searchName)"/>-->
    <!--</div>-->
    <!--<div ng-click="searchAllFood(searchName)" class="btn_search" id="btnSearch">-->
    <!--<img class="btn_search_1" ng-show="showSearchBtn" src="image/icon/button_search2.png"/>-->
    <!--<img class="btn_search_2" ng-show="!showSearchBtn" src="image/icon/button_search3.png"/>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div>
        <ul class="nav nav-tabs bg_blue navFont collect3">
            <li class="shortLi"><a href="#recently" toggle="on" parent-active-class="active"
                                   ng-click="searchFoods(1)">{{'tab_pointTrack_ra' | translate}}</a></li>
            <!--<li class="shortLi"><a href="#foods" toggle="on" parent-active-class="active" ng-click="searchFoods()">{{'tab_pointTrack_foods' | translate}}</a>-->
            <!--</li>-->
            <li class="shortLi"><a href="#fav" toggle="on" parent-active-class="active"
                                   ng-click="searchFoods(2)">{{'tab_pointTrack_favorites' | translate}}</a>
            </li>
            <li class="shortLi"><a href="#createdFoods" toggle="on" parent-active-class="active"
                                   ng-click="searchFoods(3)">{{'tab_pointTrack_iCreated' | translate}}</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane" toggleable active-class="active" default="active" id="recently"
             exclusion-group="Activities">
            <div class="trackerBox pointBox pointList fix_margin" ng-show="!isSearch">
                <div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif" ng-show="loadImg"/>
                </div>
                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                <div ng-repeat="food in recentlyFood">
                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'1')">
                        <!--<div  class="tableInfo">{{food.name}}</div>-->
                        <div ng-if="food.archived == 1 || food.obsolete == 1" class="tableInfo"
                             style="color: #A9A9A9">{{food.name}}
                        </div>
                        <div ng-if="food.archived == 0 && food.obsolete == 0" class="tableInfo">{{food.name}}
                        </div>
                        <div class="tableNo">
                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                            <img src="image/icon_my_foods.png" ng-show="food.memberFood"/>
                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                            <img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>
                            {{food.point}}
                        </div>
                        <div style="padding-left: 1em">{{food.portion}}</div>
                    </div>
                </div>
            </div>
            <div class="trackerBox pointBox pointList fix_margin" ng-show="isSearch">
                <div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif" ng-show="loadImg"/></div>
                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                <div class="panel-group" id="accordion1" ng-show="extendSearchfood1">
                    <div class="panel panel-default">
                        <div class="panel-heading icon_add" toggle active-class="icon_del" target="Foods1" style="background-color: #00A5DF">
                            <h4 class="panel-title" style="color: #FCFCFC;font-weight: bold;">
                                {{'label_pointTrack_food' | translate}}
                            </h4>
                        </div>
                        <div id="Foods1" toggleable active-class="in" exclusion-group="accordion1" default="active"
                             class="panel-collapse collapse" >
                            <div class="panel-body">
                                <!--<div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif"-->
                                                                      <!--ng-show="loadImg"/></div>-->
                                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                                <div ng-repeat="food in Foods">
                                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'1')">
                                        <!--<div  class="tableInfo">{{food.name}}</div>-->
                                        <div ng-if="food.archived == 1 || food.obsolete == 1" class="tableInfo"
                                             style="color: #A9A9A9">{{food.name}}
                                        </div>
                                        <div ng-if="food.archived == 0 && food.obsolete == 0" class="tableInfo">
                                            {{food.name}}
                                        </div>
                                        <div class="tableNo">
                                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                                            <img src="image/icon_my_foods.png" ng-show="food.memberFood"/>
                                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                                            <img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>
                                            {{food.point}}
                                        </div>
                                        <div style="padding-left: 1em">{{food.portion}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion2"  ng-show="extendSearchfood2">
                    <div class="panel panel-default">
                        <div class="panel-heading icon_add" toggle active-class="icon_del" target="BrandedFoods1" style="background-color: #00A5DF">
                            <h4 class="panel-title" style="color: #FCFCFC;font-weight: bold;">
                                {{'label_pointTrack_brandedFood' | translate}}
                            </h4>
                        </div>
                        <div id="BrandedFoods1" toggleable active-class="in" exclusion-group="accordion2"
                             default="active" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!--<div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif"-->
                                                                      <!--ng-show="loadImg"/></div>-->
                                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                                <div ng-repeat="food in brandedFoods">
                                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'1')">
                                        <!--<div  class="tableInfo">{{food.name}}</div>-->
                                        <div ng-if="food.archived == 1 || food.obsolete == 1" class="tableInfo"
                                             style="color: #A9A9A9">{{food.name}}
                                        </div>
                                        <div ng-if="food.archived == 0 && food.obsolete == 0" class="tableInfo">
                                            {{food.name}}
                                        </div>
                                        <div class="tableNo">
                                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                                            <img src="image/icon_my_foods.png" ng-show="food.memberFood"/>
                                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                                            <img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>
                                            {{food.point}}
                                        </div>
                                        <div style="padding-left: 1em">{{food.portion}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="tab-pane" toggleable active-class="active" id="foods" exclusion-group="Activities">-->
        <!--<div class="trackerBox pointBox pointList fix_margin">-->
        <!--<div ng-show="allFlag">{{'message_pointTrack_noItem' | translate}}</div>-->
        <!--<div ng-repeat="food in allFoods">-->
        <!--<div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>-->
        <!--<div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'2')">-->
        <!--<div class="tableInfo">{{food.name}}</div>-->
        <!--<div class="tableNo">-->
        <!--<img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>-->
        <!--<img src="image/icon_my_foods.png" ng-show="food.memberFood"/>-->
        <!--<img src="image/triangle_ico.png" ng-show="food.powerFood"/>-->
        <!--<img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>-->
        <!--{{food.point}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="tab-pane" toggleable active-class="active" id="fav" exclusion-group="Activities">
            <div class="trackerBox pointBox pointList fix_margin" ng-show="!isSearch">
                <div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif"
                                                      ng-show="loadImg"/></div>
                <div ng-show="favFlag">{{'message_pointTrack_noFItem' | translate}}</div>
                <!--<div ng-show="(favFoods | filter:ignoreAccents).length == 0 && !loadImg && !favFlag">{{'message_pointTrack_noFItem' | translate}}</div>-->
                <div ng-repeat="food in favFoods">
                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'3')">
                        <!--<div class="tableInfo">{{food.name}}</div>-->
                        <div ng-if="food.obsolete == 1|| food.archived == 1" class="tableInfo" style="color: #A9A9A9">{{food.name}}
                        </div>
                        <div ng-if="food.archived == 0 && food.obsolete == 0" class="tableInfo">{{food.name}}</div>
                        <div class="tableNo">
                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                            <img src="image/icon_my_foods.png" ng-show="food.memberFood"/>
                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                            <!--<img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>-->
                            {{food.point}}
                        </div>
                        <div style="padding-left: 1em">{{food.portion}}</div>
                    </div>
                </div>
            </div>
            <div class="trackerBox pointBox pointList fix_margin" ng-show="isSearch">
                <div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif" ng-show="loadImg"/></div>
                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                <div class="panel-group" id="accordion3" ng-show="extendSearchfood1">
                    <div class="panel panel-default">
                        <div class="panel-heading icon_add" toggle active-class="icon_del" target="Foods2" style="background-color: #00A5DF">
                            <h4 class="panel-title" style="color: #FCFCFC;font-weight: bold;">
                                {{'label_pointTrack_food' | translate}}
                            </h4>
                        </div>
                        <div id="Foods2" toggleable active-class="in" exclusion-group="accordion3" default="active"
                             class="panel-collapse collapse" >
                            <div class="panel-body">
                                <!--<div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif"-->
                                                                      <!--ng-show="loadImg"/></div>-->
                                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                                <div ng-repeat="food in Foods">
                                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'1')">
                                        <!--<div  class="tableInfo">{{food.name}}</div>-->
                                        <div ng-if="food.archived == 1 || food.obsolete == 1" class="tableInfo"
                                             style="color: #A9A9A9">{{food.name}}
                                        </div>
                                        <div ng-if="food.archived == 0 && food.obsolete == 0" class="tableInfo">
                                            {{food.name}}
                                        </div>
                                        <div class="tableNo">
                                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                                            <img src="image/icon_my_foods.png" ng-show="food.memberFood"/>
                                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                                            <img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>
                                            {{food.point}}
                                        </div>
                                        <div style="padding-left: 1em">{{food.portion}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion4"  ng-show="extendSearchfood2">
                    <div class="panel panel-default">
                        <div class="panel-heading icon_add" toggle active-class="icon_del" target="BrandedFoods2" style="background-color: #00A5DF">
                            <h4 class="panel-title" style="color: #FCFCFC;font-weight: bold;">
                                {{'label_pointTrack_brandedFood' | translate}}
                            </h4>
                        </div>
                        <div id="BrandedFoods2" toggleable active-class="in" exclusion-group="accordion4"
                             default="active" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!--<div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif"-->
                                                                      <!--ng-show="loadImg"/></div>-->
                                <div ng-show="recFlag">{{'message_pointTrack_noRItem' | translate}}</div>
                                <div ng-repeat="food in brandedFoods">
                                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'1')">
                                        <!--<div  class="tableInfo">{{food.name}}</div>-->
                                        <div ng-if="food.archived == 1 || food.obsolete == 1" class="tableInfo"
                                             style="color: #A9A9A9">{{food.name}}
                                        </div>
                                        <div ng-if="food.archived == 0 && food.obsolete == 0" class="tableInfo">
                                            {{food.name}}
                                        </div>
                                        <div class="tableNo">
                                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                                            <img src="image/icon_my_foods.png" ng-show="food.memberFood"/>
                                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                                            <img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>
                                            {{food.point}}
                                        </div>
                                        <div style="padding-left: 1em">{{food.portion}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" toggleable active-class="active" id="createdFoods" exclusion-group="Activities">
            <div class="btn btn-navbar sidebar-toggle btn_simple" ng-click="showDeleteIcon()"
                 ng-model="deleteModel" id="buttonEdit">
            </div>
            <div class="trackerBox pointBox pointList fix_margin">
                <div style="text-align: center;"><img style="margin:1em;" src="image/loader.gif"
                                                      ng-show="loadImg"/></div>
                <div ng-show="itemFlag">{{'message_pointTrack_noCItem' | translate}}</div>
                <div ng-show="(createdFoods | filter:ignoreAccents).length == 0 && !loadImg && !itemFlag">{{'message_pointTrack_noCItem' | translate}}</div>
                <div ng-repeat="food in createdFoods | filter:ignoreAccents">
                    <div ng-show="food.titleFlag" class="tableTitle">{{food.showTitle}}</div>
                    <div ng-show="!food.titleFlag" class="tableContent" ng-click="go2Details(food,'4')"
                         id="food{{food.id}}">
                        <div class="tableInfo">
                                    <span ng-show="deleteModel">
                                        <img ng-show="!food.deleteFlag" src="image/delect.png"/>
                                        <img ng-show="food.deleteFlag" src="image/delect_pro.png"/>
                                    </span>
                            {{food.name}}
                        </div>
                        <div class="tableNo">
                            <img src="image/icon_recently_added.png" ng-show="food.recentAdd"/>
                            <!--<img src="image/icon_my_foods.png" ng-show="food.memberFood"/>-->
                            <img src="image/triangle_ico.png" ng-show="food.powerFood"/>
                            <img src="image/favorites_ico_homepage.png" ng-show="food.favorite"/>
                            {{food.point}}
                                    <span ng-show="deleteModel">
                                        <button class="delete" ng-click="deleteFood(food)" ng-show="food.delete">
                                            {{'button_simple_delete' | translate}}
                                        </button>
                                    </span>
                        </div>
                        <div style="padding-left: 1em">{{food.portion}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="quickMenu" id="quickMenu">
    <ul>
        <li class="border_bottom quickAdd" ng-click="toQuickAdd()">{{'label_pointTrack_qa' | translate}}</li>
        <li class="border_bottom calc" ng-click="toCal()">{{'label_pointTrack_calculator' | translate}}</li>
        <li class="recipes" ng-click="toRecipes()">{{'label_pointTrack_recipes' | translate}}</li>
    </ul>
</div>
</div>
</form>