<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
        <p class="visitor_title">Eat, drink, and be merry, while staying on Plan. <p/>
        <div class="artical">Article By: WeightWatchers.com</div>
        <hr/>
        
        <p>
        <div class="item_content">
            It's easy to slide into a pattern of overeating during the holiday season. But with a little advanced planning, some great advice and steely resolve, you can sail through to New Year's without an increase on the scale. These tips will keep your pants fitting (or heck, even loose!) well into January and beyond.
        </div>
        </p>
        
        <p><div class="item_title">1. Do unto others as you would have them do unto you.</div>
        <div class="item_content">In other words, don't saddle someone you know and love with a giant calorie bomb of a cake or chocolate tray. Give a food gift you would like to receive yourself, possibly a fruit basket or some gourmet low-fat muffins. Or take a vegetable or fruit plate to a party. Your host just may return the favor.
        </div>
        </p>


        <p><div class="item_title">2. Be the designated driver.</div>
        <div class="item_content">Stick with non-alcoholic drinks during a party and you'll be the hero of your friends and your waistline at the same time. Order club soda with a twist of lime or lemon. It looks like an alcoholic drink but has far fewer calories than the real deal. (Dial up the festive quotient with just a splash of cranberry juice.)
        </div>
        </p>

        <p><div class="item_title">3. Don't get pressured into overindulging.</div>
        <div class="item_content">When friends and family say, "You have nothing to worry about — you're so thin," use the compliment as a reminder of your commitment to healthy living. Smile and reply: "Thank you. I've worked hard to take off the weight, and I'm not going to blow it now."
        </div>
        </p>

        <p><div class="item_title">4. Limit the number of choices on your plate.</div>
        <div class="item_content">It's a fact: the more choices one is faced with, the more one will eat. When you're at a buffet, enjoy a few smart selections instead of giving in to overzealous sampling.
        </div>
        </p>

        <p><div class="item_title">5. Keep your hands full.</div>
        <div class="item_content">When you're juggling a purse and a camera, it's impossible to also be clutching a plate of food and a cocktail. The more conscious you are of what you're holding, the more aware you'll be of what you are consuming.
        </div>
        </p>

        <p><div class="item_title">6. Plan a guilt-free event.</div>
        <div class="item_content">One of the many benefits of hosting your own party: You have total control over the menu and activities. Organize a dance party and serve a hearty buffet of veggies and low-fat dips, and other tasty crowd-pleasing recipes.
        </div>
        </p>

        <p><div class="item_title">7. Visit your neighbors.</div>
        <div class="item_content">Deliver cards in person, sing carols with friends. Go door-to-door on foot and earn activity PointsPlus® values.
        </div>
        </p>

        <p><div class="item_title">8. Share party leftovers and gifts of cakes, cookies and chocolates.</div>
        <div class="item_content">Local food shelters are often grateful for delicious party food. You'll remove rich foods from your grasp and provide for those in need.
        </div>
        </p>

        <p><div class="item_title">9. Volunteer with an organization that piques your interest.</div>
        <div class="item_content">Keep your mind off food and your heart in the right place by getting involved in a non-profit effort this season. Welfare organizations, toy drives and other charitable endeavors can use all the help they can get, during the holiday season and beyond.
        </div>
        </p>

        <p><div class="item_title">10. Give your New Year's weight-loss resolution a trial run.</div>
        <div class="item_content">Start it before the holidays instead of after. But don't dwell on slip-ups. Berating yourself won't solve anything and can ruin your holiday fun. Learn from the mistake and keep your sense of humor and good cheer.
        </div>
        </p>
        </div>
        <div ng-if="languageNGIf == 'pt_BR'" >
            <ng-include src="'views/visitor/pt_BR/10waysToSteadyTheScaleDuringTheHolidays.html'"></ng-include>
        </div>