<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Banish cabin fever and holiday stress with these easy at-home pampering ideas.

    <p/>

    <div class="artical">Article By: Carol Cambo</div>
    <hr class="hr_gray hr_article"/>

    <p>
        There are few things more indulgent and relaxing than a spa weekend:
        After a few days of peace, exercise and fresh, healthful food, you could face your overcrowded schedule with a
        clear, tranquil mind.
        If only you had a standing reservation, right? Don't despair if you can't get away.
        You can enjoy the benefits of a spa weekend at home by following our expert tips.
        Take a deep breath, relax and read on.
    </p>

    <p>

    <div class="item_title">1. Get a fresh-air fix</div>
    <div class="item_content">
        Spa resorts offer outdoor options to start off each day,
        from hiking and yoga to Tai Chi and meditation. Follow suit:
        Take a brisk 20-minute walk followed by 10 minutes of stretching each morning to get your blood flowing.
        &quot;[This] increases blood flow and raises body temperature,&quot; says Richard Butler, exercise physiologist
        at Canyon Ranch in Lenox, MA.
        &quot;It can help quiet anxiety and cause blood pressure to drop, which will help you relax.&quot;
    </div>
    </p>

    <p>

    <div class="item_title">2. Sip on green tea</div>
    <div class="item_content">
        The Chinese have been drinking green tea to promote good health for at least 3,000 years.
        Brew a pot and drink liberally (you can find caffeinated and decaf versions). According to the American Cancer
        Society, green tea's antioxidant properties may help prevent certain types of cancer.
    </div>
    </p>

    <p>

    <div class="item_title">3. Guarantee a good-hair day</div>
    <div class="item_content">
        Hair can take a beating in winter with frequent hat usage and drier air.
        Put full-fat mayonnaise to work, for 0 PointsPlus? values!
        For a simple moisturizer, massage one cup of mayonnaise into hair and scalp and cover with plastic,
        then wrap with a towel for one half-hour before rinsing, suggests Greta Breedlove, co-author of Herbal
        Well-Being.
        For shinier hair, says Breedlove, rinse with mixture of 1/8 cup fresh lemon juice, 2 tablespoons apple cider
        vinegar and one cup of water. Pat (never rub) your hair dry and use a wide-tooth comb to detangle.
    </div>
    </p>
    <p>

    <div class="item_title">
        4. Dine on nourishing food
    </div>
    <div class="item_content">
        Eat fresh, unprocessed foods. For breakfast, choose fresh fruits.
        For lunch and dinner, enjoy a salad with colorful raw vegetables and lean protein;
        to warm up from the inside out, choose clear-broth soups or veggie bisques. (Make them &quot;creamy&quot; by
        blending until velvety smooth.)
    </div>
    </p>
    <p>

    <div class="item_title">
        5. Set the scene
    </div>
    <div class="item_content">
        Create a soothing atmosphere with soft lighting, scented candles and relaxing music or complete silence.
        Select some inspirational reading to browse through while you indulge in body treatments. Finally, hang a &quot;do
        not disturb&quot;
        sign on the door to let housemates, spouses and kids know you need your privacy.
    </div>
    </p>
    <p>

    <div class="item_title">
        6. Put on a fresh face
    </div>
    <div class="item_content">
        Reinvigorate and cleanse your skin with an herbal facial steam.
        Toss a handful of dry herbs (try rose, lavender or lemon balm, all available at health food stores) into a large
        pot of boiling water.
        Let the water cool for two minutes then cover your head and shoulders with a thick towel, hold your face over
        the pot and let the steam bathe you.
        Stand back if the steam is too hot. Bathe in the steam for 5-10 minutes or as long as you are comfortable.
        Afterward, beat two egg whites and apply them to your face as a mask. After the mask dries, rinse your face with
        warm water.
    </div>
    </p>
    <p>

    <div class="item_title">
        7. Surrender to a healing touch
    </div>
    <div class="item_content">
        Massage stimulates the lymphatic system, improves circulation and relaxes muscles.
        It's great to have a willing partner who will treat you to a massage, but if not, try self-massage. Rub your
        neck and spine,
        stroke your thighs and calves with loosely clenched fists, then squeeze and rub your feet. Don't forget your
        hard-working hands: squeeze and gently tug each finger, massage tendons and firmly stroke your palms with your
        thumbs.
    </div>
    </p>
    <p>

    <div class="item_title">
        8. Get a salt glow
    </div>
    <div class="item_content">
        Wet two cups of coarse sea salt in a bowl.
        Stand in tub full of warm water, wet your skin and then rub the dampened salt all over your body as vigorously
        as feels good.
        Once you've rubbed your entire body, sink down and soak in the warm salt water, then rinse with fresh water.
    </div>
    </p>

    <p>

    <div class="item_title">
        9. Treat your feet
    </div>
    <div class="item_content">
        Soak your feet in very warm water mixed with a capful of bath gel or bubble bath for 20 minutes.
        Pat them dry and exfoliate with a pumice stone. Apply olive oil to soften cuticles, then push them back.
        Slather your feet with thick moisturizer, then wrap them in plastic food wrap and cover them with socks for ten
        minutes.
        The warmth will help the moisture penetrate deeply. Remove the wrap and rub in the lotion that remains on your
        feet.
        This moisturizing regimen works for hands, too.
    </div>
    </p>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/9Ways.html'"></ng-include>
</div>
