<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        How to look leaner when you&acute;re on your way to skinny jeans.

    <p/>

    <div class="artical">Article By: Camille Noe</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Want to appear long and lean? Look no farther than your own closet!
        We talked to two top fashion experts to get the scoop on how to dress your best&ndash;even
        as you&acute;re working toward knocking off those last pounds.
    </p>

    <p>

    <div class="item_title">1. Think color</div>
    <div class="item_content">
        Dressing slim doesn&acute;t necessarily mean wearing all black. &quot;That can be boring, and may even make your
        complexion seem dull.
        You&acute;re better off wearing colors that flatter you,&quot; says Alison Deyette, a former fashion editor.

        <p>
            &quot;The trick is to dress in one shade from head to toe &ndash; a teal top with a pair of blue jeans,
            for example &ndash; which presents your body as a long, unbroken line.&quot;
            If you do mix colors, be sure to wear the lighter hue on top and the darker on the bottom,
            which will draw attention to your face &ndash; and pull it away from your hips and thighs.
        </p>

    </div>
    </p>

    <p>

    <div class="item_title">2. Focus on your overall body shape, not your &quot;trouble spots.&quot;</div>
    <div class="item_content">
        &quot;Worrying about your &acute;big butt&acute; while you&acute;re getting
        dressed is a recipe for disaster &ndash; you&acute;ll end up with an outfit
        that hides your behind but does nothing for your best features,&quot; says Kendall Farr,
        a fashion stylist and author of The Pocket Stylist (Gotham/Penguin, 2004).
        Obsessing about one dreaded body part can also lead to self-loathing, adds Farr. Instead,
        she suggests looking in the mirror and pretending that you can only see a silhouette.
        How wide are your shoulders in relation to your hips? Are you more apple or pear shaped?
        Take note and wear clothes that balance your entire body.
    </div>
    </p>

    <p>

    <div class="item_title">3. Wear clothes that really fit.</div>
    <div class="item_content">
        &quot;The number one style sin is wearing clothes that are a size too small,
        which only accentuates flaws,&quot; says Deyette. &quot;You may feel better about yourself thinking you&acute;re
        an 8 rather than a 10,
        but who&acute;s going to see the tag on your pants? It&acute;s better to buy up and not look like you poured
        yourself into your outfit.
        &quot; Conversely, oversized duds are a no-no, too. &quot;They&acute;ll only make you look bigger, says Farr.
        &quot;Look for clothes that show off &ndash; not hide &ndash; your shape.&quot;
    </div>
    </p>

    <p>

    <div class="item_title">4. Make your accessories work for you.</div>
    <div class="item_content">
        "Big, bold accessories can make you appear smaller and can draw attention to your favorite
        features,&quot;
        says Deyette. Highlight your hands or face by donning a cocktail ring or a gorgeous pair of chandelier earrings.
        Other accessories can add the illusion of length; a scarf around the neck or a long necklace can make your upper
        body look leaner.
    </div>
    </p>


    <p>

    <div class="item_title">5. If all else fails, remember these tried-and-true basics:</div>
    <div class="item_content">
        V-neck tops are universally flattering, as they make the neck look longer, says Deyette.
        Similarly, an A-line skirt that stops just below the knee looks terrific on any body shape.
        Opt for single-breasted jackets rather than double-breasted; the extra material won&acute;t do you any favors.
        And toss the pleated pants: &quot;The pleats draw attention to the stomach and thighs,&quot; says Deyette.
        Finally, of course, if you&acute;re not on your feet all day long, there&acute;s nothing to lengthen your
        legs &ndash; and boost
        your confidence &ndash; like a great pair of heels.
    </div>
    </p>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/fashionTricks.html'"></ng-include>
</div>
