<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
        <p class="visitor_title">Start the year off right! Rev up your fitness routine to fast-track your health and weight loss goals.<p/>
        <div class="artical">Article By: Camille Noe</div>
        <hr/>
        
        <p>New year, new fit and fabulous you. Sound far-fetched? It's not — provided you make the right vows. "Women often fail to achieve their New Year's resolutions because they set impossible goals for themselves, or because they're not honest with themselves about their fitness routine," says Dana Rucci, a former trainer and representative at IDEA Health and Fitness Association in California. "The key is to make small, achievable changes that add up to big results." To help you get started, we've put together four fitness resolutions that can help to make 2013 your best year ever.
        </p>
        
        <p>
		<div class="item_title">1. Find an exercise routine that works for you</div>
		<div class="item_content">
            Wish as you might, working out twice a week won't give you a toned tush or thinner thighs. To see results, exercise has to be a daily activity — one that's as much a part of your schedule as, say, brushing your teeth. Luckily, that doesn't mean that you need to spend an hour at the gym every day, says Rucci. "When you can't bear the thought of hopping on the treadmill, get creative," she says. "Take a brisk walk with your dog or chase your kids around the jungle gym instead." To make exercise a seamless part of your day, go to the <a href="http://www.weightwatchers.com/Plan/ResourceCenter/Routines/index.aspx">Routines tool</a> and add ones that will help make fitness a mindless habit. Try "Wear an activity monitor all day, every day," Know how you're going to be active tomorrow" or "Walk at least five minutes every hour."
		</div>
        </p>
        
        <p>
		<div class="item_title">2. Don't be too tough on yourself</div>
		<div class="item_content">One of the main reasons women ditch their fitness routine is because they expect perfection from themselves — and when they don't achieve it, they give up. "Don't throw in the towel if you skip a workout or have a bad week," says Rucci. Instead, acknowledge that you've fallen off the fitness wagon, and get back on as soon as possible — even if that means doing a few sets of pushups and crunches before bed. And take heart: Even going a whole week or two without working out won't cause you to put on 25 pounds or lose your hard-earned muscles.</div>
        </p>
        
        <p>
		<div class="item_title">3. Step it up</div>
		<div class="item_content">A few extra steps a day can make a world of difference for your body, and your health. "Studies have shown that when combined with a healthy diet, walking half an hour over the course of a day can help women lose weight and lower their risk of heart disease, stroke and diabetes," says I-Min Lee, MD, associate professor of medicine at Brigham and Women's Hospital, a teaching affiliate of Harvard Medical School. If you're already walking, slowly increase your efforts until you're logging an hour daily, suggests Lee. If you're crunched for time, break it up into 10 to 15 minutes before work, on lunch, while shopping or going to and from your car. To keep an accurate count, invest in an activity monitor.
        </div>
        </p>
        
        <p>
		<div class="item_title">4. Strive for balance</div>
		<div class="item_content">"Doing only one type of exercise — all aerobics, for example — can be both monotonous and ineffective," says Rucci. Adding weights and yoga, Pilates or stretching to your cardio routine will help you lose more weight and get stronger, more pliable muscles. Intimidated by the weight room or group classes? Opt for an at-home workout with a video, enlist the help of a trainer (many gyms will provide some free professional guidance to help you get the basics of resistance training down) or have a friend join you for moral support.
        </div>
        </p>

</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/fitnessResolutionsForTheNewYear.html'"></ng-include>
</div>