<div class="visitor_article">
    <p class="visitor_title">
        Think whipping up a morning meal requires a lot of time and fancy ingredients?
        Wrong! Here are five excellent things to have at all times...

    <p/>

    <div class="artical">Article By: Lisa Lillien</div>
    <hr class="hr_gray hr_article"/>

    <p>

    <div class="item_title">Low-fat toaster waffles</div>
    <div class="item_content">
        Low-calorie-low-fat toaster waffles are a must-have.
        Lightly toast your waffles, mix up some fat-free egg substitute with a bit of cinnamon and vanilla extract,
        soak the waffles in the egg mix, and then cook °Æem in a skillet. You just French-toasted your waffles! Also
        good are sugar-free preserves,
        actual fruit (defrosted frozen strawberries are great), a squirt of fat-free whipped topping, sugar-free pancake
        syrup, etc.
        Or get crazy and make a breakfast sandwich using waffles instead of bread!
    </div>
    </p>

    <p>

    <div class="item_title">Light/whole-wheat English muffins</div>
    <div class="item_content">
        If the idea of regular bread bores or frightens you,
        these muffins are great alterna-carbs. Take some 97%-98% fat-free deli meats, fat-free/low-fat cheeses,
        and/or fat-free egg substitute and make a sandwich. (Heads up! Whole-wheat tortillas and pitas are also good for
        this kind of thing!)
        Another HG tip: Use tomato sauce and light string cheese on your English muffin for mini-pizza-like muffin
        halves!
    </div>
    </p>

    <p>

    <div class="item_title">Fat-free egg substitute (like Egg Beaters)</div>

    <div class="item_content">
        This stuff is almost exhaustingly versatile. I&acute;m just going to rattle off some
        things I like in my eggs...
        Low-fat/fat-free cheeses, veggies, frozen potatoes O°ØBrien, real crumbled bacon bits, lean meats, turkey bacon,
        spices (garlic powder, dried onion, etc.), soy crumbles, various condiments (ketchup, salsa, Dijonnaise)... You
        know,
        maybe it would be easier to list things that are not good with Egg Beaters. Microwave it in a mug, scramble it
        in a pan,
        put it under the broiler and make a fancy frittata out of it, etc. Get creative and mix it up!
    </div>
    </p>
    <p>

    <div class="item_title">Low-fat/fat-free yogurt</div>
    <div class="item_content">
        Yogurt does not have to be just a boring snack food or a disappointing breakfast!
        Layer it up with some fruit and your favorite cereal for a quick breakfast parfait... Or if you feel lazy,
        just stir it all together and forget the fancy layers. Frozen fruit is good to keep around, and freeze-dried
        fruit is great, too!
        If you&acute;are starting with the plain stuff, you may want to add a hint of sweetness, like sugar-free pancake
        syrup or sugar-free preserves. Yum.
        My favorite yogurt brands are Yoplait Light, Fiber One Yogurt and Fage Total 0%.
    </div>
    </p>

    <p>

    <div class="item_title">Oats</div>
    <div class="item_content">
        Um, make oatmeal with it. No-brainer, right?
        But when you get the plain oats rather than the stuff that comes in packets with sugar, dried fruit, etc.,
        you have more possibilities. (Pssst! I really like the steel-cut oats &ndash; they make a chewier, heartier hot
        cereal.)
        Add light soymilk or unsweetened Vanilla Almond Breeze with a no-calorie sweetener packet for a very creamy,
        delicious base.
        Stir in extras like that sugar-free pancake syrup (so good!), fruit (canned, frozen, fresh, dried, whatever!),
        spices (yay cinnamon!),
        a scoop of canned pumpkin (awesome), or anything else appropriate that you have around.
    </div>
    </p>

    <p class="item_title">More About Hungry Girl</p>
</div>
