<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Luciana</li>
        <li><strong>Age:</strong> 41</li>
        <li><strong>Height:</strong> 1.67m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 83.2kg</li>
        <li><strong>Lost:</strong> 16.2kg*</li>
        <li><strong>Weight:</strong> 67.0kg</li>
        <li><strong>As of:</strong> 30/04/2013</li>
    </ul>
</div>
</div>


<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Luciana</li>
            <li><strong>Idade:</strong> 41</li>
            <li><strong>Altura:</strong> 1.67m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 83.2kg</li>
            <li><strong>Eliminou:</strong> 16.2kg*</li>
            <li><strong>Peso atual:</strong> 67.0kg</li>
            <li><strong>Pesagem:</strong> 30/04/2013</li>
        </ul>
    </div>
</div>