<div ng-if="languageNGIf == 'eng_BR'">
<div>
    <ul>
        <li><strong>Name:</strong> Douglas</li>
        <li><strong>Age:</strong> 21</li>
        <li><strong>Height:</strong> 1.86m</li>
    </ul>
</div>
<div>
    <ul>
        <li><strong>Was:</strong> 121.0kg</li>
        <li><strong>Lost:</strong> 37.0kg*</li>
        <li><strong>Weight:</strong> 84.0kg</li>
        <li><strong>As of:</strong> 12/02/2011</li>
    </ul>
</div>
</div>

<div ng-if="languageNGIf == 'pt_BR'">
    <div>
        <ul>
            <li><strong>Nome:</strong> Douglas</li>
            <li><strong>Idade:</strong> 21</li>
            <li><strong>Altura:</strong> 1.86m</li>
        </ul>
    </div>
    <div>
        <ul>
            <li><strong>Pesava:</strong> 121.0kg</li>
            <li><strong>Eliminou:</strong> 37.0kg*</li>
            <li><strong>Peso atual:</strong> 84.0kg</li>
            <li><strong>Pesagem:</strong> 12/02/2011</li>
        </ul>
    </div>
</div>

