<div class="instruction_content hide">

    <div class="recipe_ingredient">
        <ul class="font_recipe">
            <li><strong>Ingredientes</strong></li>
            <li>1 peça de lagarto redondo (ou similar) sem gordura (1,5 kg)</li>
            <li>1 c.c. de sal</li>
            <li>1/2 c.c. de pimenta-do-reino moída na hora</li>
            <li>4 dentes de alho amassados</li>
            <li>3 1/2 xíc. de tomate italiano em conserva (850 </li>
            <li>1 folha de louro inteira</li>
            <li>1/2 xíc. de vinho tinto</li>
        </ul>
    </div>
</div>
<div class="ingredient_content hide">
    <p class="font_recipe">
        <strong>Modo de Preparo</strong>
        <br/>
        <br/>
        Salpique a carne com o sal e a pimenta. Em fogo alto preaqueça uma panela grande antiaderente untada com óleo em spray. Adicione a carne e cozinhe por igual até ficar completamente dourada (2 minutos a cada virada). Transfira a carne para um prato grande e reserve.
        <br/>
        <br/>
        Na mesma panela adicione o alho e cozinhe por 30 segundos até aromatizar. Acrescente o tomate, a folha de louro e o vinho e deixe levantar fervura por 5 minutos até os sabores se mesclarem. Retorne com a carne, reduza o fogo, tampe e cozinhe por 1h30 minutos. Vire uma vez até ficar macia ao toque de um garfo. Descarte a folha de louro.
        <br/>
        <br/>
        Transfira a carne para uma tábua de corte e cubra para manter aquecida. Mantenha a panela no fogo e aguarde o molho de vinho levantar fervura e cozinhar por 10-12 minutos. Mexa ocasionalmente até reduzir a 1/3 e engrossar um pouco. Corte a carne em 12 fatias e sirva acompanhada do molho.
        <br/>
        <br/>
        Informações Nutricionais (1 fatia de carne com 1/4 de xíc. de molho de vinho): 144 Calorias, 14 g de Proteínas, 5 g de Carboidratos, 7 g de Gorduras Totais, 3 g de Gorduras Saturadas, 0 g de Gorduras Trans, 35 mg de Colesterol, 429 mg de Sódio, 1 g de Fibra, 5 mg de Cálcio.
        <br/>
        <br/>
    </p>


</div>
