<div class="instruction_content hide">

    <div class="recipe_ingredient">
        <ul class="font_recipe">
            <li><strong>Ingredientes</strong></li>
            <li>1/3 de xíc. de farinha de trigo</li>
            <li>¾ de xíc. de açúcar</li>
            <li>¼ c.c. de sal</li>
            <li>2 gemas de ovo levemente batidas</li>
            <li>2 ½ xíc. de leite desnatado</li>
            <li>3 C.S. de manteiga com sal, dividida</li>
            <li>1 c.c. de essência de baunilha</li>
            <li>36 biscoitos Maria</li>
            <li>3 bananas grandes fatiadas</li>
        </ul>
    </div>
</div>
<div class="ingredient_content hide">
    <p class="font_recipe">
        <strong>Modo de Preparo</strong>
        <br/>
        <br/>
        Numa panela média, adicione a farinha, o açúcar e o sal. Numa tigela média, adicione as gemas e o leite e mexa bem com um batedor de mão. Aos poucos, vá juntando a mistura do leite à panela com os ingredientes secos. Acrescente 2 C.S. de manteiga. Cozinhe em fogo médio enquanto mexe, por aproximadamente 10 minutos, até fervilhar e engrossar. Remova do fogo, adicione o restante da manteiga e a essência de baunilha e mexa até derreter por completo.
        <br/>
        <br/>
        Coloque 12 biscoitos no fundo de uma assadeira quadrada de 20 cm. Arrume 1/3 das bananas sobre os biscoitos e cubra com 1/3 do creme. Repita a operação com o restante dos ingredientes para montar 3 camadas, terminando com o creme. Cubra e deixe esfriar.
        <br/>
        <br/>
        POR PORÇÃO (3/4 de xíc.): 181 Calorias, 4 g de Proteínas, 34 g de Carboidratos, 5 g de Gorduras Totais, 2 g de Gorduras Saturadas, 0 g de Gorduras Trans, 39 mg de Colesterol, 120 mg de Sódio, 1 g de Fibra, 69 mg de Cálcio.

        <br/>
        <br/>
    </p>

</div>
