<div class="instruction_title">
    “Anything is possible for me now!”
</div>
<div class="section1">
    <p class="section_head">
        Elizama dropped 59,5lb!</p>

    <p>
        “When I first realized I was... well, fat... it was when I had to buy a new pair
        of jeans, for the ones I had didn’t fit anymore. I went for size 14 (extralarge),
        but when I tried to wear them, I couldn’t button up. I felt like a cow, an ugly,
        ghastly thing to see, dressed in a potato bag.</p>

    <p>
        I didn’t feel like going out with my husband anymore. He would invite me to events,
        but I would always decline. My self-confidence was none. And then my husband mentioned
        that a woman who lived next door was following Weight Watchers’ plan. So I went
        there to ask her how it all worked. She told me she’d been following the plan for
        a long time, she had joined one year ago and gotten rid of 49 pounds. I was speechless,
        thinking: God, it works!</p>

    <p>
        At my first meeting, the Leader was talking about how no-one could lose weight for
        you: not your father or your husband or boyfriend or friend; it had to start inside
        you. For me, it was like: That’s it, that’s what I want for my life. And here I
        am now, 59,5lb lighter. I am so happy, so much happy, there’s nothing in this world
        that could keep up to how I feel today. I wouldn’t wear red, yellow, blue, it was
        always grey and black, always those dresses in shapeless sizes that would cover
        me and not let people see I was overweight.</p>

    <p>
        Everyone can see the difference now. They say: Oh, you’re someone else entirely,
        you have completely changed, you’re not the same. I feel much more powerful, confident.
        Men look at me on the streets... they call out, Hey, gorgeous! You’re sexy! That’s
        something new for me. My relationship has also grown to a new level since I lost
        weight. It’s so much better now. I feel like attending social events again, we stay
        together and enjoy each other. Our love is 100% better. Anything is possible for
        me now! I lost 59,5 pounds, anything is possible.”</p>
</div>
