<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “I’ve learnt how to control the treats I eat and avoid overindulgence.”
</div>
<div class="section1">
    <p class="section_head">
        Health... from father to daughter</p>

    <p>
        By adopting a balanced diet, an active life and new habits, such as tracking behaviors,
        planning routines and practicing self-control, member Fernando Henrique said goodbye
        to 29 kg and now can consider himself a healthy father.</p>

    <p class="section_title">
        Learning in order to teach</p>

    <p>
        When Fernando decided to join the program, he weighed 115 kg. Besides his intention
        to lose weight to have a better quality of life, he was also worried about his daughter’s
        health. He wanted her to eat healthily. “My inspiration came from the willing to
        be a model to my daughter,” he says.</p>

    <p class="section_title">
        New habits to succeed</p>

    <p>
        After listening to his Leader and reading the program’s advice, Fernando started
        tracking. In his Tracker, he took daily notes of what he had eaten and which physical
        activities he had practiced. It helped him to evaluate his progress and find out
        what hadn’t worked for him during the weight-loss process. “Another crucial tool
        was the ProPoints Calculator. It became my ally to portion control,” he recalls.</p>

    <p>
        Fernando used interesting strategies to control his portions and avoid excesses
        that could hinder his weight-loss. “I started eating my main meals from a dessert
        plate. In just four weeks I was already used to it and realized that what I used
        to eat was much more than I really needed to feel satisfied,” he says.</p>

    <p>
        The Express Menus in the program helped Fernando to plan ahead and make smart food
        – without cutting off what he liked best. I’ve learnt how to control the treats
        I eat and avoid overindulgence. Now I think: ‘Should I eat this slice of pudding
        now or should I drink some wine and eat some cheese later, when I’m with my friends?’,”
        he reveals.</p>

    <p class="section_title">
        When motivation comes from the inside</p>

    <p>
        Fernando has also become an optimistic person. He really believed he could succeed,
        and became his best friend during the weight-loss process. By being optimistic about
        his results, he suffered no influence from people who misjudged him or tried to
        hinder his weight-loss. “When somebody laughed about my choices or implied that
        I wouldn’t be able to reach my goal, I found the motivation I needed inside me.
        It was like being challenged,” he says.</p>

    <p class="section_title">
        Moving more to lose more</p>

    <p>
        The physical activities also played an important role in Fernando’s success. He
        was already used to running three times a week, but he intensified his trainings
        and, now, he frequently joins 5 to 15k running events. “By the end of 2013, I want
        to run the São Silvestre’s International Race once more – only in 1h40. During my
        prep trainings, I try to accelerate to reduce the final time and to improve my physical
        conditioning.”</p>

    <p class="section_title">
        A model of a father</p>

    <p>
        As he lost weight, Fernando Henrique noticed the influence parents have in their
        children’s eating habits. In the member’s opinion, most families are used to too
        many activities that include food, and that can lead to severe consequences to everybody’s
        health. “When I decided to lose weight, my daughter complained about losing her
        ‘pillow’. She’s just 8 years old and she is my greatest follower as far as eating
        and running habits are concerned”, he proudly says.</p>

    <p>
        By, reaching his goal of 86 kg, Fernando felt just like an Olympic medalist and
        repeated to himself that he would never gain weight again. “It was a great pleasure
        when I threw away the pants that were too loose. They were substituted by old pants
        which I hadn’t used for about 10 years. I’ll keep my new lifestyle forever”, he
        concludes.</p>
</div>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryFernando.html'"></ng-include>
</div>
