<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “Hoje sou um homem mais feliz, equilibrado e leve, tanto na alma quanto na balança!”
</div>
<div class="section1">
    <p class="section_head">
        No controle das próprias emoções</p>

    <p>
        Com o Vigilantes do Peso, Antonio conseguiu superar a fome emocional que tanto o prejudicava. O resultado são 26 kg a menos e uma vida muito mais saudável.</p>

    <p class="section_title">
        À flor da pele
    </p>
    <p>

        Antonio sabe bem quais são as dificuldades de se lidar com a fome emocional. Tendo passado quase a vida inteira com sobrepeso, ele conta que evitava tirar fotos e ser filmado, além de fugir de praias e piscinas por vergonha do corpo e do rosto. Além da dificuldade para comprar roupas em lojas comuns, Antonio apresentava problemas de saúde como gordura no fígado e dores nos pés e joelhos.
    </p>
    <p>
        “Antes de entrar para o Vigilantes do Peso e começar o programa, eu só ficava satisfeito quando me sentia bastante cheio. Nunca fui consumidor assíduo de fast-food, mas comia em grandes quantidades nas refeições principais (almoço e jantar). Também beliscava muito durante o dia: biscoitos e outras guloseimas.” Com a mudança de hábitos e a conscientização promovidas pelas reuniões semanais e o apoio dos Orientadores, Antonio conta que hoje se sente satisfeito comendo bem menos do que antes. Sua alimentação aos poucos foi melhorando até se tornar balanceada, rica em fibras, e seu cardápio hoje inclui uma boa variedade de frutas.
    </p>

    <p class="section_title">
        Lidando com o estresse
    </p>
    <p>
        A fome emocional foi o principal aspecto a trabalhar. Ao longo das semanas seguindo o programa, ele percebeu que o que o fazia comer de forma descontrolada eram algumas questões pessoais e profissionais, causadoras de estresse e ansiedade. “Se nossa mente está saudável, temos muito mais condições de enfrentar qualquer desafio de forma objetiva e determinada.”
    </p>
    <p>
        Com o Apoio do grupo e as orientações do programa, Antonio finalmente conseguiu assumir o controle das próprias emoções e de sua reação a elas. Todo esse empenho rendeu frutos. “Hoje em dia fico desconfortável quando me sinto empanturrado ao ponto de o abdome dilatar.” Antonio sente a fome emocional sob controle, consegue comer de forma moderada suas tão adoradas guloseimas. “Hoje como para viver, e não vivo para comer”, resume ele. “Hoje sou um homem mais feliz, equilibrado e leve, tanto na alma quanto na balança!”
    </p>
    <p>
        Os resultados já são visíveis em sua vida social, com um Antonio mais confiante e tranquilo. Planos para o futuro? “Quero manter o estilo de vida saudável e ter uma boa grana para trocar todo o meu guarda-roupa!”
    </p>

</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryAntonio.html'"></ng-include>
</div>
