<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “Now I feel like a more complete person.”
</div>
<div class="section1">
    <p class="section_head">
        Taking control of her emotions</p>

    <p>
        After having tried many different kinds of diets as well as strong medication to
        lose weight, Eliana found at Vigilantes do Peso the help she needed to satisfy her
        emotional hunger.</p>

    <p>
        At the age of 55, Eliana had spent 2 decades trying all the methods to lose weight:
        soup diet, low carb diet, high protein diet, and a variety of shakes. Discouraged,
        she used strong mood-altering weight-loss medication, which led her to depression.
        Even when she managed to lose weight, she put on weight again very quickly. Sometimes
        she even gained twice the weight she had lost.</p>

    <p>
        Her turning point was in 2012, when her cardiologist asked her to take some lab
        tests. She was chocked: abnormal fatty deposits in the liver, high cholesterol,
        pre-diabetes, high blood pressure, acid reflux, apnea and high triglycerides.</p>

    <p class="section_title">
        Changing habits</p>

    <p>
        Encouraged by her doctor to meet Vigilantes do Peso, Eliana observed her behaviors
        change. “Before Vigilantes do Peso, everything was a good reason to eat. If I was
        excited, I ate. If I was happy, I ate. If I was tired, I ate. If I wanted to cry,
        I ate. If I wanted to laugh, I ate. Well, eating was a safety valve for every kind
        of feeling.” The meetings helped her to control her emotional hunger, making her
        aware of these pitfalls and promoting self-control.</p>

    <p>
        Eliana started walking, which improved her cardiovascular conditioning and helped
        her to hold the anxiety. Day by day, gram by gram, she lost weight. And her satisfaction
        grew: “I started running every day. I still do it, and I love it. Day after day
        I’m getting better.”</p>

    <p class="section_title">
        Learning from the past</p>

    <p>
        “We have to see everything that has happened as opportunities to improve, always”,
        she says. Instead of regretting her old habits, she sees them as something helpful,
        because they helped her to grow. “I’ve learned to eat several times a day, in a
        smart way. I’ve started eating more veggies and fruits. And I’ve practiced these
        habits everywhere, not just when I’m at home.” Her new eating habits and regular
        physical activities led her to the results she had been looking for: she lost 17
        kg in 10 months. “I counted on my friends and all of my family members, especially
        my husband. I also counted on my Leader, who always encouraged me.”</p>

    <p class="section_title">
        Harvesting results</p>

    <p>
        After reaching her goal, Eliana took all the lab tests again and was congratulated
        by her doctors. Beside the fact that she lost weight, her heart is great and her
        blood pressure is under control. She’s not diabetics anymore and her liver is clean.
        “I’m still watching, and I respond to my feelings in a more appropriate way. If
        I’m tired, I rest. If I’m sad, I cry. If I’m happy, I smile. If I’m hungry, I eat.
        Now I feel like a more complete person. I’ve never thought of giving up, I really
        wanted to improve my health.”</p>
</div>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryEliana.html'"></ng-include>
</div>