<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “I committed to my goal, which was reaching a healthy weight, and I overcame many
    challenges.”
</div>
<div class="section1">
    <p class="section_head">
        Physical and mental wellness to be happy as a couple</p>

    <p>
        Luciana, a member from Minas Gerais, learnt how to manage the environment and built
        healthier habits that had a positive impact in her health, looks and marriage.</p>

    <p class="section_title">
        Time to change</p>

    <p>
        Luciana was facing difficult times in her marriage. To feel better, she decided
        to become more attractive. She was 40 years old and weighed 83,2 kg when she joined
        Vigilantes do Peso. Motivated by the Success Stories she had read on our website,
        she looked for the nearest meeting.</p>

    <p>
        When she started following the program, she learnt that, to achieve her goals, she
        would have to change her lifestyle by building new habits. “When I set goals in
        my life, even the hardest ones, I never give up. I committed to my goal, which was
        reaching a healthy weight, and I overcame many challenges”, she says.</p>

    <p class="section_title">
        Building new habits</p>

    <p>
        After a week, Luciana could already notice some benefits of making smarter food
        choices: she had lost weight.</p>

    <p>
        As the program recommended, she changed the environment so that it matched her new
        lifestyle: “I’ve substituted the caloric foods and filled the pantry and the fridge
        with healthier items”. In her menu, fries gave way to fresh fruits and vegetables.</p>

    <p>
        Luciana started making smarter choices everywhere she went: “Now I always carry
        healthy snacks. It’s a way not to overeat in my main meals. I also take my own lunch
        to work. It’s always prepared with healthy ingredients.”</p>

    <p>
        In five months, Luciana had already lost about 15 kg. It was then that she stopped
        losing weight. “To overcome it, I followed my Leader’s advice: I started walking
        in a regular basis. It helped me to achieve my goal of 67 kg”, she says.</p>

    <p>
        Now, Luciana maintains her weight-loss and keeps attending the Vigilantes do Peso
        meetings. “I’m not a [Brazilian] size 46 anymore. I’m a 42! I feel more beautiful
        and more confident in my marriage. My coworkers and relatives have noticed the implications
        of my new lifestyle and felt motivated to build healthier habits to achieve wellness,
        too” she says.</p>
</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryLuciana.html'"></ng-include>
</div>