<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “I tell everybody the secret of my success: the Vigilantes do Peso’s lifestyle.”
</div>
<div class="section1">
    <p class="section_head">
        Her health says: “Thank you!”</p>

    <p>
        “I tell everybody the secret of my success: the Vigilantes do Peso’s lifestyle.”</p>

    <p>
        Flávia says that losing weight without going hungry and also counting on the support
        of weekly meetings were everything she needed to change her lifestyle.</p>

    <p>
        Flávia’s excessive weight was affecting her health, causing typical problems of
        grade II obesity: body pain and swelling, high blood pressure, fatigue, depression,
        high cholesterol and blood glucose levels. In order to solve these problems, she
        looked for ways to achieve a healthy weight. She enrolled in a gym and hired a personal
        trainer, but didn’t succeed since she couldn’t adapt her eating habits to her new
        routine…</p>

    <p class="section_title">
        A new hope for Flávia</p>

    <p>
        Her life changed completely when a friend commented on Vigilantes do Peso. When
        Flávia attended her first meeting she was hopeful and decided to stick to a new
        lifestyle. She says the program was what she needed and had looked for year after
        year: “Losing weight by counting on high quality weekly support, being oriented
        by a great professional, without feeling hungry… it was a God given present!”</p>

    <p class="section_title">
        New habits, new life</p>

    <p>
        Her eating habits have changed completely. Now she prefers healthy foods (especially
        those with low <strong>POINTS</strong> values!), and puts into practice the guidelines of the program.
        Flavour is still an important issue: Flávia says she loves rice and beans and prepares
        them the Vigilantes do Peso’s way.</p>

    <p>
        Another new habit she has acquired is making a shop list before going to the supermarket,
        in order to avoid buying products by impulse.</p>

    <p>
        As far as physical activities are concerned, she learned that frequency and regularity
        are as important as intensity. Flávia has done her best in order to get into the
        habit of exercising every day. Nowadays, she exercises five days a week and combines
        aerobic and bodybuilding.</p>

    <p>
        She not only could count on her leader and the other members’ support, but also
        had her cook’s help. She prepared her meals with the <strong>POINTS</strong> values in mind and “controlled”
        Flávia’s visits to the kitchen.</p>

    <p class="section_title">
        Her health says: “Thank you!”</p>

    <p>
        The first success is still in the Flávia’s mind: she lost 1.4 kg in the first week,
        without being hungry or taking any medicine. She says she never thought of giving
        up, and the best things about having a healthy weight are: “to feel good about yourself,
        to put on clothes you want and feel beautiful, to be praised, to want to go out
        and travel, and to be a model for people who are seeking the same results. Losing
        weight with Vigilantes do Peso has only positive effects!” said Flávia.</p>

    <p>
        Now weighting 57 kg, Flávia celebrates: “I’m very happy and I tell everybody the
        secret of my success: the Vigilantes do Peso’s lifestyle.”</p>
</div>
</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryFlavia.html'"></ng-include>
</div>

