<div ng-if="languageNGIf == 'eng_BR'">
<div class="instruction_title">
    “It was amazing when I could buy small size blue jeans, instead of buying a big
    size one.”
</div>
<div class="section1">
    <p class="section_head">
        The great winner</p>

    <p>
        Douglas recovered his self esteem, improved in studies and in the soccer games,
        and even his social life took another course!</p>

    <p>
        Since he was 15, he wanted to lose weight, mostly because his friends used to do
        bad taste jokes. Douglas says he used to “overeat, to pass many ours of his time
        watching TV and in front of computer.” Besides, he used to wake up in the middle
        of night to eat.</p>

    <p>
        Despite of his overweight, Douglas always liked to play soccer, but he “had difficulties
        in dribble and running,” and in the other soccer moves because of his 121 kg.</p>

    <p class="section_title">
        He decided to change his life.</p>

    <p>
        Douglas consulted some specialists in weight loss (a nutritionist and a homeopath),
        but he didn’t adapt himself to the suggested changes in eating habits.</p>

    <p>
        One day, his mother’s cousin talked about the Weight Watcher. He was tired of trying
        to lose weight in many different ways without being succeeded, thus he was not so
        excited. However, his mother encouraged him to go to the meetings.</p>

    <p>
        In his first meeting, Douglas remembers that he was insecure and unsure about the
        program, because he “didn’t like to go to empty places.” In the first weeks, he
        was not that excited, but then, he began to understand that an efficient weight
        loss depends on changing usual thoughts and habits, what made he join the program
        more convicted.</p>

    <p class="section_title">
        He really transformed his life!</p>

    <p>
        One of his achievements was getting back to play soccer easily. Another one was
        doing exercises frequently. The third one was conquering the habit of examine the
        food nutrients before buy them, it helped him to find out what are the real health
        food. Besides, he also learned to control the portions’ sizes. He emphasizes that
        “every food must be eat up moderately, specially the ones we (generally) likes more”,
        those with more calories.</p>

    <p>
        The Member remembers: “It was amazing when I could buy small size blue jeans, instead
        of buying a big size one. I felt like a winner!” Today, 37 kg thinner, Douglas believes
        that losing weight is an example to “everything you put into practice in your life,
        things related to health, welfare or new projects.”</p>
</div>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/successStoryDouglas.html'"></ng-include>
</div>
