<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Are eggs healthy, or not? Discover the nutritional facts about this breakfast staple.

    <p/>

    <div class="artical">Article By: WeightWatchers.com</div>
    <hr class="hr_gray hr_article"/>

    <p style="font-weight: bold;">Q: Are eggs really unhealthy? I&acute;ve heard conflicting information about
        them. </p>

    <p>
        A: Somewhere along the line eggs got a bad reputation and they&acute;ve been sadly misunderstood ever since.
        While eggs do contain a high amount of dietary cholesterol, that is not the type of cholesterol normally
        associated with heart disease.
    </p>

    <p>
        In fact, cholesterol obtained from food serves many important functions in your body:
        It&acute;s involved in the manufacture of vitamin D, aids in the digestion of fatty foods
        (by helping to form bile) and assists in the production of certain hormones. If you don&acute;t ingest any
        dietary cholesterol,
        your body will actually make some on its own.
    </p>

    <p>
        Elevated serum or blood cholesterol, on the other hand, can cause major health problems.
        In particular, LDL cholesterol, also known as "bad" cholesterol, can rise when you eat too much saturated fat.
        It can then clog your arteries, put a strain on your body and cause heart disease. Someone following a low
        fat/low cholesterol diet should therefore be more concerned about limiting foods high in saturated fat than
        those high in dietary cholesterol.
    </p>

    <p>
        For the sake of comparison, three ounces of cooked beef round contains nearly 205 calories,
        4.5 grams of saturated fat and 11.5 grams of total fat. That makes an egg, at 70 calories, 1.5 grams of
        saturated fat and 4.5 total fat grams,
        a real bargain.
    </p>

    <p>
        You may want to reconsider eggs as a healthy food source. Check with your doctor for recommendations
        specifically tailored to you. Meanwhile,
        don&acute;t overlook the value of egg whites, which are fat-free and cholesterol-free.
        Combine them with diced vegetables, salsa and low-fat cheese to make a very tasty omelet.
    </p>

</div>

<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/theTruth.html'"></ng-include>
</div>
