<div ng-if="languageNGIf == 'eng_BR'" class="visitor_article">
    <p class="visitor_title">
        Love lentils? Adore adzuki? Veg out the right way, with these smart-eating tips.

    <p/>

    <div class="artical">Article By: Leslie Fink, MS, RD</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Whether you're ready to convert to full-time vegetarian or just plan to dabble in a meat-free lifestyle,
        you can eat well at home and on the go. The secret is to seek out a healthy balance of nutrient-rich
        ingredients,
        while also keeping an eye on their PointsPlus? values. Follow these tips and no cuisine will feel
        off-limits &ndash; not even a steakhouse dinner!
    </p>

    <p>
        1. Watch out for high-calorie toppings. Avocado, nuts and seeds contain heart-healthy &quot;good&quot; fats.
        But in excess, those good fats can turn ugly as they tend to be high in PointsPlus values per portion.
        Think of these foods as garnishes and chop avocados and nuts to make a little bit go a long way.
    </p>

    <p>
        2. Don&acute;t assume a food is healthy just because it&acute;s from a plant.
        Lots of animal foods have a bad reputation, but that doesn&acute;t mean you can assume all plant foods
        are good for you &ndash; even they can be loaded with heart-clogging saturated fat.
        So opt for olive and canola oils instead of palm oil; think peanut and almond instead of macadamia.
    </p>

    <p>
        3. Venture into foreign territory. Don&acute;t skip over a food item because it sounds too exotic.
        Spend time in a health food store or natural supermarket exploring unfamiliar vegetarian food options.
        For Japanese flair try adzuki beans, for a Chinese taste adventure buy a kumquat, or for a hint of Mexico opt
        for jicama.
    </p>

    <p>
        4. Every bite counts. Even healthy plant-based foods can contribute to weight gain.
        Yes, overindulging on grapes is healthier than eating too many chips, but too much of any food &ndash; even
        carrots &ndash; can pad your waistline.
        Keep your fruit and veggie consumption in check by knowing your portion sizes.
    </p>

    <p>
        5. Ensure your zinc, vitamin B12 and iron stores. While vegetarian eating can be super-healthy,
        a meat-free diet does have a few nutrient limitations. Meet your vitamin and mineral needs by choosing lots of
        beans and leafy greens,
        varying your food choices from each food category and opting for fortified cereals, soy products and other
        foods, when possible. Also,
        check with your physician about taking a multivitamin and mineral supplement.
    </p>

    <p>
        6. Say moo &ndash; veggie style. If you&acute;re avoiding dairy, make sure you &quot;feed&quot;
        your bones enough calcium by opting for calcium-fortified tofu and soy milk (soy is not naturally high in
        calcium on its own).
        Also, select calcium-rich plant foods like turnip greens, kale and bok choy. Be warned, however,
        that you have to really load up on these vegetables to get the same calcium benefit as from a cup of milk.
    </p>

    <p>
        7. Create your own meals at restaurants. Don&acute;t be limited to the one vegetarian plate on a menu. Instead,
        create your own meal from the vegetable and grain-based side dishes and appetizers offered. Even salads, baked
        potatoes,
        rice and saut®¶ed spinach grace most steakhouse menus.
    </p>

    <p class="title">
        Love lentils? Adore adzuki? Veg out the right way, with these smart-eating tips.

    <p/>

    <div class="artical">Article By: Leslie Fink, MS, RD</div>
    <hr/>


    <p>
        Whether you're ready to convert to full-time vegetarian or just plan to dabble in a meat-free lifestyle,
        you can eat well at home and on the go. The secret is to seek out a healthy balance of nutrient-rich
        ingredients,
        while also keeping an eye on their PointsPlus? values. Follow these tips and no cuisine will feel
        off-limits &ndash; not even a steakhouse dinner!
    </p>

    <p>
        1. Watch out for high-calorie toppings. Avocado, nuts and seeds contain heart-healthy &quot;good&quot; fats.
        But in excess, those good fats can turn ugly as they tend to be high in PointsPlus values per portion.
        Think of these foods as garnishes and chop avocados and nuts to make a little bit go a long way.
    </p>

    <p>
        2. Don&acute;t assume a food is healthy just because it&acute;s from a plant.
        Lots of animal foods have a bad reputation, but that doesn&acute;t mean you can assume all plant foods
        are good for you &ndash; even they can be loaded with heart-clogging saturated fat.
        So opt for olive and canola oils instead of palm oil; think peanut and almond instead of macadamia.
    </p>

    <p>
        3. Venture into foreign territory. Don&acute;t skip over a food item because it sounds too exotic.
        Spend time in a health food store or natural supermarket exploring unfamiliar vegetarian food options.
        For Japanese flair try adzuki beans, for a Chinese taste adventure buy a kumquat, or for a hint of Mexico opt
        for jicama.
    </p>

    <p>
        4. Every bite counts. Even healthy plant-based foods can contribute to weight gain.
        Yes, overindulging on grapes is healthier than eating too many chips, but too much of any food &ndash; even
        carrots &ndash; can pad your waistline.
        Keep your fruit and veggie consumption in check by knowing your portion sizes.
    </p>

    <p>
        5. Ensure your zinc, vitamin B12 and iron stores. While vegetarian eating can be super-healthy,
        a meat-free diet does have a few nutrient limitations. Meet your vitamin and mineral needs by choosing lots of
        beans and leafy greens,
        varying your food choices from each food category and opting for fortified cereals, soy products and other
        foods, when possible. Also,
        check with your physician about taking a multivitamin and mineral supplement.
    </p>

    <p>
        6. Say moo &ndash; veggie style. If you&acute;re avoiding dairy, make sure you &quot;feed&quot;
        your bones enough calcium by opting for calcium-fortified tofu and soy milk (soy is not naturally high in
        calcium on its own).
        Also, select calcium-rich plant foods like turnip greens, kale and bok choy. Be warned, however,
        that you have to really load up on these vegetables to get the same calcium benefit as from a cup of milk.
    </p>

    <p>
        7. Create your own meals at restaurants. Don&acute;t be limited to the one vegetarian plate on a menu. Instead,
        create your own meal from the vegetable and grain-based side dishes and appetizers offered. Even salads, baked
        potatoes,
        rice and saut®¶ed spinach grace most steakhouse menus.
    </p>
</div>
<div ng-if="languageNGIf == 'pt_BR'" >
    <ng-include src="'views/visitor/pt_BR/vegetarianEating.html'"></ng-include>
</div>
