<div>

    <div class="track-title pizza right_pad_a" style="text-align: left">
        <span class="title-span"><img src="image/small/icon_pizza.png">
            <strong>{{'content_introduce_tracker_5_1' | translate}}</strong><br>
        </span>
        <span>
            {{'content_introduce_tracker_5_2_1' | translate}}
            <span class="pro_font">  {{'content_introduce_tracker_1_2' | translate}}</span>  {{'content_introduce_tracker_5_2_2' | translate}}.
        </span>
    </div>
    <br /><br />
    <div class="track_weight left_pad_f">
        <img src="image/small/cheat_sheet_Portuguese.png">
    </div>
</div>