
    <style>
        body{
            font-size: 18px;
        }

        h1{
            color:#e94b40;
            font-weight: bold;
            font-size: 1.5em;
        }
        h2{
            color: #b4b4b4;
            font-size: 1.2em;
        }
        h3{
            color:#e94b40;
            font-size: 1em;
        }

        h3 .font_gray{
            margin-right: 10px;
        }

        .font_gray{
            color: #40535a;
        }
        p {
            font-size: 1em;
            color: #40535a;
            margin-left: 23px;
        }
        .border_bottom_gray{
        border-bottom:1px solid #B4B4B4;
            padding-bottom: 10px;
        }

        ul{
            padding-left: 23px;
        }

        ul li{
            font-size: 1em;
            color: #40535a;
        }

        h4{
            color: #40535a;
            border-top: 1px solid #B4B4B4;
            border-bottom: 1px solid #B4B4B4;
            line-height: 30px;
        }
        .btn_orange{
            background: #e94b40;
            border-radius: 20px;
            border:0;
            color: #fff;
            padding: 5px 10px;
        }
        h3{
            padding-bottom: 10px;
        }
        h3 a{
            color:#e94b40;

            padding-left:10px;
        }

        h3 img {
            float: right;
            margin-right: 10px;
        }
    </style>

    <div ng-controller="howItWorksController" class="ng-scope">
        <div class="top_nav align_c">
            <a ng-click="back()">
                <img class="top_back" src="image/arrow_left_blue.png"/></a> <span class="font_red">
                How It Works</span>
        </div>
        <div class="content_padding">
<h3 class="border_bottom_gray"><a href="#/aboutApp">About the app</a><img src="image/arrow_r_g.png"></h3>
            <h3 class="border_bottom_gray"><a href="#/termsAndConditions">Terms & conditions</a><img src="image/arrow_r_g.png"></h3>
<div style="text-align: center;">
    <button class="btn_orange" ng-click="logOut()">Log out</button>
</div>
</div>
</div>