
    <style>
        body{
            font-size: 18px;
        }

        h1{
            color:#e94b40;
            font-weight: bold;
            font-size: 1.5em;
        }
        h2{
            color: #b4b4b4;
            font-size: 1.2em;
        }
        h3{
            color:#e94b40;
            font-size: 1em;
        }


        h3 .font_gray{
            margin-right: 10px;
        }

        .font_gray{
            color: #40535a;
        }
        p {
            font-size: 1em;
            color: #40535a;
            margin-left: 23px;
        }
        .border_bottom_gray{
        border-bottom:1px solid #B4B4B4;
            padding-bottom: 10px;
        }

        ul{
            padding-left: 23px;
        }

        ul li{
            font-size: 1em;
            color: #40535a;
        }

        h4{
            color: #40535a;
            border-top: 1px solid #B4B4B4;
            border-bottom: 1px solid #B4B4B4;
            line-height: 30px;
            margin-top: 30px;
        }

    </style>
    <div ng-if="languageNGIf == 'eng_BR'" ng-controller="howItWorksController">
        <div class="top_nav align_c">
            <a ng-click="back()">
                <img class="top_back" src="image/arrow_left_blue.png"/></a> <span class="font_red">
                How It Works</span>
        </div>
        <div class="content_padding">

<h1>Simple Start Food List</h1>

<h2>This list contains ingredients for all of the Simple Start meals and snacks: these are Power Foods (plus some other oils, seasonings and condiments, which are OK to eat). Think of this as a shopping list: Stock your fridge, freezer and pantry with the foods that appeal to you most!</h2>
<h4>Fat-free dairy &amp; dairy substitutes</h4>
<h3>Go for it!</h3>
<ul>
    <li>
Cheese, fat-free (including  cottage cheese) and unflavored fat-free soy cheese
    </li>
    <li>
Milk, fat-free/non-fat/skim, soy (unflavored) and beverages made with these milks such as cappuccino or latte (as long as they're sugar-free)
    </li>
    <li>
Yogurt, fat-free (artificial sweetener only) and unflavored soy
    </li>
    <li>
Fat-free sour cream
    </li>
</ul>

<h3>Skip it:</h3>

<ul>
    <li>
        Low-fat dairy (it's not fat-free!)
    </li>
</ul>

<h4>Fruit</h4>


<h3>Go for it!</h3>

<ul>
    <li>
All fresh, frozen, or canned fruit without added sugar</li>
    <li>
Fruit canned in its own juice (drained)</li>
    <li>
Fruit salad-mixed fruit with no added sugar</li>
    </ul>
<h3>Skip it:</h3>
<ul>
    <li>
Dried fruit</li>
<li>Juices</li>
</ul>

<h4>Vegetables</h4>
<h3>Go for it!</h3>
<ul>
    <li>
Most fresh, frozen or canned without sugar or oil
    </li>
</ul>

<h3>Skip it:</h3>
<ul>
<li>Vegetable juices</li>
<li>Pickled vegetables</li>
<li>Avocados</li>
<li>French fries</li>
<li>Olives</li>
<li>Plantains</li>
</ul>

<h4>Healthy oils (limit to 2 tsp per day)</h4>

<h3>Go for it!</h3>
<ul>
    <li>Olive</li>
    <li>Canola</li>
    <li>Safflower</li>
    <li>Sunflower</li>
    <li>Flaxseed</li>
</ul>

<h4>Lean proteins</h4>
<h3>Go for it!</h3>
<ul>
    <li>Beans and peas, dried or canned</li>
    <li>Meats or fish without breading or added fat</li>
    <li>Lentils</li>
    <li>All lean meats, trimmed, skin removed</li>
    <li>Eggs: whole, whites and egg substitute</li>
    <li>Meat substitutes (including tofu and veggie burgers with 2g fat or less)</li>
    <li>Most fish and shellfish</li>
    <li>Organ meats: beef, lamb, pork or veal</li>
</ul>

<h3>Skip it:</h3>
<ul>
    <li>Canned fish or shellfish packed in oil</li>
    <li>Processed meats, such as hot dogs</li>
</ul>

<h4>Whole grains</h4>
<h3>Go for it!</h3>
<ul>
    <li>Brown and wild rice</li>
    <li>Hot cereals, without added sugar, dried fruits, or nuts</li>
    <li>Pasta, whole wheat or whole grain</li>
    <li>Popcorn-air-popped, plain or light microwave popcorn</li>
    <li>Cold cereal, whole-grain, 4g fiber or more per serving (no nuts, dried fruit, or added sugar)</li>
    <li>Whole grains such as quinoa and barley</li>
</ul>

<h4>Plus more</h4>
<h3>Go for it!</h3>
<ul>
    <li>Light or reduced-calorie bread (whole grains are the best choice)</li>
    <li>Broth, onion and some broth-and-tomato-based vegetable soups</li>
    <li>Sugar-free gelatin</li>
    <li>Potatoes-white, red, sweet</li>
</ul>

<h4>Seasonings &amp; condiments</h4>
<h3>Go for it!</h3>
<ul>
    <li>Fat-free dressings, salsas and mayo</li>
    <li>Extracts, spices, sugar substitutes and fresh and dried herbs</li>
    <li>Sauces: Teriyaki, steak, mustard, soy, taco, cocktail, Worcestershire, ketchup, hot sauce</li>
    <li>Nonstick cooking spray, baking powder, baking soda</li>
    <li>Vinegar, capers</li>
    <li>Fat-free margarine</li>
</ul>
            </div>
            </div>
    <div ng-if="languageNGIf == 'pt_BR'">
        <ng-include src="'views/simple/pt_BR/hwShoppingList.html'"></ng-include>
    </div>