
<header class="logo">
    <img class="imgSmall" src="image/small/title.png"/>
    <img class="imgLarge" src="image/large/logoLarge.png"/>
</header>
<form name="myForm" novalidate>
    <div class="main" ng-controller="loginController">
        <div class="contain">
            <div class="boxCrumbs">
                <div class="boxTitle">{{'label_restPWD_title' | translate}}</div>
                <!--<ul  class="resetPWD">-->
                    <!--<li>{{'label_restPWD_CPF' | translate}}</li>-->
                    <!--<li>{{'label_restPWD_Validate' | translate}}</li>-->
                    <!--<li>{{'label_restPWD_Reset' | translate}}</li>-->
                <!--</ul>-->
            </div>
            <div class="boxStyle">
                <div class="registerTitle">
                    {{'label_setting_ps' | translate}}
                </div>
                <div class="registerInfo">
                    <div class="inRegister">
                        <div>
                            <div class="inputDiv">
                                <img src="image/icon/password_icon.png">
                                <div class="inputContent">
                                    <input type="password" id="password" placeholder="{{'placeholder_login_password' | translate}}"
                                           ng-model="password" onkeypress="return handleEnter(this, event)"/>
                                </div>
                            </div>
                            <div class="inputDiv">
                                <img src="image/icon/password_icon.png">
                                <div class="inputContent">
                                    <input type="password" id="rePassword" placeholder="{{'placeholder_password_reenter' | translate}}"
                                           ng-model="rePassword" onkeypress="return handleEnter(this, event)"/>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div>
                            <div class="loginDiv">
                                <a class="button blue btnLarge bigRounded">
                                    <div ng-click="resetPassword()">
                                        {{"button_save" | translate}}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-include src="'views/footer.html'"></ng-include>
    </div>
</form>
