
<div class="visitor_title">10 Dicas para Mexer-se Mais nas férias</div>
        <div class="artical">Artigo de: Daryn Eller; Tradução: Gabriela Sucupira</div>
        <hr/>
        
        <p>
        <div class="item_content">Você não precisa viajar para ter férias mais ativas. Veja 10 maneiras para animar seus momentos de descanso em casa (ou pelo menos em seu bairro).
            <ul style="margin-top:0px;">
                <li>Limpe sua bicicleta e pedale pela vizinhança;</li>
                <li>Recrute um parceiro e aproveitem as quadras de esportes;</li>
                <li>Faça um passeio pelo centro da cidade;</li>
                <li>Caminhe nos parques ou reservas naturais;</li>
                <li>Pegue a bola de futebol e promova um campeonato com os amigos;</li>
                <li>Transforme um espaço vazio de sua casa (quintal, play, etc.) em uma academia de ginástica;</li>
                <li>Aprenda uma atividade física diferente, como alguma modalidade de dança ou luta;</li>
                <li>Conheçam a vila olímpica ou visite o grêmio recreativo mais próximo;</li>
                <li>Arme a rede de vôlei e brinque com as crianças;</li>
                <li>Pule corda, é uma atividade barata e empolgante.</li>
            </ul>
        </div>
        </p>
        

