
        <p class="visitor_title">7 dicas simples para perder peso<p/>
        <div class="artical">Artigo de: Leslie Fink; Tradução: Gabriela Sucupira</div>
        <hr/>
        
        <p>
        <div class="item_content">Pequenas mudanças podem potencializar os resultados do seu emagrecimento:</div></p>
        
        <p>
        <div class="item_content">1. Uma colherada de açúcar pode ser acrescentada ao nosso cardápio no período de um ano, sem que possamos perceber. Para evitar que isso aconteça, use 1 c.c. de açúcar (15 calorias) a menos em sua xícara de café diariamente e economizará cerca de 10.000 calorias — o equivalente a menos 1,5 kg por ano.</div>
        </p>
        
        <p>
        <div class="item_content">2. Deixe sua tigela de cereais mais light: troque 1 xíc. do leite integral por 1 xíc. de leite desnatado ou semidesnatado todos os dias. Quando seu paladar se adaptar, você vai se surpreender: 2,5 kg a menos em um ano.</div>
        </p>
        
        <p>
        <div class="item_content">3. Aproveite a paisagem. Estacione seu carro o mais distante possível da entrada do escritório, do shopping ou do restaurante e exercite as pernas. Uma caminhada moderada de 10 minutos por dia (5 minutos em cada sentido queimam cerca de 20 calorias) pode eliminar até 2 kg em um ano. </div>
        </p>
        
        <p>
        <div class="item_content">4. Consuma mais vitamina C comendo uma laranja grande (60 calorias) diariamente em vez de beber o suco da fruta (110 calorias). Em 12 meses, você pode perder até 3 kg.</div>
        </p>
        
        <p>
        <div class="item_content">5. Diga adeus às calorias trocando o refrigerante comum pelo diet (150 x 0 calorias por lata). Você pode perder até 8 kg em um ano se beber apenas uma lata por dia.</div>
        </p>
        
        <p>
        <div class="item_content">6. Incremente seus sanduíches com condimentos pouco calóricos como a mostarda e o vinagre em vez de usar maionese comum. Deixe de usar 1 C.S. de maionese todos os dias e estará se cuidando para perder cerca de 5 kg por ano.</div>
        </p>
        
        <p>
        <div class="item_content">7. Peça porções menores nas lanchonetes fast-food. Quando estiver passeando pelo shopping no final de semana, peça batatas fritas pequenas (250 calorias) em vez da opção grande (570 calorias). Você poderá aproveitar esse lanche o ano inteiro, mas com um bônus: perdendo 2,5 kg. </div>
        </p>
       

