<div class="visitor_article">
    <p class="visitor_title">
        Entre fichamentos e seminários, não se esqueça de manter a boa forma

    <p/>

    <div class="artical">Article By: Melissa Sperl</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Comer demais e comer mal: uma combinação nada promissora. E, ao entrar na faculdade, são vários os fatores que acabam nos levando para esse mau caminho:  </p>

    <p>

    <div class="item_content">
       <ul>
           <li>Se você é daqueles que veem na comida um consolo emocional, talvez esteja se deixando levar pela correria dos trabalhos, provas e horas no estágio.
              </li>
           <li>As opções de restaurantes e lanchonetes em campi universitários não costumam ser das melhores.</li>
           <li>É muita gente nova para conhecer, e a socialização costuma envolver álcool e petiscos gordurosos.</li>
       </ul>

         </div>
    </p>


<p>Seja qual for o motivo, o fato é que as muitas novidades e mudanças na vida dos calouros – toda aquela euforia da conquista de ter entrado em uma nova fase, todas as perspectivas, ansiedades e tensões – acabam fazendo muita gente engordar. Alguns maus hábitos se instalam e, se você nunca se importou muito com saúde e alimentação, vai ter que passar a se importar agora se quiser se manter esbelto até a formatura. Veja algumas dicas que podem ajudá-lo a atravessar esse difícil período.

</p>



    <div class="item_title">
        1. Saiba escolher.
        </div>
    <p>Não é porque o prédio do seu curso só tem uma lanchonete que você precisa almoçar pastel ou coxinha todo dia. Escolha com sabedoria o que vai comer. E, se for comer algo gorduroso, que seja ao menos em pouca quantidade, e não muitas vezes na semana. É claro que o fator grana também conta muito; estágios costumam pagar pouco, e há quem trabalhe o dia inteiro para poder pagar a faculdade. Mas sempre se pode dar um jeito. Explore o campus, busque as melhores alternativas que há à sua volta em vez de resignar-se à opção mais cômoda; leve sanduíches ou biscoitos integrais de casa; tenha sempre na mochila alguma fruta fácil de carregar, como maçã ou banana; procure algum lugar que venda refeições ou até mesmo quentinhas, que costumam ser mais saudáveis que a combinação “salgado + refrigerante”; ou seja: invista em um bom trabalho de campo alimentar.</p>

    <div class="item_title">
        2. Explore os recursos do campus.
    </div>
    <p>
        É bem provável que a sua faculdade ofereça atividades físicas com desconto ou mesmo de graça para alunos. Uma oportunidade e tanto para se manter ativo, o que faz bem para a saúde e queima as calorias daqueles muitos amendoins que você devorou enquanto lia aquele texto chatíssimo para a matéria de hoje. Aproveite essa grande vantagem. Vale capoeira, natação, yoga, qualquer coisa que o faça se mexer.
    </p>
    <div class="item_title">

        3. Não coma por tédio.
    </div>
    <p>

        É difícil passar aulas inteiras apenas bocejando e sonhando com a hora de sair dali. Nesses momentos, talvez você até esteja mesmo com fome e pegue aquele pacote de biscoito, mas se o pacote foi muito grande, você corre o sério risco de acabar comendo tudo por puro e simples tédio. Daí a importância de investir em embalagens individuais. Tudo bem que as embalagens maiores costumam ser mais econômicas, são também mais perigosas. Se mesmo assim quiser optar pelos tamanhos econômicos, basta dividir o conteúdo em pequenos potinhos ou saquinhos, para evitar que você se descontrole e acabe com tudo de uma vez.
    </p>

    <div class="item_title">

        4. Privilegie os lanches que contenham proteínas e gorduras.
    </div>
    <p>

        Um biscoito cream cracker com uma fatia de queijo ou uma colher de requeijão light, por exemplo, é gostoso, sacia e mantém a fome afastada por mais tempo do que os biscoitos puros.
    </p>

    <div class="item_title">

        5. Coma ao menos cinco porções de frutas e legumes por dia.
    </div>
    <p>

        Em casa é fácil, basta se lembrar de comprar e incluir ao menos no café da manhã. Na falta de tempo, aproveite o domingo para deixar tudo lavado, descascado e cortadinho na geladeira. Na rua, você pode levar consigo caixinhas de uvas-passas, cenouras baby para mordiscar, frutas em potinhos (se o problema é amassar na mochila), sanduíches incrementados com muitas rodelas de pepino e cenoura ralada (pode ralar beterraba ou abobrinha também), a boa e velha maçã que nunca nos deixa na mão, chips de frutas...
    </p>
    <div class="item_title">

        6. Se possível, leve de casa.
    </div>
    <p>
        Algumas faculdades maiores possuem espaços reservados para os alunos onde pode haver geladeira, micro-ondas, além de uma mesa onde podem ser feitas as refeições. Se a sua faculdade tem um espaço como esse, aproveite! Prepare suas refeições em casa e deixe-as na geladeira. Assim você pode priorizar os alimentos mais saudáveis e ainda consegue economizar, já que não vai precisar gastar seu dinheiro na lanchonete.
    </p>

    <p>
        De resto, vale lembrar que aquelas regras de ouro continuam valendo: não pular o café da manhã (falta de tempo não é desculpa), beber muita água, esforçar-se para dormir bem... O importante mesmo é não esquecer de se cuidar, e, se você tiver isso em mente, vai acabar encontrando formas de ter um estilo de vida saudável mesmo na correria dos estudos. Busque o que melhor se encaixar na sua rotina, e boa sorte! </p>









</div>
