<div class="visitor_article">
    <p>

    <div class="visitor_title">Meu trabalho afeta meu metabolismo?</div>
    <p/>

    <div class="artical">Artigo de: William Sukala; Traduzido por: Natália Lucas</div>
    <hr class="hr_gray hr_article"/>
    <p>P: Ficar sentado por um longo período de tempo em frente ao computador afeta meu metabolismo?</p>

    <p>
        R: Tecnicamente, ficar sentando em sua mesa não diminui mais o seu metabolismo do que ficar em casa olhando TV o dia inteiro. Se você só faz isso, então, sim, seu metabolismo será reduzido. A inatividade física causa atrofia muscular (encolhimento). Como resultado, queimam menos calorias, facilitando assim a acumulação de gordura no corpo.
    </p>

    <p>
        Embora o trabalho seja um mal necessário para manter os cobradores bem longe, é o que você faz no seu tempo livre que realmente conta. Você fazer mais exercícios antes ou após o trabalho ou durante seu intervalo de almoço. Por exemplo, traga suas roupas de ginástica para o escritório. Tente reservar 30 minutos do horário de almoço para uma caminhada. Assim, você come menos e gasta mais calorias. Saia de trás desse computador. Levante-se e se mexa durante o dia para combater a rigidez muscular. Leia
        <a href="http://www.weightwatchers.com/util/art/index_art.aspx?art_id=639&tabnum=1&sc=0&subnav=Fitness+Ideas">A
            A During-Work Workout</a> para obter mais dicas.
    </p>


</div>
