<div class="visitor_article">
    <p class="visitor_title">
        A meditação é relaxante e pode ajudá-lo a emagrecer. Mas será que é só sentar lá e respirar que os quilos extras se vão?
    <p/>

    <div class="artical">Artigo de: Valerie Reiss; Tradução de: Natália Lucas</div>
    <hr class="hr_gray hr_article"/>

    <p>
        A meditação é um método milenar para limpar a mente e acalmar o corpo. Há algumas décadas, era conhecida somente como uma prática religiosa oriental ou misteriosamente boêmia (os Beatles, por exemplo, eram ávidos meditadores). Mas, nos últimos anos, a meditação ganhou importância.
    </p>

    <p>
        Recomendada como uma técnica para redução do estresse por hospitais e médicos em todo o país, entre os benefícios inumeráveis da meditação, estão redução da pressão sanguínea, artérias mais saudáveis e uma maior sensação de bem-estar. Com todos esses benefícios, a meditação é uma ferramenta ideal para relaxamento e autodescoberta, que vai ajudá-lo a alcançar sua meta de peso.
    </p>

    <p>

    <p>

    <div class="item_title">Respire para ficar em paz.... e afinar a cinturinha?</div>
    <div class="item_content">
        "Respirar é o âmago da questão", disse Alison Shore Gaines, um consultor holístico do Centro de Yoga e Saúde Kripalu em Lenox, Massachusetts. Em seu workshop "Alimente-se com consciência para uma nutrição sagrada", Gaines ensina aos seus alunos a fazerem três respirações profundas antes de comer. "Muitas vezes, quando comemos normalmente, nós nos preparamos: nos curvamos, a barriga se contrai e já estamos prontos para começar as garfadas", disse ela. Respirar cinco vezes relaxa o corpo e limpa o palato emocional. "Dessa forma, as pessoas aproveitam sua comida, realmente a saboreiam, realmente a veem; e comem menos porque estão realmente saboreando-a mais e vagarosamente."
        Antes que você fique muito empolgado, deve lembrar-se de que: a meditação não é uma solução rápida. "Não basta você se sentar lá, meditar um pouco e, de repente, como uma mágica, todo peso de seu corpo terá sumido", disse DeDe Lahman, uma instrutora de yoga certificada e palestrante sobre imagem corporal em Nova York.

    </div>
    </p>
    <p>

    <div class="item_title">Uma prática da presença</div>
    <div class="item_content">
        É claro que uma prática de meditação envolve mais do que apenas algumas respirações profundas. Mas é simples. "Na meditação, você deve parar e estar presente; isso é tudo", escreveu Jon Kabat-Zinn, PhD, em Onde você for, é onde você estará; a meditação da atenção plena em seu dia a dia. E completa "Na maioria das vezes, estamos correndo para fazer algo. Você consegue dar uma parada em sua vida, mesmo que por um momento? Consegue fazer isso agora? Quais seriam as consequências?"
        Herbert Benson, MD, doutor de Harvard, que iniciou seus estudos em meditação nos anos 1970, conta que a consequência no nível físico é o que chama de "Resposta do relaxamento". Ele descobriu que, durante a meditação, as ondas cerebrais mudam para um estado semelhante ao de quando se está dormindo, algumas vezes até mais relaxado. Esse nível de relaxamento reduz a quantidade de hormônios do estresse que podem contribuir para a dor e doenças.
        A meditação também pode esvaziar sua mente para que você tenha pensamentos e sentimentos mais saudáveis. "Quando você medita, tudo que estiver ruim ou confuso vem à tona", afirmou Lahman. "A imagem do corpo negativo vem à tona, o desejo por determinados alimentos vem à tona e as emoções associadas a estes também. Quanto mais à tona eles vêm, mais você consegue colocá-los em sua reciclagem mental e dar início a um estado de limpeza."

    </div>
    </p>
    <p>

    <div class="item_title">Maneiras de meditar</div>
    <div class="item_content">
        Há muitos tipos de meditação. Encontre uma que se adeque às suas convicções e certifique-se de que seu instrutor tenha bastante experiência. Enquanto isso, você pode tentar este:
        <ul>
            <li>1. Sente-se com uma postura correta em um local calmo e confortável.</li>
            <li>2. Feche seus olhos.</li>
            <li>3. Relaxe seus músculos.</li>
            <li>4. Preste atenção a sua respiração lenta e natural.</li>
            <li>5. Quando tiver pensamentos distrativos — e você os terá —, simplesmente perceba-os e, com calma, traga seus pensamentos de volta à respiração. Nas primeiras vezes, você pode ter que fazer isso com frequência.
            </li>
            <li>6. Continue por 10 a 20 minutos.</li>
            <li>7. Tente praticar uma ou duas vezes por dia. Com o tempo, a meditação "trará uma sensação de relaxamento, de ficar em paz", disse Gaines. "E, neste estado de paz, podemos fazer escolhas melhores."</li>
        </ul>
    </div>
    </p>
    </p>

</div>
