<div class="instruction_title">
    “Agora tenho disposição para caminhar na rua diariamente e para brincar com meu filho”
</div>
<div class="section1">
    <p class="section_head">
        Ela ganhou o Prêmio Vida Saudável!</p>

    <p>
        Imagine uma mulher de 1,58 m pensando 124 kg. Imagine também que ela trabalha com chocolates e pães de mel. Essa mulher tem quase 50 anos e problemas articulares que a impedem de praticar atividades físicas... </p>

    <p>
        Agora imagine essa mulher transformada em exemplo de vida saudável... Essa mulher existe! Ela se chama Helena Pinheiro. Conheça sua história.
    </p>
    <p>
        “Minhas taxas de colesterol estão normais, não sinto mais falta de ar, mantenho meu estresse e minha ansiedade sob controle, durmo melhor e as dores provocadas pela artrite acabaram.”
    </p>
    <p class="section_title">
        Mil vitórias para contar
    </p>
    <p>
        Helena tinha pouca disposição para brincar com o próprio filho, dificuldade para se vestir e vergonha de participar de eventos sociais e tirar fotografias. Hoje celebra sua nova vida familiar, profissional e social. Comemora também a conquista do Prêmio Vida Saudável do Vigilantes do Peso.
        </p>
    <p class="section_title">
        Como tudo começou...
    </p>
    <p>
        Foi em uma consulta ao ginecologista que ela percebeu que era hora de mudar: “Quando subi na balança, o ponteiro marcou 124 kg. Levei um susto, pois eu achava que o meu destino era morte na certa!”. O estresse, a fome emocional, a vida sedentária e a alimentação pouco saudável tinham encurtado o caminho para a obesidade.
    </p>
    <p>
        No Vigilantes do Peso, ela encontrou uma esperança. “Eu não queria perder o prazer de comer.
    </p>
    <p>
        Queria apenas aprender a me alimentar de forma saudável”, explica.  Nas reuniões e em casa, contou com a motivação de que precisava para seguir em frente. “Minha mãe, meu irmão e principalmente o meu filho depositaram muita confiança em mim. Eles me incentivavam e enchiam a minha bola a cada sucesso alcançado”, conta.
    </p>
    <p class="section_title">
        Adquirindo novos hábitos
    </p>
    <p>
        Com o passar do tempo, Helena aprendeu a lidar com seu ambiente de trabalho, que era um convite ao excesso de peso: chocolates e doces por todo lado! “Usei todas as ferramentas que o Vigilantes me disponibilizou. O Jornal Pessoal foi fundamental, as receitas, os livros, a calculadora... Aprendi a deixar frutas na geladeira, e também folhas lavadas e cenoura ralada”, conta.
    </p>
    <p>

        A Associada também reduziu os tamanhos das porções e perdeu 50% − sim, metade − do seu peso sem abrir mão do que gostava de comer. “Sinto que agora eu assumi o controle da minha alimentação. Antes era a comida que me controlava.”
    </p>
    <p>
        Seis meses após aderir ao programa e depois de já ter perdido bons quilos, a Associada foi aconselhada pelo seu médico a fazer caminhadas dentro da água. “Agora tenho disposição para caminhar na rua diariamente e para brincar com meu filho”, comemora.
    </p>
    <p class="section_title">
        Ela é capaz de mudar o mundo!
    </p>
    <p>
        Ao seguir o programa, Helena conquistou uma silhueta de que se orgulha e percebeu melhoras significativas na saúde. “Minhas taxas de colesterol estão normais, não sinto mais falta de ar, mantenho meu estresse e ansiedade sob controle, durmo melhor e as dores provocadas pela artrite acabaram.” Quem diria?
    </p>
    <p>
        Helena disse! E fez! Perdeu 62 kg! “Se eu consegui emagrecer 62 kg, imagina o que mais consigo fazer? Agora me sinto mais confiante, feliz e com disposição para mudar o mundo!”
    </p>

</div>
