<div class="instruction_title">
    “Aprendi a controlar o consumo de guloseimas e a evitar exageros.”
</div>
<div class="section1">
    <p class="section_head">
        Saúde de pai para filha</p>

    <p>
        Ao adotar uma Alimentação equilibrada, uma vida mais ativa e novos hábitos, como o de automonitoramento, o de planejamento e o de autocontrole, o Associado Fernando Henrique deu adeus a 29 kg e conquistou o título de pai saudável. </p>

    <p class="section_title">
        Aprender para ensinar </p>

    <p>
        Quando Fernando Henrique decidiu seguir o programa, o ponteiro da balança marcava 115 kg. Além de ter a intenção de combater o sobrepeso e melhorar sua qualidade de vida, o Associado também se preocupava com a saúde da filha e queria transmitir para ela o hábito de manter uma Alimentação equilibrada. “A minha inspiração para emagrecer veio da vontade de servir de exemplo para a minha filha”, conta. </p>

    <p class="section_title">
        Novos hábitos para conquistar o sucesso</p>

    <p>
        Seguindo as instruções da sua Orientadora e dos materiais distribuídos durante as reuniões, Fernando Henrique adotou o hábito saudável de Monitorar-se. Em seu Jornal Pessoal, ele fazia anotações diárias sobre os alimentos que havia consumido e as atividades físicas praticadas. Assim, podia avaliar seu sucesso e os possíveis deslizes durante o emagrecimento. “Outra ferramenta fundamental para o meu sucesso foi a Calculadora <span class="pro_font">ProPontos</span>. Ela se tornou a minha aliada para controlar as porções dos alimentos”, lembra.</p>

    <p>
        O Associado utilizou estratégias interessantes para controlar as porções dos alimentos para evitar os excessos que poderiam ser prejudiciais ao seu emagrecimento. “Eu passei a comer a refeição principal no prato de sobremesa. Em apenas quatro semanas, já estava habituado com a mudança e reparei que a quantidade que eu estava acostumado a comer era muito maior do que a que eu realmente precisava para me sentir saciado”, afirma. </p>

    <p>
        Com o cardápio flexível sugerido pelo Vigilantes do Peso, Fernando Henrique passou a se planejar com antecedência e a fazer escolhas inteligentes para emagrecer comendo os seus alimentos prediletos. “Aprendi a controlar o consumo de guloseimas e a evitar exageros. Antigamente, eu comeria um pudim a qualquer hora do dia. Hoje, eu penso: Como este pudim agora ou tomo uma taça de vinho com um pedaço de queijo mais tarde, junto com meus amigos?”, relata. </p>

    <p class="section_title">
        Quando a motivação vem de dentro</p>

    <p>
        Fernando Henrique também desenvolveu o hábito saudável de Ser otimista e sempre acreditou no seu sucesso, tornando-se o seu melhor amigo ao longo do caminho para o emagrecimento sustentável. Desta forma, ele não se deixou influenciar quando algumas pessoas o julgaram ou tentaram atrapalhar os seus esforços para perder peso. “Quando alguém ria ou expressava de alguma forma que eu não iria conseguir alcançar a minha meta, eu buscava dentro de mim a motivação para seguir em frente. É como se eu tivesse sido desafiado”, lembra ele.</p>

    <p class="section_title">
        Mexer-se mais para emagrecer mais</p>

    <p>
        As Atividades físicas também foram importantes para o sucesso do Associado. Fernando Henrique, que já corria três vezes por semana, intensificou os treinos e, atualmente, participa de eventos de corrida com até 15 km. “No final de 2013, eu pretendo correr novamente a Corrida Internacional de São Silvestre, desta vez, em 1h40min. Nos meus treinos, eu procuro sempre acelerar as minhas passadas para reduzir o tempo gasto no percurso e para melhorar o meu condicionamento físico.” </p>

    <p class="section_title">
        Pai “modelo”</p>

    <p>
        À medida que perdia peso, Fernando Henrique percebia a influência dos pais na alimentação dos filhos. Para ele, as famílias estão muito habituadas a fazerem programas que envolvem comida, trazendo consequências graves à saúde de todos. “Quando decidi emagrecer, minha filha reclamou, pois ela dizia que iria ‘perder o travesseiro’. Com apenas oito anos de idade, agora ela é a minha maior seguidora, tanto na alimentação como no interesse em praticar corrida”, conta orgulhoso.
    </p>
    <p>
        Ao alcançar a sua meta final de 86 kg, o Associado se sentiu um medalhista olímpico e repetiu para si mesmo que nunca mais voltaria a ter sobrepeso. “Senti um prazer imenso quando joguei no lixo as calças que já estavam largas. Elas foram substituídas por calças antigas que não me serviam há mais de dez anos. Vou manter um estilo de vida saudável para sempre”, conclui.
    </p>
</div>
