<div class="instruction_title">
    “É bom ouvir que estou mais bonita daquelas pessoas que viviam reclamando do meu excesso de peso.”
</div>
<div class="section1">
    <p class="section_head">
        Ela deixou todo mundo de boca aberta!</p>

    <p>
        O Vigilantes do Peso entrevistou a Associada Roberta, que perdeu mais de 8 quilos com o programa.</p>

    <p class="section_title">
        Vigilantes do Peso: Roberta, por que você achou que era hora de aderir ao programa?
    <p>
    <p>
        Roberta Simões: Os motivos foram diversos. Dois deles, porém, merecem destaque. Primeiro: comecei a não caber mais em minhas roupas, fato inédito em minha vida. Segundo: alguns parentes me diziam que estava muito acima do meu peso, perguntavam o que havia acontecido. Nós não morávamos no mesmo estado e por isso, a diferença de peso chamou muito atenção deles em nossas reuniões de família.
    </p>
    <p class="section_title">
        V.P.: Então, eles ficaram felizes em saber da sua adesão ao programa do Vigilantesdo Peso?
    </p>
    <p>
        <strong>R.S.: </strong>Os poucos que sabiam, sim. Pois não quis contar para todos para não criar expectativas. Queria ver as reações com os resultados do meu emagrecimento.
    </p>
    <p class="section_title">
        V.P.: E como foi sua primeira reunião?
    </p>
    <p>
        <strong>R.S.: </strong>Cheguei meio desconfiada, pois existem várias promessas enganosas de perda de peso, mas decidi participar. Enquanto as pessoas se pesavam, fiquei conversando com alguns Associados, que me motivaram. Resolvi pagar o pacote de um mês de reuniões antecipado, para não correr o risco de desistir.
    </p>
    <p class="section_title">
        V.P.: O que aprendeu ao seguir o programa?
    </p>
    <p>
        <strong>R.S.: </strong>Aprendi a cozinhar de um modo mais saudável. Passei a consumir mais verduras, legumes e frutas e a beber mais água. Hoje, administro melhor meu ambiente e a faço escolhas inteligentes. O melhor de tudo é continuar vivendo, saindo e comendo tudo que eu gosto.
    </p>
    <p class="section_title">
        V.P.: Você nos contou sobre as mudanças em sua alimentação. E o que nos diz sobre a prática de atividades físicas?
    </p>
    <p>
        <strong>R.S.: </strong>Consegui mudar alguns pequenos hábitos. Hoje procuro fazer de tudo para me mexer mais, além de ter adotado o hábito de fazer caminhadas.
    </p>
    <p class="section_title">
        V.P.: Pensou em desistir em algum momento? O que a fez mudar de ideia?
    </p>
    <p>
        <strong>R.S.: </strong>Em alguns momentos, sim. Porém, o desejo de voltar a ser magra e a minha determinação não me deixaram desistir de meu objetivo, sem falar nas roupas que eu pensava em usar.
    </p>
    <p class="section_title">
        V.P.: Quando enfrentamos um desafio, é importante termos apoio de alguém. Durante o processo, contou com a ajuda de alguém em especial?
    </p>
    <p>
        <strong>R.S.: </strong>Contei com meu marido, que sempre me apoiou e incentivou. Era engraçado, porque sobre tudo o que eu ia comer, ele perguntava: ”Você pode comer isso? Tem quantos PONTOS? Você ainda tem PONTOS? Já usou os PontosFlex?” Ele não acreditava no programa, chegou a dizer que se desse certo, pagaria as reuniões para mim.Quando começou a ver os resultados,ficou surpreso. Além disso, passamos a frequentar restaurantes com mais opções de pratos e a dar preferência aos self-services, assim, cada um poderia comer o que quisesse.
    </p>
    <p class="section_title">
        V.P.: E agora, como está se sentindo, após atingir sua meta de peso?
    </p>
    <p>
        <strong>R.S.: </strong> É bom ouvir daquelas pessoas que viviam reclamando do meu excesso de peso, que estou mais bonita. Elas perguntam o que eu fiz para melhorar minha aparência.Estou muito feliz e emocionada.Olhando para trás, nem acredito como pude deixar de me cuidar e ficar com um peso que me deixava cansada e sem opções de escolha de roupas.
    </p>

</div>
