<div class="instruction_title">
    “Hoje me sinto completa.”
</div>
<div class="section1">
    <p class="section_head">
        Assumindo o controle dos próprios sentimentos</p>

    <p>
        Depois de tentar várias dietas diferentes e até remédios fortes para emagrecer, Eliana encontrou no Vigilantes do Peso a ajuda de que precisava para saciar a fome emocional.</p>

    <p>
        Aos 55 anos, Eliana havia passado duas décadas de sua vida tentando todo tipo de método para emagrecer: dieta da sopa, do carboidrato e da proteína, além de vários tipos de shakes. Desanimada, passou a recorrer a fortes medicamentos, que alteraram seu humor ao ponto de levá-la à depressão. E, mesmo quando conseguia emagrecer, em pouco tempo recuperava o peso, ou pior, ganhava o dobro do que tinha perdido.
    </p>
    <p>
        O momento crítico foi em 2012, quando, ao realizar exames de rotina a pedido de sua cardiologista, ela levou um choque: muita gordura no fígado, colesterol bom e ruim alterados, estágio pré-diabetes, pressão alta, refluxo, apneia grave e nível de triglicérides alto. Eliana pesava então 80 kg. Dez meses depois, as diferenças em sua vida são evidentes.
    </p>
    <p class="section_title">
        Transformando hábitos
    </p>
    <p>
        Incentivada por sua médica a conhecer o Vigilantes do Peso, Eliana viu seu comportamento ser transformado. “Antes do Vigilantes, tudo era motivo para comer! Se estava brava, comia. Se estava feliz, comia. Se estava cansada, comia. Se queria chorar, comia. Se queria rir, comia. Enfim, tudo e qualquer sentimento eu descontava na alimentação como válvula de escape.” As reuniões a ajudaram a controlar a fome emocional, conscientizando-a das armadilhas de seus sentimentos e promovendo o autocontrole.
    </p>
    <p>
        Eliana começou também a fazer caminhadas, que melhoraram o condicionamento cardiovascular e contribuíram para conter a ansiedade. A cada dia, de grama em grama, seu peso foi reduzindo. E a satisfação pessoal só crescia: “Passei a fazer corridas diariamente. Ainda faço, e adoro. A cada dia que passa eu melhoro minhas marcas!”
    </p>
    <p class="section_title">
        Aprendendo com o passado
    </p>
    <p>
        “Temos que levar tudo o que aconteceu no passado como exemplo para melhorar, sempre”, conta Eliana. Em vez de arrependimento pelos antigos maus hábitos, portanto, ela os reconhece como úteis, pois a ajudaram a crescer. “Aprendi a comer várias vezes ao dia, com qualidade. Passei a comer verduras, legumes e frutas. E levei meus novos hábitos para todos os lugares, não fazia só em casa.” Os novos hábitos alimentares e os exercícios físicos regulares deram o resultado desejado: em 10 meses ela eliminou 17 quilos. “Tive apoio dos meus amigos e amigas e de todos os meus familiares, em especial do meu marido. Sem contar o apoio da Orientadora, que sempre nos dava forças.”
    </p>
    <p class="section_title">
        Colhendo os resultados
    </p>
    <p>
        Após alcançar o peso saudável, Eliana refez todos os exames e recebeu os parabéns dos médicos. Além de ter emagrecido, seu coração hoje está ótimo, a pressão arterial controlada, ela não tem mais diabetes e o fígado está limpo de gorduras. “Continuo vigiando, e dou aos meus sentimentos o que requerem de mim. Se estou cansada, descanso. Se estou triste, choro. Se estou feliz, sorrio. Se estou com fome, como. Hoje me sinto completa. Nunca pensei em desistir, queria muito melhorar a minha saúde.”
    </p>
</div>
