<div class="instruction_title">
    “Assumi o compromisso de alcançar o meu objetivo de ter um peso saudável e superei muitos desafios.”
</div>
<div class="section1">
    <p class="section_head">
        Bem-estar físico e mental para uma vida feliz a dois</p>

    <p>
        A Associada mineira Luciana adaptou o ambiente em que vivia para facilitar o emagrecimento e criou hábitos saudáveis que influenciaram positivamente a sua saúde, a  sua aparência e a sua vida matrimonial. </p>


    <p class="section_title">
        A hora da mudança
    </p>
    <p>

        Luciana estava passando por um momento delicado em seu casamento e, para melhorar a autoestima, decidiu se transformar em uma pessoa mais atraente. Aos 40 anos e com o ponteiro da balança apontando para os 83,2 kg, ela acessou o site do Vigilantes do Peso, motivou-se com as Histórias de Sucesso dos Associados e procurou a reunião mais próxima da sua casa.
    </p>
    <p>
        Ao aderir ao programa, aprendeu que, para conquistar seus objetivos, teria que mudar seu estilo de vida adotando novos hábitos. “Quando traço metas para a minha vida, por mais difíceis que sejam, não desisto fácil. Assumi o compromisso de alcançar meu objetivo de ter um peso saudável e superei muitos desafios”, conta.
    </p>
    <p class="section_title">
        Criando novos hábitos
    </p>
    <p>
        Após uma semana seguindo o programa, Luciana conferiu os benefícios de manter uma alimentação equilibrada: já estava mais leve.
    </p>
    <p>

        Conforme as recomendações do Vigilantes do Peso, ela adaptou o ambiente em que vivia para poder se adequar ao novo estilo de vida.  “Substituí os alimentos calóricos e abasteci minhas despensa e geladeira com alimentos mais saudáveis”, relata. No cardápio da Associada, as frituras e doces deram lugar às frutas frescas, legumes e verduras.
    </p>
    <p>
        Luciana passou a fazer escolhas inteligentes em todos os lugares, inclusive quando comia fora de casa: “Passei a levar na bolsa pequenos lanches, evitando exagerar no tamanho das refeições principais, além de levar o almoço pronto para o trabalho, preparado com ingredientes mais saudáveis”.
    </p>
    <p>
        Em cinco meses, Luciana já havia perdido 15 kg seguindo o programa, mas passou por um período de estabilização do peso. “Para sair do platô, segui as orientações da minha Orientadora e passei a caminhar regularmente. Assim, consegui alcançar a minha meta de peso final de 67 kg”, comemora.
    </p>
    <p>
        Hoje, a Associada mantém o peso saudável e continua frequentando as reuniões do Vigilantes do Peso. “Pulei do manequim 46 para o 42, estou me sentindo mais bonita e mais segura no meu casamento. Meus colegas de trabalho e familiares perceberam os reflexos do meu novo estilo de vida e se inspiraram a adotar hábitos mais saudáveis para conquistar o bem-estar”, finaliza Luciana.
    </p>

</div>
