<div class="instruction_title">
    “A comida não é a solução para os meus problemas.”
</div>
<div class="section1">
    <p class="section_head">
        Mente sã em um corpo são</p>

    <p>
        Com a saúde em dia e 18,2 kg a menos, a Associada Andressa Alencar comemora suas conquistas e compartilha as experiências de uma vida nova.</p>

    <p class="section_title">
        Mudando para melhor</p>

    <p>
        Com 73 kg, Andressa decidiu que havia chegado a hora de emagrecer e recuperar sua autoestima. “Um dia eu cansei. Cansei de ter sobrepeso. Cansei de ter que comprar roupas feias, mas que eram as únicas que cabiam em mim. Cansei de me evitar. Cansei de comer para me consolar. Cansei de ser evitada pelo meu, até então, marido. Eu sentia falta de me amar.” </p>

    <p>
        Os problemas de Andressa relacionados ao sobrepeso iam além da estética e já tinham a ver com a sua saúde. “Meu joelho doía e, embora eu morasse apenas no segundo andar, subir as escadas era um sacrifício. Eu chegava em casa cansada, com dores nas pernas e com falta de ar.” Então, ela aderiu ao Vigilantes do Peso, colocou-se em primeiro lugar e passou a cuidar de si </p>

    <p class="section_title">
        Hábitos alimentares mais saudáveis</p>

    <p>
        Durante as reuniões semanais, a Associada recebeu orientações e se inspirou nas dicas, nos artigos e nas receitas publicadas no Informativo Vida Light para adotar uma alimentação equilibrada. “Mergulhei de cabeça no programa. Passei a preparar lanches e refeições mais leves, com frutas, legumes e verduras, e agora bebo muito mais água. Hoje, meu corpo pede alimentos saudáveis e nutritivos o tempo todo.” </p>

    <p>
        Aos poucos, Andressa também aprendeu a controlar as porções dos alimentos para não ultrapassar a Cota Diária de pontos sugerida pelo Vigilantes do Peso. “Reduzi as porções de quase tudo o que eu comia e fiquei surpresa ao perceber que não sentia fome! Eu fazia escolhas inteligentes para manter um cardápio variado e flexível e, assim, consegui emagrecer comendo pequenas quantidades dos meus alimentos prediletos, como macarrão, doces, risoto e carne vermelha.”</p>

    <p class="section_title">
        Sucesso com o automonitoramento</p>

    <p>
        Durante o emagrecimento, a Associada contou com o Jornal Pessoal como aliado para conquistar suas metas. “Por meio de anotações no meu Jornal Pessoal, eu analisava os alimentos que eu ingeria, as unidades <span class="pro_font">ProPontos</span> consumidas, as minhas emoções e as atitudes que prejudicavam o meu emagrecimento. Essa ferramenta de automonitoramento me mostrou que a comida não é a solução para os meus problemas.”</p>

    <p class="section_title">
        Vida nova</p>

    <p>
        Hoje, com 54,8 kg, a Associada comemora a saúde física e mental. “Com o corpo mais leve, recuperei a disposição e a energia, eliminei o problema de má circulação do sangue nas pernas e não sinto mais dores. Os resultados dos meus exames médicos nunca foram tão bons. E, como reflexo da minha alimentação equilibrada, minha pele e meu cabelo ganharam mais brilho.”</p>

    <p>
        Andressa conta que agora se sente capaz de fazer o que quiser. “A cada vez que me olho no espelho e me vejo usando uma calça manequim 38, me sinto feliz e orgulhosa por ter seguido corretamente o programa e ter emagrecido sem abrir mão da minha vida social. Atualmente, namoro um rapaz incrível, viajo sempre nas minhas férias e aproveito festas, casamentos e aniversários mantendo o meu peso saudável sem privações alimentares.”</p>
</div>
