<div class="visitor_article">
    <p class="visitor_title">
        Comer ovos faz bem ou não à saúde? Descubra as informações nutricionais desse alimento que está em todas.

    <p/>

    <div class="artical">Artigo de: WeightWatchers.com; Tradução: Natália Lucas</div>
    <hr class="hr_gray hr_article"/>

    <p style="font-weight: bold;">P: Os ovos realmente fazem mal à saúde? Tenho ouvido muitas informações contraditórias sobre isso. </p>

    <p>
        R: Em algum momento da história, os ovos ganharam uma má reputação e infelizmente propagou-se esse mal-entendido desde então. Embora os ovos possuam uma grande quantidade de colesterol dietético, que normalmente não é o tipo de colesterol associado à cardiopatia.
    </p>

    <p>
        Na verdade, o colesterol obtido dos alimentos desempenha funções muito importantes em seu corpo: está envolvido na fabricação da vitamina D, auxilia na digestão de alimentos gordurosos (ajudando a formar a bile) e ajuda na produção de determinados hormônios. Se não ingerir qualquer colesterol dietético, seu corpo acabará produzindo.
    </p>

    <p>
        Por outro lado, soro  ou colesterol sanguíneo elevado pode causar problemas de saúde graves. Em particular, o colesterol LDL, também conhecido como colesterol "ruim", pode aumentar quando você come muita gordura saturada. Isso pode entupir suas artérias, fazendo com que seu corpo exerça muito esforço e sofra um ataque cardíaco. Aqueles que estão seguindo uma dieta de pouca gordura/baixo colesterol devem, portanto, preocupar-se mais em reduzir os alimentos com muita gordura saturada do que os alimentos com alto colesterol dietético.
    </p>

    <p>
        Para efeitos de comparação, 85 gramas de lagarto cozido contêm aproximadamente 189 calorias, 1,3 gramas de gordura saturada e 7,7 gramas de gordura total. Sendo assim, o ovo com suas 72 calorias, 1,6 gramas de gordura saturada e 4,8 gramas de gordura total.
    </p>

    <p>
        Você vai começar a repensar os ovos como uma escolha alimentar saudável. Peça ao seu médico recomendações personalizadas especialmente para você. Enquanto isso, não ignore o valor dos ovos brancos, que não possuem gordura, nem colesterol. Combine-os com vegetais picados, salsa e queijo com pouca gordura para fazer uma omelete muito saborosa.
    </p>

</div>
