<div class="visitor_article">
    <p class="visitor_title">
        Ama lentilhas? Adora azuki? Coma legumes e verduras da maneira certa seguindo estas dicas inteligentes.

    <p/>


    <hr class="hr_gray hr_article"/>

    <p>
        Decidiu por uma refeição vegetariana? Seja ela diária ou esporádica, uma coisa é certa: você pode se alimentar bem em casa e na rua. O segredo é procurar por um balanço saudável de ingredientes ricos em nutrientes, enquanto mantém um olho nos valores das unidades <span class="pro_font">ProPontos</span>.  Siga estas dicas e veja como todos os tipos de cozinha são acessíveis – até mesmo a churrascaria.
    </p>

    <p>
        1. Tome cuidado com coberturas altamente calóricas. Abacate, nozes e sementes contêm gorduras boas para o coração. No entanto, em excesso, podem causar prejuízos, já que têm muitas unidades <span class="pro_font">ProPontos</span> por porção. Pense nesses alimentos como elementos decorativos para garantir que os abacates picados e as nozes lhe forneçam só os benefícios.
    </p>

    <p>
        2. Não pense que um alimento é saudável só porque veio de uma planta. Não é porque muitos alimentos de origem animal têm má fama que todos os alimentos de origem vegetal são bons para você.  Até eles podem estar cheios de gorduras saturadas, que obstruem artérias e são ruins para o coração. Assim, opte por azeite e óleo de canola no lugar de óleo de palma (aquele muito presente em alimentos industrializados).
    </p>

    <p>
        3. Aventure-se em território estrangeiro. Não ignore um alimento só porque ele parece exótico. Invista tempo em lojas e mercados de produtos saudáveis e/ou naturais e explore opções desconhecidas de legumes e verduras. Para um toque japonês, experimente feijões azuki. Para um gosto chinês, que tal provar um kumquat? Se você quer uma pitada de México, escolha jicama.
    </p>

    <p>
        4. Cada mordida conta. Até plantas benéficas para a saúde podem causar ganho de peso. Sim, exagerar nas uvas é mais saudável do que comer muitas batatinhas chips, mas qualquer alimento em excesso – até mesmo cenouras – pode aumentar sua cintura. Assim, evite exageros respeitando os sinais do seu corpo ao escolher o tamanho das porções de frutas e vegetais que você irá comer.
    </p>

    <p>
        5. Garanta sua cota de zinco, vitamina B12 e ferro. Ainda que ser vegetariano possa ser bastante saudável, não ingerir carne causa algumas limitações de nutrientes. Complemente sua dose de vitaminas e minerais ao comer grãos e folhas verdes, variando suas escolhas alimentares entre as diversas categorias de alimentos e optando por cereais enriquecidos, produtos de soja, entre outros, quando possível. Converse também com seu médico sobre tomar suplementos de vitaminas e minerais.
    </p>

    <p>
        6. Diga “muuu”, como a vaquinha. Se você está evitando leite, verifique se está ingerindo cálcio suficiente para os ossos. Boas opções de alimentos são tofu e leite de soja enriquecidos com cálcio (o grão de soja não é naturalmente rico nesse nutriente). Você pode também escolher plantas como brócolis, couve e rúcula. No entanto, fique atento que, para conseguir a mesma quantidade de cálcio presente em um copo de leite, você tem que ingerir muitos desses alimentos.
    </p>

    <p>
        7. Monte suas refeições nos restaurantes. Não se limite ao único prato vegetariano do cardápio. Aproveite para criar sua refeição com os legumes, verduras e grãos oferecidos como aperitivos e acompanhamentos. Alimentos como saladas, batatas assadas, arroz e legumes no vapor geralmente estão presentes no menu.
    </p>



</div>
