<div class="visitor_article">
    <p class="visitor_title">
        As dores podem impedi-lo de se exercitar, mas com essas estratégias você voltará à ativa rapidinho.

    <p/>

    <div class="artical">Artigo de: Christie Dang; Tradução e adaptação: Natália Lucas</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Ainda está mancando depois daquele jogo de vôlei há algumas semanas? Está se perguntando por que suas panturrilhas estão doendo depois de uma caminhada de intensidade forte? Não são apenas atletas profissionais que sofrem lesões durante a prática de esportes e exercícios. Muitos brasileiros recorrem às salas de emergência devido a lesões causadas durante a prática de esportes. Outros tantos irão ficar de molho em casa para se recuperar — ganhando peso enquanto tratam suas lesões. Mas, segundo os médicos, exercitar-se da maneira correta pode reduzir os riscos de lesões.
    </p>

    <p>
        Se você sofreu alguma lesão, na maioria das vezes, a melhor forma de tratá-la pode ser se mantendo ativo através de exercícios que não aumentem sua lesão. Você está surpreso, certo? Procuramos especialistas no assunto para obter dicas inteligentes sobre como evitar as 5 lesões mais comuns relacionadas a esportes.
    </p>

    <p>

    <div>Recupere-se com o método RICE </div>
    <div>
        Se você tiver sofrido alguma lesão e estiver com dor, ligue para seu médico. Ele ou ela provavelmente recomendará o método RICE, conta Kevin Eerkes, MD, professor assistente clínico na Escola de Medicina de Nova York, Departamento de Medicina Interna. RICE é um acrônimo para:
        <ul>
            <li>Rest (repousar a área da lesão)</li>
        </ul>
        <ul>
            <li>Ice (usar gelo).</li>
        </ul>
        <ul>
            <li>Compression (fazer compressão com uma bandagem elástica para diminuir o inchaço).</li>
        </ul>
        <ul>
            <li>Elevation (Elevação, elevar o local da lesão acima do nível do coração para reduzir o fluxo sanguíneo).</li>
        </ul>
    </div>
    <div>
        Essas etapas irão diminuir o inchaço e acelerar a recuperação, disse Eerkes. Pergunte ao seu médico se anti-inflamatórios de venda livre, como aspirina, ibuprofeno e sódio de naproxeno (Aleve) irão aliviar a dor.
    </div>
    </p>

    <p>

    <div>Torção de tornozelo</div>
    <div>O que é: um ligamento torcido ou distendido na parte inferior da perna, pé ou tornozelo.</div>
    <div>Como ocorre: Correndo, pulando (como ao jogar basquete), andando de skate ou surfando. </div>
    <div>
        Evite-a: se você é propenso a torções, proteja as juntas vulneráveis cobrindo-as antes de participar de qualquer esporte, disse Suraj Achar, MD, diretor adjunto do Programa de Treinamento Esportivo na Universidade da Califórnia, Centro Médico de San Diego. Fique sobre uma prancha de equilíbrio durante três minutos três vezes por semana para desenvolver força e eliminar o risco de torção nos tornozelos, sugere.
    </div>
    <div>
        Enquanto estiver em tratamento: esteja ciente de que o tornozelo torcido afeta seu equilíbrio, aumentando o risco de você sofrer outra lesão. Portanto, pratique o método RICE. Mantenha-se em forma levantando peso com a parte superior de seu corpo, trabalhando sua respiração e fortalecendo a perna que não sofreu lesão, disse Achar. Fortaleça seu tornozelo antes de voltar a praticar esportes.
    </div>
    </p>

    <p>

    <div>Estiramento dos isquiotibiais</div>
    <div>O que é: músculo isquiotibial estirado (distendido ou torcido) na posterior da coxa.</div>
    <div>
        Como ocorre:  jogando futebol ou vôlei; estendendo os isquiotibiais além de seu limite. Correndo no futebol é uma causa comum.
    </div>
    <div>
        Evite-a: fortaleça o músculo fazendo flexões dos isquiotibiais e outros exercícios, disse o terapeuta físico Bill Hartman, PT, CSCS.
    </div>
    <div>
        Enquanto estiver em tratamento: pratique o método RICE. Um médico pode prescrever um relaxante muscular se você tiver espasmos dolorosos, disse Hartman. Troque para um esporte de baixo impacto que não causará mais impacto no músculo estirado: seu médico pode recomendar corrida de intensidade forte dentro da água, andar de bicicleta ou nadar.
    </div>
    </p>


    <p>

    <div>Laceração do LCA (Ligamento Cruzado Anterior)</div>
    <div>O que é: uma laceração do ligamento que estabiliza a articulação do joelho. </div>
    <div>
        Como ocorre: pulando ou mudando de direção rapidamente, como no futebol, lacrosse, basquete, skate, tênis e vôlei.
    </div>
    <div>
        Evite-a: fortaleça os músculos das pernas com flexões de perna e alongamentos e com pulos sobre uma perna, disse Achar. Simplesmente pule sobre uma perna com cuidado em uma linha reta durante 1 minuto.
    </div>
    <div>
        Enquanto estiver em tratamento: pratique o método RICE. Seu médico provavelmente irá prescrever uma joelheira; uma bandagem funcional também pode ajudar a manter seu joelho alinhado da forma adequada, conta Achar. Pergunte ao seu médico quais exercícios para os membros superiores você pode praticar de forma segura e se pode andar de bicicleta ergométrica.
    </div>
    </p>

    <p>

    <div>Fratura de pulso</div>
    <div>O que é: fraturar ou quebrar os ossos do pulso ou do antebraço.</div>
    <div>
        Como ocorre: tentar amortecer uma queda com as mãos, especialmente ao andar de patins, bicicleta ou skate.
    </div>
    <div>
        Evite-a: use protetores de pulso nos esportes nos quais há possibilidade de que você caia, disse Kevin Eerkes, MD, professor assistente clínico na Escola de Medicina da Universidade de Nova York, Departamento de Medicina Interna.
    </div>
    <div>
        Enquanto estiver em tratamento: pratique o método RICE. Você precisar colocar gesso. Enquanto estiver com a lesão, exercite os membros inferiores e centro de seu corpo; entre as opções, estão: caminhada, corrida e bicicleta ergométrica.
    </div>
    </p>

    <p>

    <div>Dor nas costas (lombar) </div>
    <div>O que é: músculos estirados (distendidos ou torcidos) na lombar.</div>
    <div>
        Como ocorre: girando suas costas, em vez de seus quadris em qualquer esporte, especialmente esportes em que você tenha que girar seu corpo, como golfe e tênis.
    </div>
    <div>
        Evite-a: aprenda maneiras adequadas de realizar saques e tacadas, disse Achar. Ainda, observe sua postura ao longo do dia, disse. Mantenha-se ativo diariamente e fortaleça seu corpo todo; especialmente, flexões de braço irão ajudar a condicionar os músculos das costas.
    </div>
    <div>
        Enquanto estive em tratamento: peça ao seu médico que sugira exercícios que não agravem a dor; até mesmo uma caminhada lenta é melhor do que repouso total. Ficar A inatividade deixará você menos flexível, disse Achar.
    </div>
    </p>
</div>
