
<div class="visitor_title">10 Dicas para as compras</div>
        <div class="artical">Artigo de: Bruce Weinstein; Tradução: Marcelly Ferrari</div>
        <hr/>
        
        <p>
        <div class="item_content">Numa casa de família, manter a geladeira cheia sem esvaziar a carteira pode ser um desafio sem tamanho. É por isso que preparamos para você 10 estratégias para criar uma despensa 0saudável, que vai reduzir as idas ao supermercado – e as contas também!
        </div>
        </p>

        
        <p><div class="item_title">1. Planeje com antecedência</div>
        <div class="item_content">Use uma agenda ou o seu Jornal Pessoal para planejar os cardápios da família com antecedência. Note os dias em que tem apenas 20 minutos para servir o jantar e os dias em que tem mais tempo. Criar um esquema por escrito vai permitir o planejamento de refeições mais equilibradas porque você vai conseguir visualizar a frequência com que serve os diferentes legumes, as carnes, os pratos prontos e os feitos em casa.
        </div>
        </p>
        
        <p><div class="item_title">2. Siga receitas</div>
        <div class="item_content">Encare a receita como um guia de planejamento, uma lista pronta com tudo o que você vai precisar: orégano, azeite de oliva, estrato de tomate etc. Quando você elabora a sua lista de compras a partir de receitas, evita ter que correr até a loja mais próxima atrás de algum ingrediente que ficou faltando, quando o que mais queria era já estar comendo.
        </div>
        </p>
        
        <p><div class="item_title">3. Deixe as crianças em casa</div>
        <div class="item_content">Sem as crianças, fazer compras é mais rápido. Planeje ir ao supermercado quando elas estiverem na escola ou na aula de natação. Outra opção é deixá-las com alguém.
        </div>
        </p>
        
        <p><div class="item_title">4. Não saia para fazer compras com fome</div>
        <div class="item_content">Ao fazer compras com fome, você fica sujeito a desejos súbitos e compras por impulso. Para administrar o estilo de vida que você quer, saia para fazer compras depois do almoço ou do jantar.
        </div>
        </p>
        
        <p><div class="item_title">5. Olhe para cima e para baixo</div>
        <div class="item_content">A economia está embaixo do seu nariz. A maioria das lojas expõe as marcas caras ao nível dos olhos. Olhe para as prateleiras mais altas e mais baixas à procura dos produtos mais baratos e das promoções. Além disso, folheie sempre o encarte da loja.
        </div>
        </p>
        
        <p><div class="item_title">6. Cuidado com as promoções</div>
        <div class="item_content">Seja honesto com você mesmo e compre apenas o que precisa. Economizar R$1,00 na geleia não é vantagem nenhuma se você não tinha intenções de comprá-la.
        </div>
        </p>
        
        <p><div class="item_title">7. Compras em quantidade são economias de longo prazo</div>
        <div class="item_content">Não-perecíveis podem ser comprados em atacado: produtos de papelaria, materiais de limpeza, farinha, açúcar, vinagre e grãos. Os óleos ficam rançosos, os temperos perdem o sabor e outros perecíveis estragam. Um pacote de 5 kg de damasco não vai ser nem um pouco econômico se você tiver que jogar metade fora.
        </div>
        </p>
        
        <p><div class="item_title">8. Produtos: frescos vs. congelados</div>
        <div class="item_content">Algumas frutas e legumes podem ser congelados, outros não aceitam muito bem as baixas temperaturas. Consulte a tabela abaixo.
        </div>
        </p>

        <p><div class="item_title">9. Compre carne e peixe uma vez por mês</div>
        <div class="item_content">Aproveite os descontos nas carnes e peixe e congele com antecedência para o mês inteiro. Embale as porções em fita filme, depois separe as peças por tipo de preparação e coloque em sacos próprios para congelamento. Cole uma etiqueta especificando o conteúdo e a data. Para a sua segurança, use a geladeira para o descongelamento, nunca deixe à temperatura ambiente.
        </div>
        </p>
        
        <p><div class="item_title">10. Ande com uma bolsa térmica</div>
        <div class="item_content">Em dias quentes, o simples transporte dos alimentos até a sua casa pode reduzir a validade. Bolsas térmicas vão manter os produtos lácteos, a carne, o peixe e o sorvete refrigerados.
        </div>
        </p>
        

