
        <p class="visitor_title">Cinco explicações para você estar sempre com fome<p/>
        <div class="artical">Artigo de: Karen Ansel; Tradução de: Ingrid Seabra</div>
        <hr/>
        
        <p>Você está distraído indo para o trabalho, para a academia ou pegando as crianças na escola quando, de repente, ela aparece! Sim, é aquela enorme sensação de fome que o corrói por dentro. Quando você cai em si, já está dentro de uma lanchonete pedindo um lanchinho ao atendente.
        </p>
        
        <p>Não é fascinante (e frustrante) como a sensação de “tenho que comer agora!” pode aparecer mesmo se você tem tratado a boa nutrição como uma prioridade? Especialistas estão descobrindo que a hora em que você come, o tipo de alimento come, o seu gosto e até mesmo o quanto de líquido você ingere podem ter grande impacto na frequência de vezes que a fome ataca.
        </p>
        
        <p>Pedimos a nutricionistas-chefes que nos contassem as cinco razões mais comuns para nos sentirmos frequentemente famintos. Também pedimos dicas valiosas para maximizar a sensação de saciedade e deixar a fome lá longe.
        </p>
        
        
        <p>
		<div class="item_title">1. Você come os alimentos corretos, mas nas horas erradas</div>
		<div class="item_content">
            De acordo com Cindy Moore, diretora de Terapia de Nutrição da Cleveland Clinic (EUA), comer em horários diferentes todo dia pode dificultar sua percepção dos sinais de fome do seu corpo, além de prejudicar seu metabolismo. Pesquisadores britânicos pediram a um grupo de mulheres que se alimentassem nos mesmos horários e, a outro, que tivessem suas refeições em diferentes horários a cada dia. Eles perceberam que aquelas que seguiram um padrão previsível comeram menos e queimaram mais calorias do que as que se alimentaram em horários alternados.
		</div>
        </p>
        
        <p>
		<div class="item_title">A solução: planeje-se</div>
		<div class="item_content">
            Revisar seu Jornal Pessoal vai ajudá-lo a perceber os momentos em que é mais provável que você coma sem necessidade. Se você não tem monitorado sua alimentação constantemente, faça-o por alguns dias. Depois, crie um cronograma em que você se alimente até duas horas depois de ter acordado e de três a cinco horas pelo resto do dia. Se você não checa com regularidade o relógio, programe o alarme do seu celular para os horários em que deve comer.
		</div>
        </p>
        
        <p>
		<div class="item_title">2. Você come no café da manhã, mas não da forma correta</div>
		<div class="item_content">
            Ainda que um café da manhã ruim seja melhor do que pular o café, os alimentos que você escolhe podem impactar no quanto você se sente saciado pelo resto do dia. Tome como exemplo aquela conveniente barrinha de cereal: pode parecer uma opção saudável para quando se está sem tempo, mas suas altas doses de açúcar podem fazer com que você abra a geladeira logo antes do almoço.
		</div>
        </p>
        
        <p>
		<div class="item_title">A solução: uma combinação melhor de nutrientes</div>
		<div class="item_content">
            O segredo para fazer com que seu café da manhã o deixe satisfeito até a hora do almoço é preparar uma refeição matinal com proteínas e carboidratos. “É importante combinar proteínas com carboidratos complexos para dar energia suficiente para toda a manhã”, afirma a nutricionista americana Bonnie Taub-Dix. Opte por alimentos simples, como uma fatia de queijo com pão integral, claras de ovos com torradas, cereais integrais com leite desnatado ou até mesmo metade de um sanduíche de peito de peru.
		</div>
        </p>
        
        <p>
		<div class="item_title">3. Sua alimentação é impecável, mas não tem sabor</div>
		<div class="item_content">
            Se frango grelhado e legumes cozidos no vapor são alimentos básicos no seu jantar, você pode acabar em encrenca. “Se você não variar o cardápio, vai ficar entediado e terá dificuldades em seguir o plano”, declara Lona Sandon, professora assistente de nutrição clínica no centro médico da Universidade do Sudoeste do Texas (EUA).
		</div>
        </p>
        
        <p>
		<div class="item_title">A solução: tempere</div>
		<div class="item_content">
            Se você for criativo na cozinha, as receitas que estavam esquecidas ganharão vida nova e o deixarão ainda mais satisfeito. “Experimente fazer isso com ervas frescas e saborosas, como manjericão, raiz de gengibre, orégano e hortelã”, sugere Moore. Além disso, colocar um toque de acidez (um pouco de suco de limão ou vinagre balsâmico) e de doce (uma colher de chá de mel ou açúcar mascavo) pode fazer pratos básicos alcançarem sabores bem mais complexos, além de saciarem mais. A textura também é peça-chave: procure combinar opções cremosas, crocantes e tenras. Experimente jogar nozes picadas sobre verduras ou misturar granola ao iogurte.
		</div>
        </p>
        
        <p>
		<div class="item_title">4. Você estoca calorias</div>
		<div class="item_content">
            Você geralmente come tão pouco durante o dia que, na hora do jantar, já está quase morrendo de fome? Fazer isso pode ser um tiro no pé, pois você acaba comendo mais do que o necessário à noite. “Quando você pula refeições, fica mais difícil pensar objetivamente, fazendo com que você se preocupe menos com as consequências da sua alimentação”, alerta Taub-Dix.
		</div>
        </p>
        
        <p>
		<div class="item_title">A solução: antecipe essas calorias</div>
		<div class="item_content">
            Alimentar-se antes é essencial para evitar um desastre ao final do dia. Limite o tamanho da sua refeição noturna para que, no dia seguinte, você acorde com fome para o café da manhã. Mesmo que você não sinta vontade de comer, alimente-se de algo, ainda que seja apenas uma mordida. “Cuide-se da mesma forma que você cuida das crianças: você não permite que elas pulem refeições”, diz Taub-Dix.
		</div>
        </p>
        
        <p>
		<div class="item_title">5. Você bebe as refeições</div>
		<div class="item_content">
            Com a popularização dos cafés cada vez mais elaborados e com a variedade de sucos e refrigerantes existentes no mercado, as pessoas acabam bebendo muitas calorias, o que não costuma ser suficiente para deixá-las saciadas. Pesquisadores da Universidade de Purdue fizeram um estudo com estudantes em que foram dadas 450 calorias extras diárias, ou em líquidos ou em alimentos sólidos. Os participantes que ingeriram os sólidos extras comeram em menor quantidade na refeição seguinte. Esse comportamento não se repetiu com quem ingeriu líquidos. A razão: a ação de mastigar libera hormônios que causam a sensação de saciedade, além de alimentos sólidos demorarem mais para serem digeridos que os líquidos.
		</div>
        </p>
        
        <p>
		<div class="item_title">A solução: repense o que é conveniente</div>
		<div class="item_content">
            Beber uma refeição pode parecer mais rápido e fácil, mas no tempo que você gastou para ir até a cafeteria, esperar na fila e pagar pelo café elaborado, você poderia ter se alimentado de algo que o saciaria muito mais. “Experimente comer uma fatia de torrada com geleia de frutas sem açúcar ou um copo de iogurte com alguma fruta”, sugere Lona Sandon. Se o que você deseja é o conforto de uma bebida quente, vá em frente e tome um café mais incrementado, mas peça com leite desnatado e, em vez de tomá-lo sozinho, saboreie-o com algumas bolachas integrais ou uma banana. Em outras palavras, dê atenção a combinações de alimentos que o deixem saciado até a hora da próxima refeição.
		</div>
        </p>
        
        <p>
		<div class="item_title">Dicas</div>
		<div class="item_content">
            - Alimente-se na hora certa. Cientistas dizem que se alimentar em horários diferentes pode estimular a produção de insulina, que pode aumentar o apetite e tornar mais lenta a queima de calorias.
            <p>- Planeje-se. Não espere sentir fome para pensar em comer. Leve lanches práticos na bolsa, como barras de granola ou uma fruta, para que você esteja preparado quando a fome chegar.</p>
		</div>
        </p>



