
        <p class="visitor_title">Compras para um<p/>
        <div class="artical">Artigo de: Bruce Weinstein and Mark Scarbrough; Tradução: Marcelly Ferrari</div>
        <hr/>
        
        <p>
        <div class="item_content">As receitas e embalagens de alimentos normalmente são pensadas para refeições e orçamentos familiares. Quem mora sozinho acaba acumulando sobras e deixando comida estragar. Para evitar comprar em excesso e tornar suas compras mais prazerosas e baratas, siga nossas dicas:
        </div>
        </p>
        
        <p><div class="item_title">1. Prefira receitas para uma ou duas pessoas.</div>
        <div class="item_content">Para aproveitar os benefícios da comida caseira sem desperdício, planeje suas refeições com as receitas certas — existem receitas elaboradas para uma ou duas pessoas. Você também pode dividir as com maior rendimento para ajustá-las ao seu estilo de vida.
        </div>
        </p>
        
        <p><div class="item_title">2. Preste atenção nas datas de validade.</div>
        <div class="item_content">Os supermercados querem que os produtos mais antigos sejam vendidos primeiro. Por isso, produtos com data de validade mais próxima ficam expostos na parte da frente das prateleiras. E são exatamente esses que vão estragar antes que uma só pessoa os consuma. Antes de comprar, observe as informações nas embalagens, especialmente de leite, suco, queijos e ovos.
        </div>
        </p>
        
        <p><div class="item_title">3. Evite comprar em atacado.</div>
        <div class="item_content">Sabemos que embalagens pequenas, especialmente as de queijo, condimentos e carne, costumam ser mais caras, mas pode ser que você economize a longo prazo se optar por elas. Ao jogar fora metade de uma embalagem grande de maionese que estragou, por exemplo, você acaba não fazendo economia alguma.
        </div>
        </p>
        
        <p><div class="item_title">4. Sacos para congelar ajudam a economizar.</div>
        <div class="item_content">
        </div>
        </p>
        
        <p><div class="item_title"></div>
        <div class="item_content">Embale porções individuais de carne bovina e peixes e congele. Os molhos prontos para as massas também podem ser congelados em porções menores. Só lembre-se de que, mesmo congelados, os alimentos têm limite de validade. A carne vermelha e o peixe podem ficar armazenados por até três meses; refeições prontas não devem ultrapassar seis.
        </div>
        </p>
        
        <p><div class="item_title">5. Evite pratos prontos industrializados.</div>
        <div class="item_content">A maioria deles foi pensado para muitas pessoas. Uma pizza congelada pode servir seis; uma embalagem de massa, oito pessoas. No açougue, procure porções pequenas de carne e, na seção de perecíveis, dê preferência a pacotes de legumes e verduras pré-lavados. Na padaria, peça apenas a metade ou um quarto do frango assado.
        </div>
        </p>
        
        <p><div class="item_title">6. Converse com o açougueiro e o peixeiro.</div>
        <div class="item_content">Dê preferência a mercados onde você encontre esses profissionais. Normalmente, eles podem servir a porção que você quiser. Peça para que embrulhem apenas um peito de frango, um bife ou um file de peixe.
        </div>
        </p>
        
        <p><div class="item_title">7. Vá à feira ou ao hortifruti.</div>
        <div class="item_content">Nesses locais é mais fácil encontrar frutas, legumes e verduras mais saborosos do que no supermercado. Além disso, os alimentos não costumam ser embalados em grandes quantidades.
        </div>
        </p>
        
        <p><div class="item_title">8. Convide um amigo para as compras.</div>
        <div class="item_content">Se você acha que fazer comprar é chato, aproveite para convidar um amigo e contar as novidades da semana.
        </div>
        </p>

