<div class="visitor_article">
    <p class="visitor_title">
        Quatro truques fashion

    <p/>

    <div class="artical">Artigo de: Camille Noe </div>
    <div class="artical">Tradução: Juliana Borel </div>
    <hr class="hr_gray hr_article"/>

    <p>
        Quer parecer mais magra e alta? Siga as dicas da editora de moda Alison Deyette  e saiba como se vestir durante o emagrecimento:
    </p>

    <p>


    <div class="item_content">
        1) Concentre-se na forma total do seu corpo e não somente nos pontos mais “problemáticos” – Se preocupar com o quadril largo, por exemplo, pode atrapalhar o resultado final. Olhe-se no espelho e finja que só pode ver sua silhueta. Repare bem no seu formato. Use roupas que deixem todas as partes do seu corpo equilibradas.


    </div>
    </p>

    <p>


    <div class="item_content">
        2) Use roupas que realmente caibam em você – nem mais largas nem mais apertadas. Elas só farão você parecer maior. Não tente “esconder” o formato de seu corpo, mas valorizá-lo.
    </div>
    </p>

    <p>


    <div class="item_content">
        3) Use acessórios adequados – Acessório grandes e ousados podem chamar atenção para seus atributos favoritos. Use anéis que chamem atenção para suas mãos ou brincos que valorizem o seu rosto. Um cachecol ou um cordão comprido podem fazer a parte superior do corpo parecer mais fina.
    </div>
    </p>

    <p>


    <div class="item_content">
        4) Se achar que nada disso funcionou, lembre-se desses padrões: golas em V são ótimas para qualquer tipo de colo, pois fazem o pescoço parecer mais comprido. Não use calças plissadas, elas chamam atenção para coxas e barriga. Use salto alto! São ótimos para alongar as pernas.
    </div>
    </p>

</div>
