
    <p class="visitor_title">4 metas de exercícios para o ano novo<p/>
    <div class="artical">Artigo de: Camille Noe; Tradução de: Gabriela Sucupira</div>
    <hr/>
    
    <p>
        <div class="item_content">A chegada de um novo ano traz também um visual renovado, mais esbelto e maravilhoso. Acha que essa afirmação expressa algo difícil de concretizar? Ela será possível se você fizer as promessas certas.</div>
        <div class="item_content">“Muitas pessoas costumam não alcançar seus objetivos porque estabelecem metas pessoais impossíveis ou porque não são honestas consigo mesmas sobre sua rotina de atividades físicas”, explica Dana Rucci, ex-treinadora e representante na IDEA Health and Fitness Association, importante associação de profissionais de atividades físicas e bem-estar na Califórnia (EUA).</div>
        <div class="item_content">“O essencial é fazer mudanças pequenas e possíveis que gerem grandes resultados”, sugere Rucci. Para ajudá-lo a começar, reunimos quatro metas de exercícios que podem ajudar a fazer do próximo o melhor de todos os anos. </div>
    </p>


    <p>
    <div class="item_content"><b>1. Faça dos exercícios um hábito</b></div>
    
    <div class="item_content">
        Ao contrário do que você gostaria, praticar atividades físicas apenas duas vezes por semana não vai tonificar as coxas nem levantar seus glúteos. Para ver resultados, os exercícios devem ser uma atividade diária, fazer parte da sua rotina (como escovar os dentes, por exemplo).
        Felizmente, isso não significa gastar uma hora na academia diariamente. Rucci sugere: “Se você não gosta da ideia de correr na esteira, seja criativo. Saia com cachorro para uma caminhada rápida ou corra com seus filhos no parque ou no seu condomínio”. E lembre-se...
    </div>
    </p>
    
    
    <p>
    <div class="item_content">
        <b>2. Não seja muito duro consigo mesmo</b>
    </div>
    <div class="item_content">
        Uma das razões principais por que as pessoas não seguem sua rotina de exercícios é porque almejam a perfeição no desempenho. Quando não a alcançam, elas desistem. “Não jogue a toalha se faltar a uma aula ou se tiver uma semana ruim”, recomenda Rucci. Reconheça que falhou em sua rotina de exercícios e volte ao eixo assim que possível, mesmo que isso signifique fazer algumas flexões de braço e abdominais antes de dormir. E anime-se! Não seguir seu plano de exercícios por uma ou duas semanas não resultará em um ganho de peso muito grande, nem na perda da tonicidade dos músculos já conquistada com muito suor.
    </div>
    </p>
    

    <p>
    <div class="item_content">
        <b>3. Ande mais</b>
    </div>
    <div class="item_content">
        Alguns passos a mais por dia podem fazer muita diferença no seu corpo e na sua saúde. “Estudos mostram que, quando combinadas a um plano alimentar saudável, caminhadas diárias de 30 minutos podem ajudar a emagrecer e diminuir o risco de doenças cardiovasculares, derrame e diabetes”, esclarece a Dra. I-Man Lee, professora do curso de Medicina da Universidade de Brigham.
    </div>
    <div class="item_content">
        “Se você já tem o hábito de caminhar, aumente seus esforços aos poucos, até conseguir correr por uma hora”, sugere ainda a doutora Lee. Se tiver pouco tempo disponível, faça caminhadas de 10−15 minutos antes do trabalho, no horário de almoço, durante as compras e no percurso para o seu carro. Para ter acesso à contagem exata, invista em um pedômetro.
    </div>
    </p>

    <p>
    <div class="item_content">
        <b>4. Procure o equilíbrio</b>
    </div>
    <div class="item_content">
        “Fazer apenas um tipo de exercício (aeróbico, por exemplo) pode ser monótono e ineficaz”, afirma Rucci. Combinar exercícios cardiovasculares, musculação, ioga, pilates ou alongamento, além de afastar o tédio, vai ajudá-lo a emagrecer e fortalecer seus músculos.
        A sala de musculação ou as aulas em grupo intimidam? Opte por exercícios caseiros com auxílio de um DVD de ginástica, busque o apoio de um especialista ou peça a um amigo para ser seu parceiro de atividades e lhe dar apoio moral.
    </div>
    </p>

