<div class="visitor_title">A maquiagem enxuta</div>


    <div class="artical">Artigo de: Sheryl Kraft</div>
    <div class="artical">Tradução: Gabriela Sucupira</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Ter uma alimentação saudável e praticar exercícios físicos diariamente são os pilares para você atingir sua meta de peso saudável. Mas o que poucos sabem é que a maquiagem também pode influenciar — e muito! — na aparência da mulher que está perdendo peso.

      </p>
    <p>
        Quer deixar seu rosto com aparência mais magra? Para provocar essa “ilusão de ótica”, você não precisa ser um mestre em maquiagem e produtos de beleza, basta conferir as recomendações dos especialistas e fazer da maquiagem uma aliada do seu visual cada vez
        mais esbelto.

    </p>


    <p>

    <div class="item_title">Sobrancelhas lindas!</div>

    <div class="item_content">
        <p>
            Existem diversos truques para dar um aspecto mais estreito ao rosto. Por incrível que pareça, modelar as sobrancelhas é apenas um deles. Confira os erros mais comuns de modelagem de e as soluções adequadas para cada tipo de rosto.
        </p>

        <p>
            <b>Armadilha 1: </b> Desenhe ou modele as sobrancelhas (retas ou arredondadas, como preferir). O ideal é usar a pinça mais inclinada para facilitar a remoção dos pelos.
        </p>

        <p>
            <b>Dica:</b>Tirar todos os pelos que vir pela frente. Uma sobrancelha muito fina pode deixar o rosto mais cheinho.
        </p>

        <p>
            <b>Armadilha 2: </b> Colorir as sobrancelhas  em tom mais escuro do que a cor natural de seu cabelo. Isso pode prejudicar sua aparência, deixando o rosto mais redondo.
        </p>

        <p>
            <b>Dica: </b>  Tente combinar as cores do lápis e pó com a tonalidade do seu cabelo e sobrancelhas.
        </p>

        <p>
            <b>Maquiagem modeladora</b>
            De acordo com os especialistas no assunto, existem muitas maneiras de deixar os traços faciais mais delineados. O primeiro passo é usar e abusar das tonalidades escuras, pois podem criar a ilusão de que o rosto é mais estreito (o mesmo que ocorre com as roupas!).  Além disso, tons mais escuros de base e pó podem ajudar a disfarçar probleminhas na pele.  Na maioria dos casos, a solução está no pó, que deve ser adequado à cor natural da sua pele. Veja alguns erros comuns e a maneira correta de usar a maquiagem a seu favor:
        </p>
        <p>
            <b>
                Armadilha 1:
            </b>Utilizar o pó para contornar as bochechas ou bronzeá-las.
      </p>

        <p>
            <b>
                Dica:
            </b>Use em áreas que precisam de reforço, como as maçãs do rosto, queixo e laterais do nariz.
        </p>

        <p>
            <b>
                Armadilha 2:
            </b>Aplicar o blush no centro das bochechas.
        </p>

        <p>
            <b>Dica:

            </b>Posicione o pincel na altura das bochechas, pintando a região do rosto mais próxima das orelhas.
        </p>

        <p>
            <b>Armadilha 3:

            </b>Usar pincéis com cerdas grossas e rígidas.
        </p>

        <p>
            <b>Dica:

            </b>Escolha um pincel macio, de preferência com cerdas naturais e 1,5 cm de largura.
        </p>

        <p>
            <b>
                Armadilha 4:
            </b>Aplicar pó e o blush em partes isoladas do rosto.
        </p>

        <p>
            <b>
                Dica:
            </b>Segure o pincel levemente para fazer os contornos no rosto. Tente adicionar o blush depois do pó. Dessa forma, um cosmético poderá complementar o outro.
        </p>


    </div>
    </p>


</div>
