<div class="visitor_article">
    <p class="visitor_title">
        Que tal experimentar um spa diferenciado, inspirado em produtos que você obtém da natureza?

    <p/>

    <div class="artical">Artigo de: Bunny Wong; Tradução e adaptação de: Natália Lucas</div>
    <hr class="hr_gray hr_article"/>

    <p>
        Uma maçã por dia mantém você longe dos consultórios médicos e dos dermatologistas, também. Isso se deve ao fato de que os nutrientes que fazem com que as frutas e legumes façam bem para sua saúde também são excelentes para a sua pele e cabelos. Pegue alguns em sua geladeira e você encontrará os ingredientes para milhares de tratamento de beleza.
    </p>

    <p>
        Veja essas máscaras criativas com um custo incrivelmente baixo: são uma ótima forma de usar aquelas frutas e vegetais que ficam escondidos na gaveta de sua geladeira no fim da semana.
    </p>




    <p>

    <div><b>Tonifique sua pele com maçã...</b></div>
    <div>
        “As maçãs são adequadas para peles secas e com rugas", conta a especialista em beleza natural Janice Cox, autora de Beleza Natural em Casa. Cox explica que a fruta pode tornar a pela mais macia e limpá-la profundamente sem causar o efeito rebote. Prepare um tonificante rapidamente misturando ¼ de xícara de suco de maçãs frescas sem açúcar (você terá o mesmo efeito com suco de peras frescas) e 4 colheres de sopa de hamamélis. Refrigere em um recipiente hermético e aplique com um chumaço de algodão.
    </div>
    </p>


    <p>

    <div><b>...e limpe-a profundamente com a máscara de cenoura. </b></div>
    <div>
        “As cenouras são ricas em vitamina A, referida normalmente como a vitamina da 'beleza' devido a sua importância em manter a pele saudável", conta Cox, que acrescenta que essa máscara ajuda a reter a humidade da pele. Misture 2 colheres de sopa de suco de cenouras frescas e argila branca (vendida em lojas de produtos naturais ou na seção de alimentos saudáveis de alguns supermercados). A seguir, espalhe essa pasta homogênea em seu rosto; deixe descansar por 15 minutos. Limpe com água morna e, a seguir, enxágue com água fria.
    </div>
    </p>

    <p>

    <div><b>Use abacates para hidratar o cabelo. </b></div>
    <div>
        Se seu cabelo estiver seco e quebradiço, recorra ao abacate. A proprietária do Day-spa Laura du Priest, autora de Natural Beauty: Pamper Yourself with Salon Secrets at Home (Beleza Natural: cuide-se usando nossos segredos de salão em casa), recomenda uma mistura simples e rica em óleo de abacate e duas colheres de sopa de maionese (ou um pouco de banana madura amassada). Massageie essa mistura pelo cabelo limpo e seco e coloque uma toca de banho. Deixe repousar por 10 a 20 minutos e, a seguir, enxágue com água morna e xampu.
    </div>
    </p>

    <p>

    <div><b>Dentes mais brancos com morangos. </b></div>
    <div>
        Ricas em ácido salicílico, essas lindas frutinhas vermelhas são em si um ótimo adstringente. Se você tiver a pele oleosa, corte um morango ao meio, esfregue delicadamente em seu rosto e lave; se sua pele for mais sensível, amasse com um garfo, aplique e deixe agir por em torno de um minuto e lave. Os morangos também são incríveis branqueadores de dente fáceis de usar. "Você só precisa comer alguns para ajudar a tornar seu sorriso mais branco", conta Cox.
    </div>
    </p>

    <p>

    <div><b>Fique pronto para a praia com abacaxis. </b></div>
    <div>
        Essas frutas tropicais podem ser usadas para limpar e refrescar sua pele. A água tônica de abacaxi para o corpo de Cox é ótima para veranistas com a pele oleosa ou acne. Misture 1 xícara de suco de abacaxi (ou esprema um abacaxi em um processador de alimentos até que fique homogêneo) com 2 xícaras de água tônica ou água mineral com gás. Coloque em um pulverizador e borrife após o banho.
    </div>
    </p>
</div>
