<div class="instruction_title">
    “Ter um peso saudável é possível, real e maravilhoso!”
</div>
<div class="section1">
    <p class="section_head">
        Comprar as roupas que eu gosto? Sim, eu posso!</p>
    <p>“Já não era eu quem escolhia as roupas que queria vestir, mas eram aquelas que cabiam em mim é que me escolhiam”, conta Bianca, que conquistou o manequim desejado após perder 31,2 kg com o Vigilantes do Peso.</p>
<p>
    Bianca relembra que sempre gostou de cozinhar e “era comum reunir os amigos em casa para comer.” Apesar de parecerem “deliciosos”, os pratos servidos “eram muitos gordurosos e ainda acompanhados de muita cerveja.” Ela acrescenta que esse cardápio “não se restringia aos finais de semana”, pelo contrário, foi sua rotina alimentar diária adotada durante 15 anos.
</p>
    <p>
    Desde os 16 anos, Bianca vivia “uma vida sedentária e totalmente desregrada.” Quando chegou aos 30, não aguentava mais comprar apenas as roupas que cabiam em seu corpo, queria voltar a escolhê-las de acordo com seu gosto.
    </p>
    <p>
    O momento decisivo para mudar de vida foi quando foi às compras. “Resolvi comprar uma bermuda que vi na vitrine da ‘loja para gordinhas’”, diz Bianca, mas como estava muito acima de seu peso nem a peça escolhida, tamanho 48, coube em seu corpo. Ela lembra: “quase chorei! Senti-me péssima, como já havia me sentido em outras ocasiões, mas estava cansada de agir assim.” Foi quando aceitou os convites de sua irmã e de uma amiga, Associadas, e participou da primeira reunião no Vigilantes do Peso.
    </p>
    <p>
    Ao chegar à primeira reunião, sentiu-se entusiasmada por ser bem recebida pelo grupo, que partilhou com ela experiências de emagrecimento. Um dos Associados havia perdido 20 kg! Após ouvir as histórias de sucesso, ficou animada e decidiu aderir esse novo estilo de vida.
    </p>
    <p>
    “Após a primeira semana, com 2,8kg a menos, comecei a ter certeza de que seria possível , sim” emagrecer, Bianca conta.  Dedicou-se a seguir o programa da melhor maneira possível, passou a se exercitar e a escolher alimentos mais saudáveis. Essa mudança passou por altos e baixos, mas cada vez que a balança não marcava alguma perda de peso, Bianca reavaliava como estava seguindo o programa.
    </p>
    <p>
    A cada semana, sua vitória se tornava mais visível. Assim, ao alcançar sua meta, após 7 meses, Bianca acredita que a cada dia continua conquistando uma “vida nova, roupas novas, elogios e apoio” e deixa uma mensagem para todos: “Ter um peso saudável é possível, real e maravilhoso!”
    </p>
</div>
