<div class="instruction_title">
    "Conto para todos o segredo do meu sucesso: o estilo de vida do Vigilantes do Peso."
</div>
<div class="section1">
    <p class="section_head">
        A saúde agradece</p>

    <p>
        Flávia diz que perder peso sem passar fome e ainda contar com o apoio oferecido nas reuniões semanais foi tudo o que ela precisava para mudar seu estilo de vida.</p>
    </p>
    <p>
        O excesso de peso começou a prejudicar a saúde de Flávia, causando problemas típicos da obesidade grau 2: dores e inchaço no corpo, pressão alta, fadiga, depressão, colesterol e glicose num nível limítrofe. Para tentar solucionar tudo isso, ela buscou alternativas que pudessem levá-la a um peso saudável. Matriculou-se na academia e contratou serviços de um personaltrainer, mas ela não conseguiu adaptar sua alimentação ao novo ritmo...
    </p>
    <p class="section_title">
        Uma nova esperança para Flávia</p>
    <p>
        Tudo começou a mudar quando uma amiga comentou sobre o Vigilantes do Peso. Flávia chegou à primeira reunião cheia de esperanças e decidiu adotar um novo estilo de vida. Ela conta que o programa se encaixou perfeitamente no que precisava e procurava há anos: "Emagrecer com apoio semanal de alto nível, orientada por uma pessoa maravilhosa e profissional, sem precisar passar fome... era tudo o que eu pedi a Deus!"
    </p>
    <p class="section_title">
        Hábitos novos, vida nova...
    </p>
    <p>
        Sua alimentação mudou muito. Flávia passou a dar preferência a alimentos saudáveis (especialmente àqueles com poucos PONTOS!), colocando em prática as diretrizes do programa.  É claro que o paladar não ficou de lado: Flávia diz que adora o arroz e o feijão do Vigilantes do Peso.
    </p>
    <p>
        Outro hábito adotado foi o de preparar a lista de compras em casa, antes de ir ao supermercado, para evitar comprar alimentos por impulso.
    </p>
    <p>
        Em relação às atividades físicas, ela aprendeu que a frequência e a regularidade são tão importantes quanto a intensidade. Flávia se esforçou para transformar os exercícios em hábito diário. Hoje, ela se exercita cinco dias por semana, combinando exercícios aeróbicos com musculação.
    </p>
    <p>
        Flávia não contou somente com o apoio de sua Orientadora e colegas de reuniões. Em casa, sua cozinheira também ajudou, preparando alimentos com atenção aos PONTOS e controlando suas visitas à cozinha.
    </p>
    <p class="section_title">
        A saúde agradece!
    </p>
    <p> O primeiro sucesso alcançado está na memória da Associada: ela perdeu 1,4 kg na primeira semana, sem passar fome ou ingerir medicamentos. Flávia diz que nunca pensou em desistir e que as maiores vantagens de ter um peso saudável são “se sentir bem com você mesma, vestir a roupa que sempre quis e se achar bonita, ser elogiada, querer sair, viajar e ser referência para pessoas que estão buscando o mesmo resultado. Em outras palavras, perder peso com o Vigilantes do Peso só traz vantagens!”, explica.
    </p>
    <p>  Hoje, pesando 57 kg, Flávia comemora: "Estou muito feliz e continuo contando para todo mundo o segredo do meu sucesso: o estilo de vida do Vigilantes do Peso!"

    </p>


</div>
