
<div class="instruction_title">
    “Em uma bolsa térmica, levava um kit com lanches saudáveis...”
</div>
<div class="section1">
    <p class="section_head">
        Saúde e qualidade de vida no trabalho</p>

    <p>
        A Associada mineira Natalia levou o Vigilantes do Peso Empresas para seu local de trabalho...</p>

    <p>
        desenvolveu hábitos mais saudáveis e adaptou o ambiente em que passava a maior parte do seu tempo para manter uma alimentação equilibrada e conquistar o sucesso no emagrecimento.
    </p>
    <p class="section_title">
        Novo peso para uma vida nova
    </p>
    <p>
        Natália estava noiva e, pesando 75,9 kg, encontrou em seu casamento a motivação de que precisava para emagrecer e conquistar um estilo de vida mais saudável. “Minha meta inicial era perder 5 kg, pois, como toda mulher, eu queria estar linda em meu vestido de noiva no dia mais especial da minha vida”, lembra. Então, a Associada decidiu aderir ao programa e passou a frequentar as reuniões tradicionais do Vigilantes do Peso.
    </p>
    <p>
        Durante os encontros semanais, Natalia contou com o Apoio do grupo para colocar o programa em prática. “O incentivo da minha Orientadora e de outros Associados foi fundamental para eu adotar novos hábitos e seguir em frente. Com eles, eu aprendi que era possível perder peso sem restrições.”
    </p>
    <p class="section_title">
        Reuniões em seu local de trabalho
    </p>
    <p>
        À medida que emagrecia, Natália passou a receber elogios no trabalho e era questionada sobre sua fórmula de emagrecimento. Navegando pelo nosso site, ela descobriu que era possível levar as reuniões para seu local de trabalho por meio do Vigilantes do Peso Empresas.
    </p>
    <p>
        A Associada conta que fez uma pesquisa informal sobre quem tinha interesse em participar do programa e conversou com sua gerente sobre a ideia. A diretoria autorizou a parceria com o Vigilantes do Peso e disponibilizou uma sala onde aconteceriam as reuniões. “Com o programa At Work, até os funcionários que tinham pouco tempo disponível foram beneficiados com os encontros durante o expediente”, relata.
    </p>
    <p class="section_title">
        Escolhas alimentares inteligentes
    </p>
    <p>
        Desde então, Natália passou a assistir às reuniões em sua empresa, onde obteve mais dicas para manter hábitos saudáveis no dia a dia e fazer escolhas alimentares mais inteligentes. “No almoço, procurava comer pratos mais leves, como saladas e peixes grelhados, e me habituei a comer frutas e outros lanches saudáveis entre as refeições principais”, conta.
    </p>
    <p>
        Nos encontros, ela recebeu orientações sobre como se planejar para manter uma alimentação equilibrada durante as viagens de negócios. “Em uma bolsa térmica, levava um kit com lanches saudáveis, como frutas, pão integral e queijo branco”, lembra. Ela também aprendeu a falar “não” quando seus colegas ofereciam algum alimento que ela não tinha planejado comer.
    </p>
    <p>
        Ao controlar os alimentos e suas porções, a Associada percebeu que poderia comer suas guloseimas prediletas e, ainda assim, perder peso. “Antes, eu abria um pacote de biscoitos recheados e comia inteiro, sozinha, sem apreciar. Eu comia por compulsão e depois me sentia muito culpada. Hoje, mastigo devagar para sentir o sabor dos alimentos e presto atenção aos sinais de saciedade do meu corpo para não exagerar nas quantidades.”
    </p>
    <p class="section_title">
        Resultados Vitoriosos
    </p>
    <p>
        Seguindo o programa, Natália deu adeus a 18 kg. “A melhor sensação da minha vida foi quando vesti um short manequim 42, quando antes eu vestia o 46. Me senti linda, poderosa, capaz de guiar o rumo da minha vida e do meu emagrecimento. Indico o programa para todos que querem emagrecer ou apenas manter o peso.”
    </p>

</div>
