
<div class="instruction_title">
    “Quando troquei minha calça jeans por outra de número menor, foi emocionante.”
</div>
<div class="section1">
    <p class="section_head">
        O grande vencedor</p>

    <p>
        Douglas recuperou a autoestima, melhorou o desempenho nos estudos, nos jogos de futebol e até a sua vida social tomou outro rumo!</p>

    <p>
        Desde os 15 anos, ele queria emagrecer, pois seus “amigos” sempre faziam brincadeiras de mau gosto. Douglas conta que “comia demais, ficava muito tempo assistindo TV e na frente do computador”. Além disso, acordava todas as noites para comer.
      </p>
    <p>
        Apesar do sobrepeso sempre gostou de jogar futebol, mas “tinha muita dificuldade nos dribles, na corrida,” nos lances em geral, com seus 121 kg.
    </p>
    <p class="section_title">
        Ele resolveu mudar de vida.
    </p>
    <p>
    Douglas consultou alguns especialistas em emagrecimento (uma nutricionista e um homeopata), mas não se adaptou às mudanças na alimentação propostas.
    </p>
    <p>
    Um dia, uma prima de sua mãe falou sobre o Vigilantes do Peso. Cansado de tentar emagrecer de diversas maneiras sem sucesso, não se animou muito, mas sua mãe o incentivou e convenceu a ir às reuniões.
    </p>
    <p>
    Na primeira reunião, conta que estava inseguro e incerto sobre o programa, pois “não gostava de ir a lugares com muitas pessoas”. Nas primeiras semanas não estava muito empolgado, mas depois começou a entender que o emagrecimento eficiente dependia da mudança de padrões de pensamento e hábitos, e aderiu o programa com mais convicção.
    </p>
    <p class="section_title">
    Ele realmente mudou de vida!
    </p>
    <p>
    Uma de suas conquistas foi conseguir voltar a jogar futebol sem dificuldades. Douglas também passou a fazer musculação regularmente. Outra conquista foi o hábito de observar os nutrientes dos alimentos antes de comprá-los. Ele descobriu quais eram os verdadeiramente saudáveis. Além disso, aprendeu a controlar os tamanhos de suas porções. Ele enfatiza que “todo alimento deve ser consumido moderadamente, principalmente aqueles de que mais gostamos”, aqueles mais calóricos.
    </p>
    <p>
    O Associado lembra: “quando troquei minha calça jeans por outra de número menor, foi tão emocionante. Senti-me um grande vencedor!” Hoje, 37 kg mais magro, acredita que emagrecer serve de exemplo para “tudo o que puser em prática em sua vida, seja relacionado a saúde, ao bem-estar ou a novos projetos”.
    </p>

</div>

